#tab1 {
  padding: 30px;
  padding-top: 65px; }
  #tab1 .grid-item {
    width: 250px; }
  #tab1 .place {
    padding: 5px 0px 0px;
    margin-bottom: 30px;
    margin-right: 20px; }
    #tab1 .place span {
      display: block;
      font: 16px "Roboto Slab", serif;
      margin-bottom: 13px; }
    #tab1 .place a {
      text-decoration: none;
      margin-right: 10px;
      border: 1px dashed #dddddd;
      border-radius: 25px;
      padding: 5px 15px;
      color: #4f4340;
      font: 13px "Open Sans",serif; }
      #tab1 .place a.active {
        background: #3BB18F;
        border-color: #3BB18F;
        color: white; }