#tab2 {
  padding: 30px;
  overflow: hidden; }
  #tab2 .card .sum {
    font: 16px "Roboto Slab",serif;
    width: 240px;
    float: left;
    border: 3px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0; }
    #tab2 .card .sum div {
      font: 16px "Roboto Slab",serif;
      border-top: 1px solid #dddddd;
      padding-top: 15px;
      margin-top: 15px; }
      #tab2 .card .sum div span {
        display: block;
        font: 24px "Roboto Slab"; }
        #tab2 .card .sum div span span {
          font: 22px "Roboto Slab";
          display: inline; }
  #tab2 .card .sales {
    float: left;
    margin-left: 20px; }
    #tab2 .card .sales .sale {
      font: 16px "Roboto Slab",serif;
      text-align: right;
      float: left;
      margin: 20px 0;
      padding-right: 20px; }
    #tab2 .card .sales .delimiter {
      border-right: 1px dotted #dddddd;
      width: 1px;
      height: 40px;
      float: left;
      margin-top: 22px; }
      #tab2 .card .sales .delimiter:after {
        content: "5%";
        font: 24px "Roboto Slab";
        color: #3BB18F;
        margin-left: 15px; }
    #tab2 .card .sales a {
      color: #333333;
      text-decoration: none;
      margin-bottom: 5px;
      display: block; }
      #tab2 .card .sales a span {
        border-bottom: 1px dotted; }