#tab3 {
  padding: 30px;
  padding-top: 48px; }
  #tab3 table {
    border: 0; }
    #tab3 table tr:last-child td {
      border-bottom: 0; }
    #tab3 table tr td {
      border: 0;
      border-right: 1px solid #dddddd;
      border-bottom: 1px dotted #dddddd;
      padding: 0 15px; }
      #tab3 table tr td:last-child {
        border-right: 0; }
      #tab3 table tr td i {
        color: #3BB18F;
        margin-right: 5px; }
  #tab3 .col {
    margin-top: 20px;
    border: 1px solid #dddddd;
    overflow: hidden; }
    #tab3 .col.col-hidden {
      height: 49px; }
    #tab3 .col .col-header {
      background: #f8f8f8;
      height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 25px;
      border-bottom: 1px solid #dddddd;
      font: 16px "Roboto Slab";
      cursor: pointer; }
      #tab3 .col .col-header .name {
        font: 16px "Roboto Slab",serif; }
      #tab3 .col .col-header i {
        color: #3bb18f;
        font-size: 18px;
        margin-right: 5px; }
      #tab3 .col .col-header .toggle {
        font-size: 12px; }
        #tab3 .col .col-header .toggle i {
          margin-right: 0;
          margin-left: 5px; }
      #tab3 .col .col-header > * {
        white-space: nowrap; }
    #tab3 .col .col-body {
      padding: 22px 20px; }