#tab4 {
  padding: 25px;
  padding-top: 65px; }
  #tab4 .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #tab4 .items .item {
      position: relative;
      border: 3px solid #dddddd;
      margin-bottom: 20px; }
      #tab4 .items .item .delete {
        position: absolute;
        right: 30px;
        top: 90px; }
        #tab4 .items .item .delete i {
          font-size: 26px;
          color: #BCBCBC;
          padding-left: 10px; }
      #tab4 .items .item .image {
        border-right: 3px solid #dddddd;
        float: left;
        padding: 13px; }
      #tab4 .items .item .description {
        float: left;
        margin-left: 31px;
        width: 350px;
        padding: 25px 0; }
        #tab4 .items .item .description .name {
          margin-bottom: 10px; }
          #tab4 .items .item .description .name span {
            font: 16px "Roboto Slab",serif; }
            #tab4 .items .item .description .name span:hover {
              border-bottom: 1px solid #3BB18F; }
        #tab4 .items .item .description .point {
          float: left; }
          #tab4 .items .item .description .point span {
            font: 20px "Roboto Slab"; }
        #tab4 .items .item .description .gift {
          float: left;
          background-color: #ef5228;
          color: white;
          border-radius: 25px;
          padding: 0 9px;
          font-size: 14px;
          line-height: 25px;
          display: inline-block;
          text-decoration: none;
          font-weight: 700;
          margin-right: 20px; }
      #tab4 .items .item .col {
        float: left;
        margin-top: 88px;
        margin-left: 35px; }
        #tab4 .items .item .col .min, #tab4 .items .item .col .max, #tab4 .items .item .col .number {
          float: left; }
        #tab4 .items .item .col i {
          font-size: 18px;
          color: #3BB18F;
          vertical-align: -webkit-baseline-middle; }
        #tab4 .items .item .col .number {
          border: 2px solid #dddddd;
          border-radius: 13px;
          padding: 2px 11px;
          margin: 0 7px; }
      #tab4 .items .item .price-block {
        margin-top: 89px;
        margin-left: 35px;
        float: left;
        font: 24px "Roboto Slab",serif; }
        #tab4 .items .item .price-block.old {
          margin-top: 75px; }
          #tab4 .items .item .price-block.old a {
            margin-top: 15px; }
        #tab4 .items .item .price-block .old-price {
          color: #BCBCBC;
          display: block;
          font-size: 18px;
          text-decoration: line-through; }
          #tab4 .items .item .price-block .old-price span {
            font-size: 12px;
            color: #BCBCBC; }
        #tab4 .items .item .price-block span {
          font: 16px "Roboto Slab",serif; }
        #tab4 .items .item .price-block a {
          margin-top: 25px;
          color: #cd343a;
          border: 2px solid;
          border-radius: 25px;
          padding: 0 30px;
          font-size: 14px;
          line-height: 29px;
          display: block;
          text-decoration: none;
          font-weight: 700; }
          #tab4 .items .item .price-block a:hover {
            background: #cd343a;
            color: white; }