#tab5 {
  padding-top: 40px; }
  #tab5 .red-link {
    border-top: 1px solid #dddddd;
    margin-bottom: 13px;
    margin-top: 3px;
    padding: 11px 0; }
    #tab5 .red-link a {
      margin-top: 15px;
      color: #cd343a;
      border: 2px solid;
      border-radius: 25px;
      padding: 0 23px;
      font-size: 14px;
      line-height: 25px;
      display: inline-block;
      text-decoration: none;
      font-weight: 700; }
      #tab5 .red-link a:hover {
        background: #cd343a;
        color: white; }
  #tab5 .settings {
    padding: 4px 28px; }
    #tab5 .settings h2 {
      font: 24px "Roboto Slab",serif;
      margin-bottom: 25px; }
    #tab5 .settings .password h2 {
      margin-top: 10px; }
    #tab5 .settings .data, #tab5 .settings .password {
      width: 395px; }
      #tab5 .settings .data .email, #tab5 .settings .password .email {
        float: left; }
      #tab5 .settings .data textarea, #tab5 .settings .password textarea {
        height: 115px; }
      #tab5 .settings .data label, #tab5 .settings .password label {
        margin-bottom: 3px; }
      #tab5 .settings .data input, #tab5 .settings .data textarea, #tab5 .settings .password input, #tab5 .settings .password textarea {
        outline: none;
        border-radius: 20px;
        border: 3px solid #dddddd;
        text-indent: 20px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 18px;
        line-height: 22px; }
      #tab5 .settings .data .red-button, #tab5 .settings .password .red-button {
        text-align: center; }
        #tab5 .settings .data .red-button button, #tab5 .settings .password .red-button button {
          color: #cd343a;
          border: 2px solid;
          border-radius: 25px;
          padding: 0 18px;
          line-height: 28px;
          display: inline-block;
          background: white;
          text-decoration: none;
          font-weight: 700; }
          #tab5 .settings .data .red-button button:hover, #tab5 .settings .password .red-button button:hover {
            background: #cd343a;
            color: white; }
      #tab5 .settings .data label, #tab5 .settings .password label {
        display: block;
        text-align: left;
        font: 14px "Roboto Slab",serif; }
    #tab5 .settings .subscription .title {
      margin-bottom: 11px; }
    #tab5 .settings .subscription div {
      position: relative; }
      #tab5 .settings .subscription div label {
        margin-left: 28px;
        line-height: 28px;
        margin-bottom: 2px;
        font-weight: 400; }
      #tab5 .settings .subscription div input {
        -webkit-appearance: none; }
      #tab5 .settings .subscription div .check {
        position: absolute;
        top: 0;
        outline: none;
        width: 0;
        height: 0; }
        #tab5 .settings .subscription div .check:before {
          content: "";
          border: 2px solid #dddddd;
          width: 20px;
          height: 20px;
          display: inline-block; }
        #tab5 .settings .subscription div .check:checked:after {
          text-align: center;
          outline: none;
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          top: 0;
          font-size: 16px;
          content: "\f00c";
          font-family: "FontAwesome";
          color: #3BB18F;
          display: inline-block; }