.grid-item {
  position: relative; }
  .grid-item span {
    font: 18px "Roboto Slab",serif;
    color: white;
    position: absolute;
    bottom: 21px;
    left: 21px; }

h3 {
  font: 24px "Roboto Slab", serif;
  margin-bottom: 20px; }

article {
  font: 18px "Roboto Slab", serif;
  background: #f8f8f8;
  padding: 32px 96px;
  margin: 25px 0;
  margin-right: 10px;
  position: relative; }
  article i {
    font-size: 40px; }
  article .left i {
    color: #3BB18F;
    top: 30px;
    left: 30px;
    position: absolute; }
  article .right i {
    color: #e9e9e9;
    right: 26px;
    bottom: 30px;
    position: absolute; }

.description p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px; }
  .description p a {
    color: #3BB18F;
    border-bottom: 1px solid #3BB18F; }
    .description p a:hover {
      text-decoration: none; }
.description .image {
  position: relative;
  float: left;
  margin-right: 30px; }
  .description .image img {
    width: 278px;
    height: 185px;
    border: 5px solid #dddddd; }
  .description .image span {
    font: 18px "Roboto Slab",serif;
    color: white;
    position: absolute;
    bottom: 21px;
    left: 21px; }