.page-plan {
  overflow: hidden; }

h3 {
  margin-left: 110px;
  margin-bottom: 23px; }

.icon-i {
  float: left;
  margin-right: 22px;
  margin-bottom: 8px; }
  .icon-i span {
    line-height: 29px;
    margin-left: 11px; }
  .icon-i .icon {
    border: 1px solid #dddddd;
    border-radius: 50%;
    color: #3BB18F;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    float: left; }
    .icon-i .icon i {
      font-size: 16px; }

.icon-row {
  overflow: hidden;
  margin-left: 110px; }

#tabs2 {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 21px; }
  #tabs2 #current a {
    background: #3BB18F;
    color: white; }
    #tabs2 #current a i {
      color: #3BB18F; }
  #tabs2 li {
    margin: 0;
    padding: 0;
    margin-bottom: 27px; }
    #tabs2 li a {
      text-decoration: none;
      margin-right: 10px;
      background: whitesmoke;
      border-radius: 25px;
      padding: 4px 13px;
      color: #4f4340;
      font: 16px "Roboto Slab",serif;
      position: relative; }
      #tabs2 li a:after {
        content: "";
        width: 30px;
        height: 1px;
        position: absolute;
        top: 15px;
        left: 84px;
        border-bottom: 1px dashed #dddddd; }
      #tabs2 li a span {
        border-bottom: 1px dotted; }
      #tabs2 li a i {
        font-size: 16px;
        padding-right: 7px;
        color: #BCBCBC;
        vertical-align: text-top; }

#content2 {
  float: right;
  margin-top: 18px; }
  #content2 img {
    border: 1px solid #dddddd; }