#tab1{
	padding: 25px 0;
	
	
	.items{
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		.item{
			position: relative;
			border:3px solid #dddddd;
			margin-bottom: 20px;
			
			&:first-of-type{
				&:after{
					height: 47px;
					width: 36px;
					background: #3bb18f;
					color: white;
					content: "\f295";
					position: absolute;
					top: -3px;
					left: -3px;
					-webkit-clip-path: url(#mark-mask);
					clip-path: url(#mark-mask);
					font-size: 20px;
					line-height: 38px;
					font-family: "FontAwesome";
					text-align: center;
				
				}
			}
			
			&:last-of-type{
				&:after{
					height: 47px;
					width: 36px;
					background: #ef5228;
					color: white;
					content: "\f06b";
					position: absolute;
					top: -3px;
					left: -3px;
					-webkit-clip-path: url(#mark-mask);
					clip-path: url(#mark-mask);
					font-size: 20px;
					line-height: 40px;
					font-family: "FontAwesome";
					text-align: center;
					
				}
			}
			
			
			.delete{
				position: absolute;
				right: 30px;
				top: 90px;
				i{
					font-size: 26px;
					color: #BCBCBC;
					padding-left: 10px;
				}
			}
			
			.image{
				border-right: 3px solid #dddddd;
				float: left;
				padding: 13px;
				img{
					padding-bottom: 3px;
				}
			}
			.description{
				float: left;
				margin-left: 31px;
				width: 350px;
				padding: 29px 0;
				.name{
					margin-bottom: 10px;
					span{
						font:16px "Roboto Slab",serif;
						&:hover{
							border-bottom: 1px solid #3BB18F;
						}
					}
				}
				.point{
					float: left;
					span{
						font:20px "Roboto Slab";
					}
				}
				.gift{
					float: left;
					background-color: #ef5228;
					color: white;
					border-radius: 25px;
					padding: 0 15px;
					font-size: 13px;
					line-height: 25px;
					display: inline-block;
					text-decoration: none;
					font-weight: 700;
					margin-right: 20px;
				}
			}
			.col{
				float: left;
				margin-top: 93px;
				margin-left: 35px;
				.min,.max,.number{
					float: left;
				}
				i{
					font-size: 18px;
					color:#3BB18F;
					vertical-align: -webkit-baseline-middle;
				}
				.number{
					border: 2px solid #dddddd;
					border-radius: 13px;
					padding: 2px 11px;
					margin: 0 7px;
				}
			}
			.price-block{
				margin-top: 89px;
				margin-left: 35px;
				float: left;
				font: 24px "Roboto Slab",serif;
				
				&.old{
					margin-top: 75px;
					a{
						margin-top: 15px;
					}
				}
				
				.old-price{
					color: #BCBCBC;
					display: block;
					font-size: 18px;
					text-decoration: line-through;
					span{
						font-size: 12px;
						color: #BCBCBC;
					}
					
				}
				span{
					font: 16px "Roboto Slab",serif;
				}
				
				a{
					margin-top: 25px;
					color: #cd343a;
					border: 2px solid;
					border-radius: 25px;
					padding: 0 30px;
					font-size: 14px;
					line-height: 29px;
					display: block;
					text-decoration: none;
					font-weight: 700;
					&:hover{
						background: #cd343a;
						color: white;
					}
				}
			}
			
		}
	}
	
	.total{
		overflow: hidden;
		padding-bottom: 5px;
		
		.promo{
			float: left;
			input{
				max-width: 164px;
			}
		}
		
		
		.certificate{
			float: left;
			margin-left: 32px;
		}
		
		
		input{
			outline: none;
			border-radius: 20px;
			border: 3px solid #dddddd;
			text-indent: 20px;
			font-size: 13px;
			margin-bottom: 18px;
			line-height: 22px;
			width: 100%;
		}
		
		label{
			display: block;
			text-align: left;
			font: 14px "Roboto Slab",serif;
			i{
				color: #3BB18F;
				padding-left: 8px;
				vertical-align: middle;
				font-size: 20px;
			}
		}
		
		.price{
			font: 24px "Roboto Slab",serif;
			text-align: right;
			margin-top: 10px;
			float: right;
			margin-right: 110px;
		}
	}
	
	
	section.goods-row {
		margin: 30px 0;
	}
	
	
	.place{
		margin: 46px 0 0;
		
		h2{
			font: 24px "Roboto Slab", serif;
			margin-bottom: 21px;
		}
		a{
			text-decoration: none;
			margin-right: 10px;
			border: 1px dashed #dddddd;
			border-radius: 25px;
			padding: 5px 15px;
			color: rgb(79, 67, 64);
			font: 13px "Open Sans",serif;
			&.active{
				background: #3BB18F;
				border-color: #3BB18F;
				color: white;
			}
		}
	}
	
	
}