#tab2{
	padding: 25px 0;
	padding-bottom: 38px;
	
	.info-delivery{
		margin-bottom: 25px;
		
		h2{
			font: 24px "Roboto Slab",serif;
			margin-bottom: 25px;
		}
		
		.password{
			h2{
				margin-top: 10px;
			}
		}
		
		.data{
			border-bottom: 1px solid #dddddd;
			padding-bottom: 10px;
		}
		
		.data,.password{
			
			.email{
				float: left;
			}
			
			label{
				margin-bottom: 8px;
			}
			
			input, textarea{
				outline: none;
				border-radius: 20px;
				border: 3px solid #dddddd;
				text-indent: 20px;
				width:100%;
				font-size: 13px;
				margin-bottom: 14px;
				line-height: 22px;
			}
			
			.red-button{
				text-align: center;
				button{
					color: #cd343a;
					border: 2px solid;
					border-radius: 25px;
					padding: 0 18px;
					line-height: 28px;
					display: inline-block;
					background: white;
					text-decoration: none;
					font-weight: 700;
					&:hover{
						background: #cd343a;
						color: white;
					}
				}
			}
			
			label{
				display: block;
				text-align: left;
				font: 14px "Roboto Slab",serif;
			}
		}
		
		.subscription{
			margin-top: 23px;
			
			.title{
				margin-bottom: 11px;
			}
			
			div{
				position: relative;
				
				label{
					margin-left: 28px;
					line-height: 26px;
					margin-bottom: 2px;
					font-weight: 400;
				}
				input{
					-webkit-appearance: none;
				}
				.check{
					position: absolute;
					top:0;
					outline: none;
					width: 0;
					height: 0;
					&:before{
						content: "";
						border: 2px solid #dddddd;
						width: 20px;
						border-radius: 50%;
						height: 20px;
						display: inline-block;
					}
					&:checked{
						&:after{
							text-align: center;
							outline: none;
							position: absolute;
							width: 21px;
							height: 20px;
							line-height: 20px;
							top:0;
							font-size: 12px;
							content: "\f111";
							font-family: "FontAwesome";
							color: #3BB18F;
							display: inline-block;
						}
					}
				}
			}
			
		}
		
	}
}
