#tab3{
	margin: 40px 0;
	padding-bottom: 16px;
	
	.col{
		margin-top: 22px;
		border:3px solid #dddddd;
		margin-bottom: 25px;
		.col-body{
			padding: 0 20px;
			table{
				width: 100%;
			}
			tr{
				border-bottom:1px dashed #dddddd;
				
				&:last-child{
					border-bottom: none;
				}
				
				 td{
					 padding: 17px 8px;
					 margin: 0 20px;
					 &:first-child{
						 font: 16px "Roboto Slab",serif;
					 }
					 &:last-child{
						 text-align: right;
						 font: 20px "Roboto Slab",serif;
					 }
					 .old-price{
						 font: 16px "Roboto Slab",serif;
						 text-decoration:line-through;
						 color: #BCBCBC;
						 margin-right: 10px;
					 }
				 }
				
			 }
		}
		.col-footer{
			border-top: 3px solid #dddddd;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 18px 27px;
			span{
				font: 16px "Roboto Slab",serif;
				&:last-child{
					font: 20px "Roboto Slab",serif;
				}
			}
		}
		
	}
	
	.price-block{
		text-align: right;
		margin: 10px 30px 25px 0;
		.sale{
			font: 18px "Roboto Slab",serif;
		}
		.price{
			font: 24px "Roboto Slab",serif;
		}
	}
	
}