nav.topbar {
    height: 57px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    z-index: 1;
    
    > * {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 25%;
        height: 57px;
        border-right: 1px solid #e4e4e4;
        box-sizing: border-box;
        
        &:last-of-type {
            border-right: none;
        }
    }
    
    .search {
        width: 280px;
        form {
            position: relative;
            width: 230px;
            
            input {
                display: block;
                width: 100%;
                text-indent: 20px;
                height: 26px;
                border-radius: 25px;
                border: 2px solid rgba(221, 221, 221, 1);
                font: 13px "Open Sans";
                
                &::-webkit-input-placeholder{
                    color: #999999;
                }
            }
            
            &:after {
                position: absolute;
                content: "\f002";
                font: 16px FontAwesome;
                color: #3BB18F;
                right: 10px;
                top: 5px;
            }
        }
    }
    
    .login {
        
        * {
            margin: 0 5px;
            display: block;
        }
        
        .icon {
            color: #3BB18F;
        }
        
        a {
            border-bottom: 1px dotted;
            text-decoration: none;
            color: #7F7775;
            font-size: 14px;
        }
    }
    
    .city {
        
        flex-direction: column;
        width: 180px;
        * {
            font-size: 14px;
        }
        
        .city-name{
            color: rgb(127, 119, 117);
            margin-bottom: 0px;
        }
        
        .phone {
            text-decoration: none;
            color: #7F7775;
            border-bottom: 1px dotted;
        }
    }
    
    .cart {
        & > * {
          margin: 0 8px;
        }
        span {
            font-size: 14px;
            color: #7F7775;
            border-bottom: 1px dotted;
        }
        
        .cart-badge {
            border: 2px solid #dddddd;
            border-radius: 50%;
            color: #3BB18F;
            position: relative;
            display: flex;
            width: 36px;
            height: 36px;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            
            &[data-count]::after {
                position: absolute;
                width: 19px;
                height: 19px;
                content: attr(data-count);
                color: white;
                font-size: 10px;
                text-align: center;
                top: 7px;
                right: -10px;
                border: 2px solid white;
                background: #ef5228;
                border-radius: 50%;
                line-height: 15px;
            }
        }
    }

    &.search {

        .search {
            width: 100%;
            padding: 0 30px;

            form {width: 100%;}
        }

    }
}