.antiques-page {
	
	padding-bottom: 100px;
	
	h2.main-header{
		margin: 50px 0 50px 0;
	}
	
	.about-content{
		h3{
			border-bottom: none !important;
			span{
				border-bottom: 1px solid #3bb18f;
				font-family: "Roboto Slab", serif;
			}
		}
		.description{
			margin-bottom: 20px !important;
		}
		
	}
	
	.about-row{
		img{
			padding-bottom: 20px;
		}
	}
	
	.good{
		height: 100% !important;
		.title{
			line-height: 20px !important;
			width: 140px;
		}
		.cover{
			margin-top: 35px !important;
		}
	}
	
	.blocks {
		background: #f8f8f8;
		padding: 20px 20px 0px;
		
		
		.block {
			display: block;
			height: 140px;
			margin-bottom: 20px;
			padding-top: 10px;
			position: relative;
			text-decoration: none;
			
			
			span {
				color: rgb(79, 67, 64);
				font: 22px/30px "Roboto Slab";
				position: relative;
				top:30px;
				
				&:hover{
					border-bottom: 1px solid rgb(59, 177, 143);
				}
			}
			
			.image{
				text-align: center;
				width: 240px;
				float: left;
			}
			
			&.block-1{
				background: #e6f1ee;
			}
			&.block-2{
				background: #f1f0ef;
			}
			&.block-3{
				background: #e8e7e6;
			}
			&.block-4{
				background: #f4f0ed;
			}
			
			&.block-3,&.block-4{
				.image{
					width: 218px;
				}
				span{
					top:18px;
					left: 18px;
				}
			}
			
			
		}
	}
}