.blog-item{
	padding: 45px 30px 82px;
	.blog-row{
		overflow: hidden;
		clear: both;
		.blogItem{
			overflow: hidden;
			margin-bottom: 25px;
			
			img{
				float: left;
				max-width: 100%;
			}
			
			.info-block{
				padding-right: 30px;
				max-width: 600px;
				float: left;
				margin-bottom: 5px;
				
				.info{
					padding-left: 30px;
					
					p{
						font:14px "Open Sans",serif;
						line-height: 18px;
						margin: 16px 0;
					}
					
					div{
						display: inline-block;
					}
					
					.name{
						display: block;
						margin-bottom: 18px;
						span{
							color: #4f4340;
							font: 24px "Roboto Slab";
						}
					}
					
					.date{
						padding-right: 16px;
					}
					
					
					i{
						color: #3BB18F;
						padding-right: 10px;
						font-size: 16px;
					}
					
					
				}
				
			}
		}
		.footer{
			border-bottom: 1px solid #dddddd;
			padding-bottom: 22px;
			text-align: right;
			i{
				margin-right: 3px;
				color: #3bb18f;
				font-size: 16px;
			}
			div{
				display: inline-block;
				margin-right: 12px;
				font-size: 12px;
			}
			a{
				font-size: 14px;
				border-bottom: 1px dotted;
				color: #4f4340;
				text-decoration: none;
				&:hover{
					border-bottom: 1px solid;
				}
			}
		}
		.comment{
			text-align: right;
			padding: 25px 0;
			a{
				text-decoration: none;
				color: rgb(51, 51, 51);
				padding: 0 2px;
				&:hover{
					border-bottom: 1px dashed #3BB18F;
				}
			}
			i{
				padding-left: 10px;
				color: #3BB18F;
			}
		}
	}
}

