.blog-page{
	padding-bottom: 57px;
	
	.main-header{
		margin: 50px 0 50px 0;
	}
	
	.preview{
		margin-bottom: 22px;
	}
	
	.pags{
		margin: 28px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		
		a{
			width: 28px;
			margin: 0 5px;
			height: 28px;
			
			text-align: center;
			font: 14px "Roboto Slab",serif;
			display: block;
			text-decoration: none;
			border: 2px solid #f4e3d6;
			border-radius: 50%;
			font-weight: bold;
			color: #3BB18F;
			line-height: 24px;
			
			&.active{
				border: 2px solid #3BB18F;
			}
			
			&:hover{
				border: 2px solid #3BB18F;
			}
		}
		
		i{
			cursor: pointer;
			font-size: 16px;
			color: #f4e3d6;
			&:hover{
				color: #3BB18F;
			}
		}
		
		.prev{
			margin-right: 20px;
		}
		.next{
			margin-left: 20px;
		}
		
	}
}