.cart-page{
	padding: 30px;
	padding-bottom: 55px;
	
	* > :focus{
		outline: none;
	}
	
	.add-order{
		padding: 10px 15px;
		border: 1px solid #dddddd;
	}
	
	.button{
		border-top: 2px solid #dddddd;
		a.next{
			margin-top: 25px;
			color: #cd343a;
			border: 2px solid;
			border-radius: 25px;
			padding: 0 17px;
			font-size: 14px;
			line-height: 27px;
			display: inline-block;
			text-decoration: none;
			float: right;
			font-weight: 700;
			&:hover{
				background: #cd343a;
				color: white;
			}
		}
		
		a.back{
			margin-top: 25px;
			color: #BCBCBC;
			border: 2px solid;
			border-radius: 25px;
			padding: 0 16px;
			font-size: 14px;
			line-height: 27px;
			display: inline-block;
			text-decoration: none;
			font-weight: 700;
			
		}
		
	}
	
	#content{
		margin-top: 5px;
	}
	
	#tabs
	{
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		position: relative;
		
		&:after{
			content: "";
			position: absolute;
			top: 13px;
			left: 49px;
			z-index: 0;
			width: 753px;
			background: #cccccc;
			height: 2px;
		}
		
		.done{
			position: relative;
			
		}
		
		
		
		li {
			z-index: 1;
			margin: 0;
			padding: 0;
			float: left;
			position: relative;
			
			a {
				color: #CCCCCC;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
				
				 &:before{
				    display: block;
				    content: attr(data-number);
					width: 28px;
					height: 28px;
					line-height: 22px;
					text-align: center;
					border: 2px solid #dddddd;
					color: #CCCCCC;
					border-radius: 50%;
					font-weight: 700;
					font-size: 16px;
					margin: 0 24px;
					margin-bottom: 9px;
					background: white;
				    z-index: 1;
					
				}
				
				span{
					font: 16px "Roboto Slab",serif;
					display: block;
					color: #cccccc;
					text-align: center;
					white-space: pre-wrap;
				}
				
			}
			
			&.passed{
				a:before{
					content: "\f00c";
					font-family: FontAwesome;
					color: white;
					border-color: #3BB18F;
					background: #3BB18F;
				}
			}
			
			&.current{
				a{
					
					&:before{
						display: block;
						color: white;
						border-color: #3BB18F;
						background: #3BB18F;
						z-index: 1;
						
					}
					span{
						color: black;
						
					}
				}
			}
			
			&.passed:not(:first-of-type), &.current:not(:first-of-type){
				&:before{
					content: "";
					background: #3BB18F;
					position: absolute;
					top: 13px;
					z-index: 0;
					left: -324px;
					width: 376px;
					height: 2px;
				}
			}
			
		}
	}
	
	
	
	@import "cart/tab1";
	@import "cart/tab2";
	@import "cart/tab3";
	
}