.catalog-page {
	margin-bottom: 100px;
	position: relative;
	overflow: hidden;

	.main-header{
		margin: 55px 0 55px 0;
	}
	
	.categories {
		padding: 66px 44px;
		background-color: whitesmoke;
		h3 {
			margin-top: 0;
			color: rgb(79, 67, 64);
			border-bottom: 1px solid #3BB18F;
			font-size: 26px;
			font-family: "Roboto Slab", serif;
			display: inline-block;
			width: 510px;
			margin-bottom: 20px;
		}
		
		.list{
			columns: 250px 3;
			a{
				color: black;
				margin-bottom: 10px;
				white-space: nowrap;
				display: block;
				font-size: 16px;
				font-family: 'Open Sans',serif;
				text-decoration: none;
				span{
					border-bottom: 1px solid #3BB18F;
				}
				i{
					color: #3BB18F;
					padding-right: 10px;
					text-align: center;
				}
			}
		}
		
	}
	
	section.goods-row{
		margin: 25px 0;
		h2{
			margin: 50px 0 55px 0;
		}
		.goods-list{
			padding-bottom: 30px;
		}
		
	}
	
	section.about-row .about-content h3{
		white-space: nowrap;
	}
	
	.sales h2.main-header{
		margin: 30px 0 45px 0;
	}
	
	.good-row h2.main-header{
		color: rgb(79, 67, 64);
	}
	
	.red-link{
		margin-bottom: 20px;
	}
}