.categories-page{
	padding: 35px 10px;
	background: #f8f8f8;
	.categories-block{
		padding-left: 40px;
		padding-right: 65px;
		ul{
			margin-bottom: 40px;
			margin-top: 10px;
			padding: 0;
			
			ul{
				margin-bottom: 10px;
				padding-left: 20px;
			}
			
			li{
				list-style-type: none;
				margin-bottom: 7px;
				
				&.title{
					font: 20px "Roboto Slab",serif;
					margin-bottom: 16px;
				}
				
				&.dropdown {
					height: 20px;
					overflow: hidden;
					
					i:before {
						display: block;
						transform: rotate(180deg);
						transition: 0.2s all;
					}
					
					&.open {
						height: auto;
						i::before {
							transform: rotate(0deg);
							display: block;
						}
					}
				}
				
				i{
					color: rgb(59, 177, 143);
					padding-left: 10px;
					
					&.title{
						padding-right: 10px;
						padding-left: 0 !important;
					}
				}
				
				span{
					font-size: 14px;
					color: rgb(79, 67, 64);
					text-decoration: none;
					border-bottom: 1px solid #3bb18f;
					
				}
			}
		}
	}
	
	.sales {
		h4 {
			font: 20px "Roboto Slab", serif;
			border-bottom: 1px solid #3bb18f;
			margin-bottom: 20px;
			display: inline-block;
		}
		
		.grid-item {
			width: 288px;
			border: 5px solid rgba(221, 221, 221, 1);
			margin-bottom: 18px;
			box-sizing: border-box;
			background: white;
			
			> img {
				max-width: 100%;
			}
			
			.name {
				color: rgb(59, 177, 143);
				padding: 20px;
				border-bottom: 1px solid #dddddd;
				
				span {
					color: rgb(79, 67, 64);
					font: 18px "Roboto Slab";
				}
			}
			
			.info {
				padding: 20px;
				color: rgb(79, 67, 64);
				font-size: 14px;
				
				.type-name {
					margin-bottom: 5px;
				}
				
				.type {
					margin-bottom: 10px;
				}
				
				i {
					color: rgb(59, 177, 143);
					margin-right: 5px;
				}
				
				a {
					border-bottom: 1px dotted;
					color: rgb(79, 67, 64);
					text-decoration: none;
					
					&:hover {
						border-bottom-style: solid;
					}
				}
				
				p {
					font-size: 14px;
					color: rgb(79, 67, 64);
					line-height: 18px;
				}
			}
		}
	}
}