.company-page{
	padding: 0 30px;
	padding-bottom: 88px;
	
	
	.more{
		border: 1px solid #e4e4e4;
		padding: 22px 20px 8px;
		margin-bottom: 5px;
		overflow: hidden;
		span{
			font: 16px "Roboto Slab", serif;
			margin-bottom: 13px;
			margin-right: 14px;
			float: left;
		}
		
		#tabs
		{
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			
			#current{
				a{
					background: #3BB18F;
					border-color: #3BB18F;
					color: white;
					i{
						color: #3BB18F;
					}
				}
			}
			
			li {
				margin: 0;
				padding: 0;
				float: left;
				a {
					text-decoration: none;
					margin-right: 10px;
					border: 1px dashed #dddddd;
					border-radius: 25px;
					padding: 4px 15px;
					color: rgb(79, 67, 64);
					font: 13px "Open Sans",serif;
					
					span{
						border-bottom: 1px dotted;
					}
					i{
						font-size: 16px;
						padding-right: 7px;
						color: #BCBCBC;
						vertical-align: text-top;
					}
				}
			}
		}
		
	}
	
	
	h2.main-header{
		margin: 50px 0 50px 0;
	}
	
	@import "company/tab1";
	
	@import "company/tab2";
	
	@import "company/tab3";
}