.contacts-page{
	padding: 22px 30px 103px;
	color: rgb(79, 67, 64);
	h1{
		margin-bottom: 27px;
		font: 30px "Roboto Slab",serif;
	}
	
	h2{
		font: 24px "Roboto Slab",serif;
		margin-bottom: 30px;
	}
	
	.map{
		border: 5px solid #dddddd;
		margin-top: 17px;
		margin-bottom: 40px;
	}
	
	.callback{
		width: 395px;
		margin: 0 auto;
		
		.email{
			float: left;
		}
		
		textarea{
			height: 115px;
		}
		
		input, textarea{
			outline: none;
			border-radius: 20px;
			border: 3px solid #dddddd;
			text-indent: 20px;
			width:100%;
			margin-bottom: 18px;
			line-height: 20px;
			
			
		}
		
		.red-button{
			text-align: center;
			button{
				color: #cd343a;
				border: 2px solid;
				border-radius: 25px;
				padding: 0 18px;
				line-height: 28px;
				display: inline-block;
				background: white;
				text-decoration: none;
				font-weight: 700;
				&:hover{
					background: #cd343a;
					color: white;
				}
			}
		}
		
		
		label{
			display: block;
			text-align: left;
			font: 14px "Roboto Slab",serif;
		}
	}
	
	.col-2{
		li{
			margin-bottom: 12px;
		}
	}
	
	ul{
		margin-bottom: 28px;
		padding: 0;
		li{
			margin-bottom: 5px;
			font-size: 14px;
			list-style-type: none;
			
			&.title{
				font: 16px "Roboto Slab",serif;
			}
			
			span{
				text-decoration: underline;
			}
			
			i{
				width: 30px;
				text-align: center;
				font-size: 16px;
				color: #3BB18F;
				padding-right: 10px;
			}
		}
		
	}
}