.events-page{
	padding: 0 30px 111px;
	
	h2{
		margin: 50px 0 50px 0;
	}
	
	.calendar{
		padding: 15px 0;
		background: rgba(248, 248, 248, 0.75);
		border: 1px solid #e4e4e4;
		height: 170px;
		margin: 0 20px;
		margin-bottom: 25px;
		position: relative;
		
		.more{
			display: none;
			position: absolute;
			width: 220px;
			background: white;
			height: 90px;
			border: 1px solid #dddddd;
			padding-left: 20px;
			padding-top: 12px;
			z-index: 1;
			.name{
				text-align: left;
				margin-bottom: 9px;
				span{
					border-bottom: 1px solid #3BB18F;
					font: 12px "Roboto Slab",serif;
				}
				
			}
			.time{
				margin-bottom: 4px;
			}
			div{
				color: rgb(79, 67, 64);
				font: 12px "Open Sans",serif;
			}
			i{
				color: #3BB18F;
				padding-right: 5px;
			}
		}
		
		.prev,.next{
			i{
				color: #3BB18F;
				font-size: 16px;
			}
			position: absolute;
			background: white;
			border-radius: 50%;
			border: 2px solid #3BB18F;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
		}
		
		.prev{
			top: 65px;
			left: -21px;
		}
		
		.next{
			top: 65px;
			right: -21px;
		}
		
		.name{
			font:16px "Roboto Slab", serif;
			color:rgb(79, 67, 64);
			text-align: center;
			margin-bottom: 4px;
		}
		.dates{
			padding: 0px 136px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			
			a {
				
				margin: 7px 6px;
				width: 25px;
				height: 25px;
				text-align: center;
				font: 14px "Open Sans", serif;
				display: block;
				text-decoration: none;
				border: 2px solid #f4e3d6;
				border-radius: 50%;
				color: rgb(79, 67, 64);
				line-height: 21px;
				
				&:hover{
					background: #3BB18F;
					border-color: #3BB18F;
					color: white;
					font-weight: bold;
				}
				
				
				&.active {
					border: 2px solid #3BB18F;
				}
				
				&:hover {
					border: 2px solid #3BB18F;
				}
			}
		}
		
		
	}
	
	.event-row{
		overflow: hidden;
		clear: both;
		.event-item{
			overflow: hidden;
			border: 5px solid rgba(228, 228, 228, 1);
			margin-bottom: 25px;
			
			img{
				float: left;
				max-width: 100%;
			}
			
			.info-block{
				padding-right: 30px;
				max-width: 650px;
				float: left;
				
				.info{
					padding: 25px 0 0px 30px;
					
					p{
						font:14px "Open Sans",serif;
						line-height: 18px;
						margin: 16px 0;
					}
					
					div{
						display: inline-block;
					}
					
					.name{
						display: block;
						margin-bottom: 18px;
						span{
							color: #4f4340;
							font: 18px "Roboto Slab";
							&:hover{
								border-bottom: 1px solid #3BB18F;
							}
						}
					}
					
					.date,.time{
						position: relative;
						
						&:after{
							content: "";
							width: 1px;
							background: #dddddd;
							height: 22px;
							display: block;
							position: absolute;
							right: 0;
							top: -1px;
						}
					}
					
					.date{
						padding-right: 16px;
					}
					
					.time{
						padding: 0 14px;
						margin-right: 13px;
					}
					
					i{
						color: #3BB18F;
						padding-right: 10px;
						font-size: 16px;
					}
					
					.author{
						
						i{
							color: rgb(239, 82, 40);
							padding-right: 10px;
						}
						
						span{
							border-bottom: 1px dotted;
							
							&:hover{
								border-bottom: 1px solid;
							}
						}
					}
				}
				
			}
			
			.footer{
				margin-top: 23px;
				border-top: 1px solid #dddddd;
				padding-top: 27px;
				padding-left: 30px;
				i{
					margin-right: 3px;
					color: #3bb18f;
					font-size: 16px;
				}
				div{
					display: inline-block;
					margin-right: 12px;
				}
				a{
					border-bottom: 1px dotted;
					color: #4f4340;
					text-decoration: none;
					&:hover{
						border-bottom: 1px solid;
					}
				}
			}
		}
	}
}