.form-cart{
	position: relative;
	overflow: hidden;
	margin-top: -57px;
	
	.page-categories{
		margin-top: 57px;
	}
	
	.accept-filters{
		z-index: 99 !important;
	}
	
	.cart-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(248, 248, 248, 0.90);
		z-index: 100;
		padding: 0 0 0 30px;
		
		
		.count-cart{
			width: 328px;
			background: white;
			float: right;
			border: 1px solid #dddddd;
			
			.count{
				overflow: hidden;
				padding: 7px 36px 7px 26px;
				span{
					margin-right: 15px;
					float: left;
					margin-top: 7px;
				}
				
				.cart{
					display: inline-block;
					float: right;
					span{
						font-size: 14px;
						color: #7F7775;
						border-bottom: 1px dotted;
					}
				}
				
				.cart-badge{
					border: 2px solid #dddddd;
					border-radius: 50%;
					color: #3BB18F;
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					width: 36px;
					height: 36px;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: 16px;
					float: right;
					
					i{
						color: #3BB18F;
					}
					
					&:after{
						position: absolute;
						width: 19px;
						height: 19px;
						content: attr(data-count);
						color: white;
						font-size: 10px;
						text-align: center;
						top: 7px;
						right: -10px;
						border: 2px solid white;
						background: #ef5228;
						border-radius: 50%;
						line-height: 15px;
					}
				}
			}
			
			.time{
				border-top: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
				padding: 17px 26px;
				font: 14px "Roboto Slab",serif;
				
				.line{
					width:100%;
					border: 1px solid #dddddd;
					margin-top: 10px;
					border-radius: 10px;
					height: 18px;
					position: relative;
					&:after{
						content: "";
						position: absolute;
						top:0;
						left: 0;
						width:187px;
						background: #3BB18F;
						border-radius: 10px;
						height: 18px;
					}
				}
				
				.price{
					font-size: 12px;
					text-align: center;
				}
				
			}
			
			table{
				margin: 10px 20px;
				tr{
					
					&:last-child{
						td{
							border-bottom: none;
							padding-top: 7px !important;
						}
					}
					
					td{
						padding: 8px 7px;
						border-bottom: 1px dashed #dddddd;
						
						&:first-child{
							span{
								font:14px "Roboto Slab",serif;
								display: block;
							}
						}
						
						&:nth-child(2){
							text-align: right;
							padding-top: 22px;
							span{
								font-weight: bold;
								font-size: 12px;
								white-space: nowrap;
							}
						}
						
					}
				}
			}
			
			.red-link{
				padding: 20px 0;
				border-top: 1px solid #dddddd;
				a{
					padding: 0 13px;
					line-height: 27px;
				}
			}
			
		}
	}
}