.form-enter{
	position: relative;
	overflow: hidden;
	margin-top: -57px;
	
	.page-categories{
		margin-top: 57px;
	}
	
	.accept-filters{
		z-index: 99 !important;
	}
	
	.enter-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(248, 248, 248, 0.90);
		z-index: 100;
		padding: 0 30px;
		
		.enter-profile{
			padding-bottom: 18px;
			width: 230px;
			background: white;
			margin: 0 auto;
			border: 1px solid #dddddd;
			
			.title{
				padding: 18px 0;
				margin-left: 25px;
			}
			
			form{
				border-top: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
				padding: 17px 24px 5px;
				
				label{
					display: block;
					text-align: left;
					font: 14px "Roboto Slab",serif;
					margin-bottom: 8px;
				}
				
				input{
					outline: none;
					border-radius: 20px;
					border: 3px solid #dddddd;
					text-indent: 20px;
					width: 100%;
					font-size: 13px;
					margin-bottom: 13px;
					line-height: 22px;
				}
				
			}
		
			
			.red-link{
				padding: 20px 0 0;
				border-top: 1px solid #dddddd;
				a{
					line-height: 27px;
				}
			}
			
			.forgot,.register{
				color: rgb(107, 107, 107);
				font-size: 12px;
				margin-top: 4px;
				text-align: center;
				a{
					color: rgb(107, 107, 107);
					text-decoration: underline;
				}
			}
			
		}
		
	}
	
}