.index-page {
    overflow: hidden;
    
    
    .blocks {
        background: #f8f8f8;
        padding: 20px;
        
        .block {
            display: block;
            position: relative;
            
            img {
                position: relative;
            }
            
            span {
                color: rgb(79, 67, 64);
                font-family: "Roboto Slab", serif;
                font-size: 26px;
                border-bottom: 1px solid rgb(59, 177, 143);
                line-height: 30px;
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
            
            &.block-1 {
                height: 300px;
                background: #e6f1ee;
                
                img {
                    width: 390px;
                    top: 0;
                    left: 0;
                }
            }
            
            &.block-2, &.block-3 {
                background: #f4f0ed;
                height: 140px;
                
                &.block-2 {
                    margin-bottom: 20px;
                    
                    img {
                        left: 40px;
                        top: 0;
                    }
                    
                }
                &.block-3 img{
                    top: -10px;
                    left: 40px;
                }
            }
            
        }
    }
    
    .sales {
        margin-top: 75px;
        
        .main-header {
            margin-top: 32px;
        }
        
        .red-link {
            margin-top: 13px;
            margin-bottom: 20px;
        }
    }
    
    .preview {
        margin-top: 20px;
    }
    
    .blog {
        margin-top: 28px;
        
        .grid-item {
            .name {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    
    .groups {
        margin-top: 29px;
        padding-top: 42px;
        padding-bottom: 55px;
        margin-bottom: 115px;
        
        .widget {
            border: 5px solid #dddddd;
            padding-top: 20px;
            background: white;
            
            .title, .link {
                text-align: center;
                color: #1E1E1E;
                font-size: 18px;
                display: block;
                
                &.link {
                    margin-bottom: 30px;
                    text-decoration: none;
                    
                    span {
                        border-bottom: 1px solid rgb(59, 177, 143);
                    }
                }
            }
        }
    }
}

