@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic');
@import "sidebar";
@import "topbar";
@import "sections/goods-row";
@import "sections/about-row";
@import "sections/grid-row";

* {
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
}

*:focus {
    outline: none !important;
}

body {margin: 0;}

.footer {
    padding-left: 260px;
    
    .columns {
        display: flex;
        background: #f8f8f8;
        padding: 35px 40px;
    
        .column {
            margin-right: 30px;
        
            &:last-of-type {
                margin-right: 0;
            }
    
            a {
                display: block;
                color: rgb(79, 67, 64);
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 8px;
                text-decoration: none;
        
                span {
                    border-bottom: 1px dotted;
                }
        
                &.icon {
                    display: inline-block;
                    font-size: 20px;
                    color: #3bb18f;
                    width: 32px;
                    text-align: center;
                    margin-bottom: 10px;
                }
        
                &:hover span{
                    border-bottom-style: solid;
                }
            }
    
            hr {
                margin: 10px 0;
            }
    
            .contact-row {
                color: rgb(79, 67, 64);
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 5px;
        
                i {
                    width: 16px;
                    text-align: center;
                    margin-right: 5px;
                    color: rgb(172, 163, 153);
                }
            }
        }
    }
    
    .form {
        background: #f2f2f2;
        padding: 11px 35px;
        
        label {
            color: rgb(79, 67, 64);
            font: normal 14px "Roboto Slab";
            margin-right: 5px;
            
        }
        
        input[type=email], input[type=text] {
            border-radius: 15px;
            border: 2px solid #dddddd;
            text-align: center;
            width: 164px;
            font-size: 13px;
            margin-right: 4px;
        }
        input[type=text] {
            width: 135px;
        }
        
        input[type=submit] {
            font-family: "FontAwesome";
            border: none;
            background: none;
            font-size: 16px;
            color: rgb(59, 177, 143);
        }
    }
    
    .basement {
        height: 125px;
        background: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        a {
            border-bottom: 1px dotted;
            color: #4F4340;
            font-size: 14px;
            text-decoration: none;
            
            &:hover {
                border-bottom-style: solid;
            }
        }
        
        .copyright {
            margin-top: 10px;
            color: #AEAEAE;
            font-size: 13px;
        }
    }
}

.boxed-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.content {
    padding-left: 260px;
}

.gray-wrapper {
    padding: 20px;
    background: #f8f8f8;
}

.white-wrapper {
    padding: 20px;
}

h2.main-header {
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
    font-size: 36px;
    
    &:before, &:after {
        width: 80px;
        height: 2px;
        background: #dddddd;
        content: "";
        display: inline-block;
        margin: 0 20px;
    }
}

.red-link {
   text-align: center;
    a:not(.regular) {
        color: rgb(205, 52, 58);
        border: 2px solid;
        border-radius: 25px;
        padding: 0 23px;
        line-height: 30px;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
    
        &:hover {
            background: rgb(205, 52, 58);
            color: white;
        }
    }
    
    .regular {
        color: rgb(79, 67, 64);
        border-bottom: 1px dotted;
        margin: 0 20px;
        text-decoration: none;
        
        &:hover {
            border-bottom-style: solid;
        }
    }
    
    
}

.breadcrumbs {
    border-bottom: 1px solid #e4e4e4;
    padding: 14px 30px;
    overflow: hidden;
    
     a {
         display: block;
         float: left;
         line-height: 26px;
         padding: 0 11px;
         border: 1px solid #dddddd;
         border-right: none;
         color: rgb(51, 51, 51);
         position: relative;
         font-size: 13px;
         cursor: pointer;
         
         &:after {
             width: 26px;
             height: 26px;
             border: 2px solid #dddddd;
             content: "";
             position: absolute;
             display: block;
             top: 0;
             right: -12px;
             transform: scale(0.5,0.8) rotate(45deg);
             border-bottom: none;
             border-left: none;
             background: white;
             z-index: 2;
             
         }
         
         &:last-of-type {
             border-style: dashed;
             border-right: none;
             
             &:after {
                 border-style: dashed;
                 border-bottom: none;
                 border-left: none;
                 
             }
         }
         
         & + a {
             padding-left: 15px;
         }
         
         i {
             color: #3bb18f;
             margin-right: 10px;
         }
     }
}

.table-str {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    
    td {
        border: 1px solid #dddddd;
        font-size: 14px;
        line-height: 31px;
        padding-left: 15px;
    }
}

.select2-container {

    b[role=presentation]{
        border: none !important;
        position: static !important;

        &:before {
            font: 16px "FontAwesome";
            content: "\f107";
            top: 3px;
            position: relative;
            color: #3bb18f;
        }

    }
}

.noUi-target {
    box-shadow: none;
}
.noUi-horizontal {
    height: 2px;
}

.noUi-base {

    .noUi-connect {
        height: 2px;
        border: none;
    }

    .noUi-handle {
        background: white;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 2px solid rgba(59, 177, 143, 1);
        left: -6px;
        top: -6x;

        &:before, &:after {display: none}

        .noUi-tooltip {
            bottom: initial;
            top: 15px;
            border: none;
            font-size: 12px;
        }
    }

}