.page-categories{
	padding: 0 30px;
	overflow: hidden;
	
	.select2-selection__arrow b{
		margin-left: -15px !important;
	}
	
	h2{
		font: 30px "Roboto Slab",serif;
		margin: 50px 0;
	}
	
	
	
	.col-1{
		float: left;
		width: 662px;
		margin-top: 10px;
	}
	
	.col-2{
		float: left;
	}
	
	.dropdown-list {
		border: 1px solid #dddddd;
		padding-left: 22px;
		overflow: hidden;
		
		
		h3{
			font: 16px "Roboto Slab", serif;
			margin-bottom: 13px;
		}
		
		ul {
			padding: 0;
			margin-right: 50px;
			float: left;
			
			ul {
				margin-top: 10px;
				margin-bottom: 10px;
				padding-left: 20px;
				float: none;
			}
			
			li {
				list-style-type: none;
				margin-bottom: 7px;
				
				
				&.dropdown {
					height: 20px;
					overflow: hidden;
					
					i:before {
						display: block;
						transform: rotate(180deg);
						transition: 0.2s all;
					}
					
					&.open {
						height: auto;
						i::before {
							transform: rotate(0deg);
							display: block;
						}
					}
				}
				
				i {
					color: rgb(59, 177, 143);
					padding-left: 10px;
					
					&.title {
						padding-right: 10px;
						padding-left: 0 !important;
					}
				}
				
				span {
					font-size: 14px;
					color: rgb(79, 67, 64);
					text-decoration: none;
					border-bottom: 1px solid #3bb18f;
					
				}
				
			}
		}
	}
	
	.list-row{
		overflow: hidden;
		
		margin: 20px 0;
		
		.sorting,.show,.count{
			padding: 13px 20px;
			float: left;
			border: 1px solid #dddddd;
			height: 95px;
		}
		
		.sorting{
			
			label{
				line-height: 28px;
				margin-bottom: 10px;
				font-weight: 400;
				display: block;
				font: 16px "Roboto Slab",serif;
			}
			select{
				width: 130px !important;
				position: relative;
				padding-left: 10px;
				
			}
			
			.select2-container{
				position: relative;
				text-indent: 17px;
				&:before{
					content: "\f063";
					position: absolute;
					font: 12px FontAwesome;
					color: #cccccc;
					left: -10px;
					top: 9px;
				}
			}
		}
		
		.show{
			
			div{
				font: 16px "Roboto Slab",serif;
				display: block;
				margin-bottom: 14px;
			}
			a{
				text-decoration: none;
				margin-right: 10px;
				border: 1px dashed #dddddd;
				border-radius: 25px;
				padding: 4px 20px;
				color: rgb(79, 67, 64);
				font: 13px "Open Sans",serif;
				&.active{
					background: #3BB18F;
					border-color: #3BB18F;
					color: white;
				}
			}
			
		}
		
		.count{
			padding-right: 37px;
			
			div{
				font: 16px "Roboto Slab",serif;
				display: block;
				margin-bottom: 13px;
			}
			a{
				text-decoration: none;
				color: black;
				margin-right: 7px;
				border-bottom: 1px dotted #3BB18F;
				&.active{
					border-color: #dddddd;
					font-weight: bold;
					color: #3BB18F;
				}
			}
		}
	}
	
	.pags{
		margin: 8px 0 122px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		a{
			width: 28px;
			margin: 0 5px;
			height: 28px;
			
			text-align: center;
			font: 14px "Roboto Slab",serif;
			display: block;
			text-decoration: none;
			border: 2px solid #f4e3d6;
			border-radius: 50%;
			font-weight: bold;
			color: #3BB18F;
			line-height: 24px;
			
			&.active{
				border: 2px solid #3BB18F;
			}
			
			&:hover{
				border: 2px solid #3BB18F;
			}
		}
		
		i{
			cursor: pointer;
			font-size: 16px;
			color: #f4e3d6;
			&:hover{
				color: #3BB18F;
			}
		}
		
		.prev{
			margin-right: 20px;
		}
		.next{
			margin-left: 20px;
		}
		
	}
	
	.good-row {
		margin: 28px 0 15px;
		padding: 0 20px;
		overflow: hidden;
		
		
		.goods-list {
			display: flex;
			align-items: center;
			float: left;
			
			
			.goods-wrapper {
				margin: 0 -20px;
				.good {
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: flex-end;
					height: 364px;
					position: relative;
					width: 215px;
					float: left;
					margin-bottom: 30px;
					
					
					&.percent{
						&:after{
							height: 47px;
							width: 36px;
							background: #3bb18f;
							color: white;
							content: "\f295";
							position: absolute;
							top: -1px;
							left: 0;
							-webkit-clip-path: url(#mark-mask);
							clip-path: url(#mark-mask);
							font-size: 20px;
							line-height: 46px;
							font-family: "FontAwesome";
							text-align: center;
						}
					}
					
					&.gift{
						&:after{
							height: 47px;
							width: 36px;
							background: rgba(239, 82, 40, 1);
							color: white;
							content: "\f06b";
							position: absolute;
							top: -1px;
							left: 0;
							-webkit-clip-path: url(#mark-mask);
							clip-path: url(#mark-mask);
							font-size: 20px;
							line-height: 46px;
							font-family: "FontAwesome";
							text-align: center;
						}
					}
					
					&.clone{
						&:after{
							height: 47px;
							width: 36px;
							background: rgba(121, 66, 154, 1);
							color: white;
							content: "\f24d";
							position: absolute;
							top: 0;
							left: 0;
							-webkit-clip-path: url(#mark-mask);
							clip-path: url(#mark-mask);
							font-size: 20px;
							line-height: 42px;
							font-family: "FontAwesome";
							text-align: center;
						}
					}
					
					
					&:before {
						z-index: -1;
						content: "";
						width: 110px;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						border: 3px solid rgba(221, 221, 221, 1);
					}
					
					.cover {
						box-shadow: -5px 4px 0 #e5e5e5;
						margin-bottom: 4px;
						position: relative;
						
						&:hover .info {opacity: 1;}
						
						img {
							max-width: 131px;
						}
						
						.info {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgba(242, 242, 242, 0.976);
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							opacity: 0;
							transition: 0.2s;
							
							.author {
								font: 12px "Roboto Slab";
								
								&:after {
									display: block;
									width: 40px;
									height: 1px;
									background: #4f4340;
									content: "";
									margin: 10px auto;
								}
							}
							
							.rate {
								color: rgb(205, 52, 58);
								text-align: center;
								font: 16px "FontAwesome";
								letter-spacing: 3px;
								margin-bottom: 35px;
							}
							
							a {
								color: rgb(79, 67, 64);
								font-size: 14px;
								border-bottom: 1px dotted;
								line-height: 16px;
								text-decoration: none;
								
								&:hover {border-bottom-style: solid;}
							}
						}
					}
					
					.title, .price {
						font-family: "Roboto Slab", serif;
						font-size: 16px;
						text-align: center;
						line-height: 1;
						background: white;
						padding-bottom: 13px;
						&.title {padding-top: 16px;}
						
						.old-price {
							color: #cd343a;
							font-size: 12px;
							display: inline-block;
							margin-right: 10px;
							text-decoration: line-through;
						}
					}
					
					.red-link a {
						background: white;
						margin-bottom: 25px;
						
						&:hover {
							background: #cd343a;
						}
					}
					
				}
			}
		}
		
		
	}
	
	.filters {
		margin-top: 30px;
		
		.filters-wrapper {
			width: 218px;
			background: white;
			border: 1px solid rgb(221, 221, 221);
			border-bottom: none;
			position: relative;
			
			&.fixed {
				position: fixed;
				top: 30px;
				z-index: 1;
			}
		}
		
		.filter {
			border-bottom: 1px solid rgb(221, 221, 221);
			max-height: 52px;
			overflow: hidden;
			position: relative;
			
			h4 {
				padding: 15px 20px;
				margin: 0;
				cursor: pointer;
				font: 16px "Roboto Slab";
				
				
				&:after {
					content: "\f107";
					font: 16px "FontAwesome";
					color: rgb(59, 177, 143);
					margin-left: 10px;
					transition: 0.2s all;
					transform: rotate(0deg);
					display: inline-block;
				}
			}
			
			.refresh {
				position: absolute;
				right: 20px;
				top: 15px;
				
				i {
					color: rgb(204, 204, 204);
				}
			}
			
			.filter-content {
				padding: 0 20px 15px;
				
				.tags {
					
					.tag {
						display: inline-block;
						margin-bottom: 5px;
						font-size: 12px;
						span {border-bottom: 1px dotted rgba(59, 177, 143, 1);}
						
						&:after {
							content: attr(data-count);
							color: rgb(148, 148, 148);
							font-size: 9px;
							margin-left: 5px;
							position: relative;
							top: -5px;
						}
					}
				}
				
				select {
					width: 100%;
				}
				
				.values {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					
					.delimiter {
						width: 30px;
						height: 1px;
						border: 1px solid rgba(221, 221, 221, 1);
					}
					
					.value {
						width: 75px;
						border-radius: 25px;
						border: 2px solid rgba(221, 221, 221, 1);
						overflow: hidden;
						
						input {
							padding: 0;
							border: none;
							line-height: 24px;
							width: 100%;
							text-align: center;
						}
					}
				}
				
				#input-range {
					margin: 20px 10px 30px;
				}
				
			}
			
			&.open {
				max-height: none;
				h4:after {
					transform: rotate(180deg);
				}
			}
		}
		
		.accept-filters {
			position: absolute;
			width: 170px;
			top: calc(50% - 14px);
			left: - 185px;
			color: white;
			line-height: 28px;
			font-size: 13px;
			z-index: 100;
			
			svg {
				display: block;
				cursor: pointer;
				
				polygon {fill:#36A68A;}
				
				text {
					fill: white;
					font-size: 13px;
				}
			}
		}
	}
	
}