.sale-page{
	padding: 46px 22px 100px;
	
	h3{
		font: 24px "Roboto Slab",serif;
		margin-top: 0;
		margin-bottom: 15px;
	}
	
	.image{
		margin-left: 10px;
	}
	
	.sale{
		margin-left: 10px;
		.period{
			padding: 15px 0;
			padding-left: 50px;
			position: relative;
			border: 1px solid #dddddd;
			
			&:after{
				height: 47px;
				width: 36px;
				background: #3bb18f;
				color: white;
				content: "\f295";
				position: absolute;
				top: 0;
				left: 0;
				-webkit-clip-path: url(#mark-mask);
				clip-path: url(#mark-mask);
				font-size: 20px;
				line-height: 38px;
				font-family: "FontAwesome";
				text-align: center;
			}
			
			span{
				display: block;
				font-size: 13px;
				font-weight: bold;
				margin-top: 5px;
			}
			i{
				padding: 0 5px 0 15px;
				color: rgb(59, 177, 143);
				font-size: 16px;
			}
		}
		
		.text{
			margin: 25px 0;
			span{
				font: 18px "Roboto Slab",serif;
				margin-bottom: 10px;
				display: block;
			}
		}
		
		.col {
			margin-top: 20px;
			border: 1px solid #dddddd;
			overflow: hidden;
			
			&.col-hidden {
				height: 49px;
			}
			.col-header {
				background: #f8f8f8;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 25px;
				border-bottom: 1px solid #dddddd;
				font: 16px "Roboto Slab";
				cursor: pointer;
				
				.name{
					font: 16px "Roboto Slab",serif;
				}
				
				i {
					color: #3bb18f;
					font-size: 18px;
					margin-right: 5px;
				}
				
				.toggle {
					font-size: 12px;
					
					i {
						margin-right: 0;
						margin-left: 5px;
					}
				}
				
				
				> *{
					white-space: nowrap;
				}
			}
			
			.col-body {
				padding: 15px 22px;
			}
			
		}
		
		ul {
			margin-top: 10px;
			padding: 0;
			
			ul {
				margin-bottom: 10px;
				padding-left: 20px;
			}
			
			li {
				list-style-type: none;
				margin-bottom: 7px;
				
				
				&.dropdown {
					height: 20px;
					overflow: hidden;
					cursor: pointer;
					
					i:before {
						display: block;
						transform: rotate(180deg);
						transition: 0.2s all;
					}
					
					&.open {
						height: auto;
						i::before {
							transform: rotate(0deg);
							display: block;
						}
					}
				}
				
				i {
					color: rgb(59, 177, 143);
					padding-left: 10px;
					font-size: 12px;
					
					&.title {
						padding-right: 10px;
						padding-left: 0 !important;
					}
				}
			}
		}
	}
	
	
	
	
}