.product-page{
    padding: 55px 30px;
    
    .main-info {
        margin-bottom: 45px;
        overflow: hidden;
        
        .images {
            width: 182px;
            float: left;
            margin-right: 30px;
            
            .main-photo {
                border: 3px solid #dddddd;
                padding: 20px;
                
                img {
                    width: 100%;
                }
            }
            
            .photos-slider {
                margin-top: 15px;
                position: relative;
                padding: 0 20px 20px;
                border-bottom: 3px solid #dddddd;
                
                .owl-nav {
                    position: absolute;
                    top: 0;
                    width: calc(100%);
                    left: 0;
                    
                    .owl-prev, .owl-next{
                        position: absolute;
                        top: 20px;
                        left: 0;
                        
                        i {
                            font-size: 18px;
                            color: #3BB18F;
                        }
                        
                        &.owl-next {
                            right:0;
                            left: auto;
                        }
                    }
                }
                
            }
        }
        
        .about {
            width: 480px;
            float: left;
            margin-right: 25px;
            
            h1 {
                color: #333333;
                font-size: 24px;
                margin: 0;
                font-family: "Roboto Slab", serif;
            }
            
            .rate {
                margin-top: 5px;
                i {
                    color: #FFD633;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
            
            .tags {
                margin-top: 15px;
                
                a:not(.show-all) {
                    background: #f5f5f5;
                    border-radius: 10px;
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 12px;
                    color: #333333;
                    padding: 0 10px;
                    line-height: 20px;
                }
    
                .show-all {
                    border-bottom: 1px dotted rgb(59, 177, 143);
                    text-decoration: none;
                    color: #333333;
                    font-size: 12px;
                }
            }
            
            table {
                margin-top: 20px;
            }
        }
        
        .options {
            width: 160px;
            float: left;
            position: relative;
            
            &:after {
                height: 47px;
                width: 36px;
                background: #3bb18f;
                color: white;
                content: "\f295";
                position: absolute;
                top: 0;
                right: 0;
                clip-path: url('#mark-mask');
                font-size: 20px;
                line-height: 38px;
                font-family: "FontAwesome";
                text-align: center;
            }
            
            
            .price {
                padding: 15px;
                overflow: hidden;
                border: 2px solid #e4e4e4;
                border-bottom: none;
                
                .old-price {
                    font-size: 18px;
                    color: #BCBCBC;
                    line-height: 1;
                    font-family: "Roboto Slab", serif;
                    float: left;
                    position: relative;
                    
                    span {
                        font-size: 12px;
                        color: #BCBCBC;
                    }
                    
                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: #BCBCBC;
                        left:0;
                        top:50%;
                        clear: both;
                    }
                }
                
                .current-price {
                    clear: both;
                    width: 70px;
                    text-align: center;
                    color: #333333;
                    font-size: 24px;
                    font-family: "Roboto Slab", serif;
                    line-height: 12px;
                    margin-top: 28px;
                    
                    span {
                        font-size: 14px;
                        line-height: 1;
                    }
                }
            }
            
            .count {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 10px 15px;
                border: 2px solid #e4e4e4;
                border-bottom: none;
                
                i {
                    color: #3BB18F;
                    font-size: 18px;
                }
                
                .number {
                    width: 36px;
                    text-align: center;
                    border: 2px solid rgb(221, 221, 221);
                    border-radius: 20px;
                    line-height: 24px;
                    
                }
            }
            
            .to-cart {
                padding: 20px 15px;
                text-align: center;
                border: 2px solid #e4e4e4;
            }
            
            .to-favorite {
                text-align: center;
                padding-top: 15px;
                
                span {
                    border-bottom: 1px dotted #3bb18f;
                }
                i {
                    color: #EF5228;
                    margin-right: 5px;
                }
                
            }
        }
    }
    
    .col {
        margin-top: 20px;
        border: 1px solid #dddddd;
        overflow: hidden;
        
        i{
            margin-right: 5px;
            color: #3BB18F;
        }
    
        &.col-hidden {
            height: 49px;
        }
        .col-header {
            background: #f8f8f8;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            border-bottom: 1px solid #dddddd;
            font: 16px "Roboto Slab";
            cursor: pointer;
            
            i {
                color: #3bb18f;
                font-size: 18px;
                margin-right: 5px;
            }
            
            .toggle {
                font-size: 12px;
                
                i {
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
            
            
            > *{
                white-space: nowrap;
            }
        }
        
        .col-body {
            padding: 25px 22px;
        }
        
    }
    
    .links {
        text-align: right;
        margin-top: 30px;
        
        a {
            display: inline-block;
            margin: 0 8px;
            color: #0f0f0f;
            line-height: 1.2;
            text-decoration: none;
            border-bottom: 1px dotted rgb(59, 177, 143);
            
            &:hover {
                
            }
        }
    
        i {
            color: rgb(59, 177, 143);
        }
    }
    
    h2 {
        margin: 55px 0px 20px;
        color: rgb(51, 51, 51);
        font:24px "Roboto Slab";
    }
    
    .toggles {
        margin-bottom: 25px;
        
        a {
            display: inline-block;
            background: white;
            line-height: 28px;
            padding: 0 18px;
            border-radius: 15px;
            text-decoration: none;
            border: 1px dashed #c8c8c8;
            color: rgb(51, 51, 51);
            margin-right: 15px;
            
            &.current {
                background: #3bb18f;
                color: white;
                border: 1px solid #3bb18f;
            }
        }
    }
    
    .goods-row {
        margin-top: 20px;
    }
}