.profile-page{
	padding: 30px;
	
	* > :focus{
		outline: none;
	}
	
	h2{
		font:30px "Roboto Slab",serif;
		margin-bottom: 43px;
		margin-top: 13px;
		span{
			font:30px "Roboto Slab",serif;
		}
	}
	
	#tabs
	{
		
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		
		#current{
			a{
				border-bottom: 3px solid #3BB18F;
				i{
					color: #3BB18F;
				}
			}
		}
		
		li {
			margin: 0;
			padding: 0;
			float: left;
			a {
				position: relative;
				line-height: 40px;
				border: 1px solid #dddddd;
				border-collapse: collapse;
				color: #434343;
				float: left;
				font-size: 13px;
				height: 40px;
				padding: 0 21px;
				text-decoration: none;
				&.tab1{
					&:after{
						position: absolute;
						width: 19px;
						height: 19px;
						content: "8";
						color: white;
						font-size: 10px;
						text-align: center;
						top: -9px;
						z-index: 99;
						right: -10px;
						border: 2px solid white;
						background: #ef5228;
						border-radius: 50%;
						line-height: 15px;
					}
				}
				span{
					border-bottom: 1px dotted;
				}
				i{
					font-size: 16px;
					padding-right: 7px;
					color: #BCBCBC;
					vertical-align: text-top;
				}
			}
		}
	}
	
	
	#content
	{
		background-color: #fff;
		
		border: 1px solid #dddddd;
		
	}
	
	
	@import "profile/tab1";
	
	@import "profile/tab2";
	
	@import "profile/tab3";
	
	@import "profile/tab4";
	
	@import "profile/tab5";
	
	
}