.profile-page{
	padding: 30px;
	padding-bottom: 107px;
	
	* > :focus{
		outline: none;
	}
	
	h2.main{
		font:30px "Roboto Slab",serif;
		margin-bottom: 43px;
		margin-top: 13px;
		span{
			font:30px "Roboto Slab",serif;
		}
	}
	
	.tab4{
		a{
			padding-right: 28px;
		}
	}
	
	#tabs
	{
		border: 1px solid #dddddd;
		display: flex;
		justify-content: flex-start;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		
		
		#current{
			a{
				border-bottom: 3px solid #3BB18F;
				i{
					color: #3BB18F;
				}
			}
		}
		
		li {
			margin: 0;
			padding: 0;
			float: left;
			
			&:last-child{
				margin-left: auto;
				a{
					border-right: 0;
					padding-top: 16px;
					padding-right: 31px;
				}
			}
			
			&:nth-child(4){
				a{
					padding-right: 28px;
				}
			}
			
			a {
				position: relative;
				line-height: 20px;
				border-right: 1px solid #dddddd;
				border-collapse: collapse;
				color: #434343;
				float: left;
				font-size: 13px;
				height: 57px;
				padding: 8px 15px;
				text-decoration: none;
				
				
				
				span{
					width: 75px;
					display: block;
					float: right;
					&.border{
						border-bottom: 1px dotted;
						width: 40px;
						float: none;
					}
				}
				i{
					font-size: 16px;
					padding-right: 18px;
					margin-top: 11px;
				}
			}
		}
	}
	
	
	#content
	{
		background-color: #fff;
		
		border: 1px solid #dddddd;
		
	}
	
	
	@import "profile2/tab1";
	
	@import "profile2/tab2";
	
	@import "profile2/tab3";
	
	@import "profile2/tab4";
	
	
	
}