.sales-page{
	
	.grid-item{
		width:280px !important;
		margin-bottom: 31px;
		.info{
			padding: 25px 20px;
		}
	}
	
	.gray-wrapper{
		background: white;
		padding-left: 28px;
		padding-right: 0px;
		h3{
			font: 30px "Roboto Slab", serif;
			margin: 23px 0 45px;
		}
		.name{
			span{
				cursor: pointer;
				&:hover{
					border-bottom: 1px solid #3BB18F;
				}
			}
		}
		
		.place{
			border: 1px solid #e4e4e4;
			padding: 15px 16px 22px;
			margin-bottom: 30px;
			margin-right: 20px;
			span{
				display: block;
				font: 16px "Roboto Slab", serif;
				margin-bottom: 13px;
			}
			a{
				text-decoration: none;
				margin-right: 10px;
				border: 1px dashed #dddddd;
				border-radius: 25px;
				padding: 5px 15px;
				color: rgb(79, 67, 64);
				font: 13px "Open Sans",serif;
				&.active{
					background: #3BB18F;
					border-color: #3BB18F;
					color: white;
				}
			}
		}
	}
	
	.pags{
		margin: 8px 0 122px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		a{
			width: 28px;
			margin: 0 5px;
			height: 28px;
			
			text-align: center;
			font: 14px "Roboto Slab",serif;
			display: block;
			text-decoration: none;
			border: 2px solid #f4e3d6;
			border-radius: 50%;
			font-weight: bold;
			color: #3BB18F;
			line-height: 24px;
			
			&.active{
				border: 2px solid #3BB18F;
			}
			
			&:hover{
				border: 2px solid #3BB18F;
			}
		}
		
		i{
			cursor: pointer;
			font-size: 16px;
			color: #f4e3d6;
			&:hover{
				color: #3BB18F;
			}
		}
		
		.prev{
			margin-right: 20px;
		}
		.next{
			margin-left: 20px;
		}
		
	}
}