.search-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.95);
    z-index: 100;
    padding: 45px 30px;

    .search-content {

        .results {
            width: 630px;
            margin-right: 30px;
            float: left;

            h2 {
                color: rgb(79, 67, 64);
                margin: 0 0 15px;
                font: 400 20px "Roboto Slab";
            }

            .list {
                .item {
                    border: 1px solid rgb(221, 221, 221);
                    margin-bottom: 15px;
                    background: white;
                    display: flex;

                    .image {
                        width: 117px;
                        padding: 15px;
                        border-right: 1px solid rgb(221, 221, 221);
                        text-align: center;
                        min-width: 110px;

                        img {
                            max-width: 100%;
                        }
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 20px;

                        .name {
                            border-bottom: 1px solid rgba(59, 177, 143, 1);
                            font: 16px "Roboto Slab";
                            margin-bottom: 15px;
                        }

                        .options {
                            overflow: hidden;

                            .price {
                                float: left;
                                font: 24px "Roboto Slab";
                                sub {
                                    bottom: 0;
                                    font-size: 16px;
                                }
                            }

                            .red-link {
                                margin-bottom: 0;
                                float: left;
                                margin-left: 20px;

                            }
                        }


                    }
                }

            }

        }
    
        .filters {
            float: left;
        
            .filters-wrapper {
                width: 218px;
                background: white;
                border: 1px solid rgb(221, 221, 221);
                border-bottom: none;
                position: relative;
            
                &.fixed {
                    position: fixed;
                    top: 30px;
                    z-index: 1;
                }
            }
        
            .filter {
                border-bottom: 1px solid rgb(221, 221, 221);
                max-height: 52px;
                overflow: hidden;
                position: relative;
            
                h4 {
                    padding: 15px 20px;
                    margin: 0;
                    cursor: pointer;
                    font: 16px "Roboto Slab";
                
                
                    &:after {
                        content: "\f107";
                        font: 16px "FontAwesome";
                        color: rgb(59, 177, 143);
                        margin-left: 10px;
                        transition: 0.2s all;
                        transform: rotate(0deg);
                        display: inline-block;
                    }
                }
            
                .refresh {
                    position: absolute;
                    right: 20px;
                    top: 15px;
                
                    i {
                        color: rgb(204, 204, 204);
                    }
                }
            
                .filter-content {
                    padding: 0 20px 15px;
                
                    .tags {
                    
                        .tag {
                            display: inline-block;
                            margin-bottom: 5px;
                            font-size: 12px;
                            span {border-bottom: 1px dotted rgba(59, 177, 143, 1);}
                        
                            &:after {
                                content: attr(data-count);
                                color: rgb(148, 148, 148);
                                font-size: 9px;
                                margin-left: 5px;
                                position: relative;
                                top: -5px;
                            }
                        }
                    }
                
                    select {
                        width: 100%;
                    }
                
                    .values {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                    
                        .delimiter {
                            width: 30px;
                            height: 1px;
                            border: 1px solid rgba(221, 221, 221, 1);
                        }
                    
                        .value {
                            width: 75px;
                            border-radius: 25px;
                            border: 2px solid rgba(221, 221, 221, 1);
                            overflow: hidden;
                        
                            input {
                                padding: 0;
                                border: none;
                                line-height: 24px;
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                
                    #input-range {
                        margin: 20px 10px 30px;
                    }
                
                }
            
                &.open {
                    max-height: none;
                    h4:after {
                        transform: rotate(180deg);
                    }
                }
            }
        
            .accept-filters {
                position: absolute;
                width: 170px;
                top: calc(50% - 14px);
                left: - 185px;
                color: white;
                line-height: 28px;
                font-size: 13px;
            
                svg {
                    display: block;
                    cursor: pointer;
                
                    polygon {fill:#36A68A;}
                
                    text {
                        fill: white;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}