#tab2 {
  padding: 0px 29px; }
  #tab2 h2 {
    font: 24px "Roboto Slab",serif;
    margin-bottom: 27px; }
  #tab2 ul {
    margin-bottom: 28px;
    padding: 0; }
    #tab2 ul.word span {
      border-bottom: 1px dotted #3BB18F;
      text-decoration: none; }
    #tab2 ul li {
      margin-bottom: 5px;
      font-size: 14px;
      list-style-type: none; }
      #tab2 ul li.title {
        font: 14px "Roboto Slab",serif;
        margin-bottom: 10px; }
      #tab2 ul li span {
        text-decoration: underline; }
      #tab2 ul li i {
        width: 30px;
        text-align: center;
        font-size: 16px;
        color: #3BB18F;
        padding-right: 10px; }
  #tab2 .col-2 li {
    margin-bottom: 12px; }