#tab3 .col-header {
  padding: 0px 29px; }
#tab3 .col-footer {
  margin-top: 11px; }
#tab3 h2 {
  font: 24px "Roboto Slab",serif;
  margin-bottom: 27px; }
#tab3 .search {
  margin-bottom: 10px; }
  #tab3 .search label {
    display: block;
    text-align: left;
    font: 14px "Roboto Slab",serif;
    margin-bottom: 8px; }
  #tab3 .search form {
    position: relative; }
    #tab3 .search form:after {
      position: absolute;
      content: "\f002";
      font: 16px FontAwesome;
      color: #3BB18F;
      right: 13px;
      top: 32px; }
#tab3 input {
  outline: none;
  border-radius: 20px;
  border: 3px solid #dddddd;
  text-indent: 20px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 13px;
  line-height: 22px; }
#tab3 select {
  outline: none;
  border-radius: 20px;
  border: 3px solid #dddddd;
  text-indent: 20px;
  font-size: 13px;
  margin-bottom: 13px;
  line-height: 22px;
  width: 150px; }
#tab3 .error {
  font-size: 12px;
  color: #EF5228;
  border: 1px dashed #EF5228;
  border-radius: 10px;
  display: inline-block;
  padding: 1px 9px; }
#tab3 .success {
  font-size: 12px;
  color: #3BB18F;
  border: 1px dashed #3BB18F;
  border-radius: 10px;
  display: inline-block;
  padding: 1px 9px; }
#tab3 .show, #tab3 .date {
  margin-bottom: 14px;
  float: left; }
  #tab3 .show label, #tab3 .date label {
    font: 14px "Roboto Slab",serif;
    margin-right: 15px; }
#tab3 .date {
  margin-left: 25px; }
#tab3 .red-link {
  padding: 20px 0;
  border-top: 1px solid #dddddd; }
  #tab3 .red-link a i {
    padding-right: 8px;
    font-size: 16px;
    color: #cd343a; }
  #tab3 .red-link a:hover i {
    color: white; }
#tab3 .delimiter {
  border-bottom: 1px dashed #dddddd; }
#tab3 table {
  width: 100%; }
  #tab3 table i {
    color: #3BB18F;
    padding-right: 10px;
    font-size: 16px; }
  #tab3 table thead tr {
    border-bottom: 1px solid #dddddd; }
    #tab3 table thead tr td {
      padding: 12px 0;
      font: 14px "Roboto Slab",serif; }
      #tab3 table thead tr td:first-child {
        width: 145px; }
      #tab3 table thead tr td:nth-child(2) {
        width: 322px; }
      #tab3 table thead tr td:nth-child(3) {
        width: 180px; }
  #tab3 table table {
    margin: 8px 0; }
    #tab3 table table tr:first-child td:nth-child(2) {
      padding-left: 0; }
    #tab3 table table tr td {
      padding: 5px 0; }
      #tab3 table table tr td:first-child {
        width: 145px; }
      #tab3 table table tr td:nth-child(2) {
        width: 322px; }
      #tab3 table table tr td:nth-child(3) {
        width: 180px; }
      #tab3 table table tr td span {
        border-bottom: 1px dotted #3BB18F; }
      #tab3 table table tr td:nth-child(2) {
        padding-left: 28px; }