#tab4 .col-head {
  padding: 2px 29px; }
#tab4 .col-footer {
  margin-top: 20px; }
#tab4 h2 {
  font: 24px "Roboto Slab",serif;
  margin-bottom: 22px; }
#tab4 .subscription .title {
  margin-bottom: 11px; }
#tab4 .subscription div {
  position: relative; }
  #tab4 .subscription div label {
    margin-left: 28px;
    line-height: 28px;
    margin-bottom: 2px;
    font-weight: 400; }
  #tab4 .subscription div input {
    -webkit-appearance: none; }
  #tab4 .subscription div .check {
    position: absolute;
    top: 0;
    outline: none;
    width: 0;
    height: 0; }
    #tab4 .subscription div .check:before {
      content: "";
      border: 2px solid #dddddd;
      width: 20px;
      height: 20px;
      display: inline-block; }
    #tab4 .subscription div .check:checked:after {
      text-align: center;
      outline: none;
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      top: 0;
      font-size: 16px;
      content: "\f00c";
      font-family: "FontAwesome";
      color: #3BB18F;
      display: inline-block; }
#tab4 .email, #tab4 .phone {
  margin-top: 20px; }
  #tab4 .email input, #tab4 .email textarea, #tab4 .phone input, #tab4 .phone textarea {
    outline: none;
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-indent: 20px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 18px;
    line-height: 22px; }
  #tab4 .email label, #tab4 .phone label {
    display: block;
    text-align: left;
    font: 14px "Roboto Slab",serif;
    margin-bottom: 9px; }
#tab4 .red-link {
  padding: 20px 0;
  border-top: 1px solid #dddddd; }