aside.sidebar {
  width: 260px;
  background-color: whitesmoke;
  position: fixed;
  height: 100vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  aside.sidebar .logo {
    padding: 20px 30px;
    text-align: center;
    display: block; }
    aside.sidebar .logo img {
      max-width: 100%; }
  aside.sidebar .menu-list {
    padding-left: 20px; }
    aside.sidebar .menu-list.white {
      background: white;
      margin-top: 34px; }
    aside.sidebar .menu-list a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #c9c9c9;
      height: 34px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      font: 14px "Open Sans", sans-serif;
      color: rgba(79, 67, 64, 0.8);
      position: relative; }
      aside.sidebar .menu-list a:last-of-type {
        border-bottom: none; }
      aside.sidebar .menu-list a:before {
        font: 16px FontAwesome;
        content: attr(data-icon);
        color: #3BB18F;
        margin-right: 19px;
        width: 18px;
        text-align: center; }
      aside.sidebar .menu-list a[data-badge]:after {
        border: 1px solid #DDDDDD;
        background: #ffffff;
        line-height: 18px;
        content: attr(data-badge);
        border-radius: 15px;
        position: absolute;
        right: 15px;
        color: rgba(79, 67, 64, 0.6);
        padding: 0 8px;
        font-size: 11px;
        font-weight: bold; }