.antiques-page {
  padding-bottom: 100px; }
  .antiques-page h2.main-header {
    margin: 50px 0 50px 0; }
  .antiques-page .about-content h3 {
    border-bottom: none !important; }
    .antiques-page .about-content h3 span {
      border-bottom: 1px solid #3bb18f;
      font-family: "Roboto Slab", serif; }
  .antiques-page .about-content .description {
    margin-bottom: 20px !important; }
  .antiques-page .about-row img {
    padding-bottom: 20px; }
  .antiques-page .good {
    height: 100% !important; }
    .antiques-page .good .title {
      line-height: 20px !important;
      width: 140px; }
    .antiques-page .good .cover {
      margin-top: 35px !important; }
  .antiques-page .blocks {
    background: #f8f8f8;
    padding: 20px 20px 0px; }
    .antiques-page .blocks .block {
      display: block;
      height: 140px;
      margin-bottom: 20px;
      padding-top: 10px;
      position: relative;
      text-decoration: none; }
      .antiques-page .blocks .block span {
        color: #4f4340;
        font: 22px/30px "Roboto Slab";
        position: relative;
        top: 30px; }
        .antiques-page .blocks .block span:hover {
          border-bottom: 1px solid #3bb18f; }
      .antiques-page .blocks .block .image {
        text-align: center;
        width: 240px;
        float: left; }
      .antiques-page .blocks .block.block-1 {
        background: #e6f1ee; }
      .antiques-page .blocks .block.block-2 {
        background: #f1f0ef; }
      .antiques-page .blocks .block.block-3 {
        background: #e8e7e6; }
      .antiques-page .blocks .block.block-4 {
        background: #f4f0ed; }
      .antiques-page .blocks .block.block-3 .image, .antiques-page .blocks .block.block-4 .image {
        width: 218px; }
      .antiques-page .blocks .block.block-3 span, .antiques-page .blocks .block.block-4 span {
        top: 18px;
        left: 18px; }