.blog-item {
  padding: 45px 30px 82px; }
  .blog-item .blog-row {
    overflow: hidden;
    clear: both; }
    .blog-item .blog-row .blogItem {
      overflow: hidden;
      margin-bottom: 25px; }
      .blog-item .blog-row .blogItem img {
        float: left;
        max-width: 100%; }
      .blog-item .blog-row .blogItem .info-block {
        padding-right: 30px;
        max-width: 600px;
        float: left;
        margin-bottom: 5px; }
        .blog-item .blog-row .blogItem .info-block .info {
          padding-left: 30px; }
          .blog-item .blog-row .blogItem .info-block .info p {
            font: 14px "Open Sans",serif;
            line-height: 18px;
            margin: 16px 0; }
          .blog-item .blog-row .blogItem .info-block .info div {
            display: inline-block; }
          .blog-item .blog-row .blogItem .info-block .info .name {
            display: block;
            margin-bottom: 18px; }
            .blog-item .blog-row .blogItem .info-block .info .name span {
              color: #4f4340;
              font: 24px "Roboto Slab"; }
          .blog-item .blog-row .blogItem .info-block .info .date {
            padding-right: 16px; }
          .blog-item .blog-row .blogItem .info-block .info i {
            color: #3BB18F;
            padding-right: 10px;
            font-size: 16px; }
    .blog-item .blog-row .footer {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 22px;
      text-align: right; }
      .blog-item .blog-row .footer i {
        margin-right: 3px;
        color: #3bb18f;
        font-size: 16px; }
      .blog-item .blog-row .footer div {
        display: inline-block;
        margin-right: 12px;
        font-size: 12px; }
      .blog-item .blog-row .footer a {
        font-size: 14px;
        border-bottom: 1px dotted;
        color: #4f4340;
        text-decoration: none; }
        .blog-item .blog-row .footer a:hover {
          border-bottom: 1px solid; }
    .blog-item .blog-row .comment {
      text-align: right;
      padding: 25px 0; }
      .blog-item .blog-row .comment a {
        text-decoration: none;
        color: #333333;
        padding: 0 2px; }
        .blog-item .blog-row .comment a:hover {
          border-bottom: 1px dashed #3BB18F; }
      .blog-item .blog-row .comment i {
        padding-left: 10px;
        color: #3BB18F; }