.blog-page {
  padding-bottom: 57px; }
  .blog-page .main-header {
    margin: 50px 0 50px 0; }
  .blog-page .preview {
    margin-bottom: 22px; }
  .blog-page .pags {
    margin: 28px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blog-page .pags a {
      width: 28px;
      margin: 0 5px;
      height: 28px;
      text-align: center;
      font: 14px "Roboto Slab",serif;
      display: block;
      text-decoration: none;
      border: 2px solid #f4e3d6;
      border-radius: 50%;
      font-weight: bold;
      color: #3BB18F;
      line-height: 24px; }
      .blog-page .pags a.active {
        border: 2px solid #3BB18F; }
      .blog-page .pags a:hover {
        border: 2px solid #3BB18F; }
    .blog-page .pags i {
      cursor: pointer;
      font-size: 16px;
      color: #f4e3d6; }
      .blog-page .pags i:hover {
        color: #3BB18F; }
    .blog-page .pags .prev {
      margin-right: 20px; }
    .blog-page .pags .next {
      margin-left: 20px; }