.cart-page {
  padding: 30px;
  padding-bottom: 55px; }
  .cart-page * > :focus {
    outline: none; }
  .cart-page .add-order {
    padding: 10px 15px;
    border: 1px solid #dddddd; }
  .cart-page .button {
    border-top: 2px solid #dddddd; }
    .cart-page .button a.next {
      margin-top: 25px;
      color: #cd343a;
      border: 2px solid;
      border-radius: 25px;
      padding: 0 17px;
      font-size: 14px;
      line-height: 27px;
      display: inline-block;
      text-decoration: none;
      float: right;
      font-weight: 700; }
      .cart-page .button a.next:hover {
        background: #cd343a;
        color: white; }
    .cart-page .button a.back {
      margin-top: 25px;
      color: #BCBCBC;
      border: 2px solid;
      border-radius: 25px;
      padding: 0 16px;
      font-size: 14px;
      line-height: 27px;
      display: inline-block;
      text-decoration: none;
      font-weight: 700; }
  .cart-page #content {
    margin-top: 5px; }
  .cart-page #tabs {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .cart-page #tabs:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 49px;
      z-index: 0;
      width: 753px;
      background: #cccccc;
      height: 2px; }
    .cart-page #tabs .done {
      position: relative; }
    .cart-page #tabs li {
      z-index: 1;
      margin: 0;
      padding: 0;
      float: left;
      position: relative; }
      .cart-page #tabs li a {
        color: #CCCCCC;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .cart-page #tabs li a:before {
          display: block;
          content: attr(data-number);
          width: 28px;
          height: 28px;
          line-height: 22px;
          text-align: center;
          border: 2px solid #dddddd;
          color: #CCCCCC;
          border-radius: 50%;
          font-weight: 700;
          font-size: 16px;
          margin: 0 24px;
          margin-bottom: 9px;
          background: white;
          z-index: 1; }
        .cart-page #tabs li a span {
          font: 16px "Roboto Slab",serif;
          display: block;
          color: #cccccc;
          text-align: center;
          white-space: pre-wrap; }
      .cart-page #tabs li.passed a:before {
        content: "\f00c";
        font-family: FontAwesome;
        color: white;
        border-color: #3BB18F;
        background: #3BB18F; }
      .cart-page #tabs li.current a:before {
        display: block;
        color: white;
        border-color: #3BB18F;
        background: #3BB18F;
        z-index: 1; }
      .cart-page #tabs li.current a span {
        color: black; }
      .cart-page #tabs li.passed:not(:first-of-type):before, .cart-page #tabs li.current:not(:first-of-type):before {
        content: "";
        background: #3BB18F;
        position: absolute;
        top: 13px;
        z-index: 0;
        left: -324px;
        width: 376px;
        height: 2px; }
  .cart-page #tab1 {
    padding: 25px 0; }
    .cart-page #tab1 .items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 25px; }
      .cart-page #tab1 .items .item {
        position: relative;
        border: 3px solid #dddddd;
        margin-bottom: 20px; }
        .cart-page #tab1 .items .item:first-of-type:after {
          height: 47px;
          width: 36px;
          background: #3bb18f;
          color: white;
          content: "\f295";
          position: absolute;
          top: -3px;
          left: -3px;
          -webkit-clip-path: url(#mark-mask);
          clip-path: url(#mark-mask);
          font-size: 20px;
          line-height: 38px;
          font-family: "FontAwesome";
          text-align: center; }
        .cart-page #tab1 .items .item:last-of-type:after {
          height: 47px;
          width: 36px;
          background: #ef5228;
          color: white;
          content: "\f06b";
          position: absolute;
          top: -3px;
          left: -3px;
          -webkit-clip-path: url(#mark-mask);
          clip-path: url(#mark-mask);
          font-size: 20px;
          line-height: 40px;
          font-family: "FontAwesome";
          text-align: center; }
        .cart-page #tab1 .items .item .delete {
          position: absolute;
          right: 30px;
          top: 90px; }
          .cart-page #tab1 .items .item .delete i {
            font-size: 26px;
            color: #BCBCBC;
            padding-left: 10px; }
        .cart-page #tab1 .items .item .image {
          border-right: 3px solid #dddddd;
          float: left;
          padding: 13px; }
          .cart-page #tab1 .items .item .image img {
            padding-bottom: 3px; }
        .cart-page #tab1 .items .item .description {
          float: left;
          margin-left: 31px;
          width: 350px;
          padding: 29px 0; }
          .cart-page #tab1 .items .item .description .name {
            margin-bottom: 10px; }
            .cart-page #tab1 .items .item .description .name span {
              font: 16px "Roboto Slab",serif; }
              .cart-page #tab1 .items .item .description .name span:hover {
                border-bottom: 1px solid #3BB18F; }
          .cart-page #tab1 .items .item .description .point {
            float: left; }
            .cart-page #tab1 .items .item .description .point span {
              font: 20px "Roboto Slab"; }
          .cart-page #tab1 .items .item .description .gift {
            float: left;
            background-color: #ef5228;
            color: white;
            border-radius: 25px;
            padding: 0 15px;
            font-size: 13px;
            line-height: 25px;
            display: inline-block;
            text-decoration: none;
            font-weight: 700;
            margin-right: 20px; }
        .cart-page #tab1 .items .item .col {
          float: left;
          margin-top: 93px;
          margin-left: 35px; }
          .cart-page #tab1 .items .item .col .min, .cart-page #tab1 .items .item .col .max, .cart-page #tab1 .items .item .col .number {
            float: left; }
          .cart-page #tab1 .items .item .col i {
            font-size: 18px;
            color: #3BB18F;
            vertical-align: -webkit-baseline-middle; }
          .cart-page #tab1 .items .item .col .number {
            border: 2px solid #dddddd;
            border-radius: 13px;
            padding: 2px 11px;
            margin: 0 7px; }
        .cart-page #tab1 .items .item .price-block {
          margin-top: 89px;
          margin-left: 35px;
          float: left;
          font: 24px "Roboto Slab",serif; }
          .cart-page #tab1 .items .item .price-block.old {
            margin-top: 75px; }
            .cart-page #tab1 .items .item .price-block.old a {
              margin-top: 15px; }
          .cart-page #tab1 .items .item .price-block .old-price {
            color: #BCBCBC;
            display: block;
            font-size: 18px;
            text-decoration: line-through; }
            .cart-page #tab1 .items .item .price-block .old-price span {
              font-size: 12px;
              color: #BCBCBC; }
          .cart-page #tab1 .items .item .price-block span {
            font: 16px "Roboto Slab",serif; }
          .cart-page #tab1 .items .item .price-block a {
            margin-top: 25px;
            color: #cd343a;
            border: 2px solid;
            border-radius: 25px;
            padding: 0 30px;
            font-size: 14px;
            line-height: 29px;
            display: block;
            text-decoration: none;
            font-weight: 700; }
            .cart-page #tab1 .items .item .price-block a:hover {
              background: #cd343a;
              color: white; }
    .cart-page #tab1 .total {
      overflow: hidden;
      padding-bottom: 5px; }
      .cart-page #tab1 .total .promo {
        float: left; }
        .cart-page #tab1 .total .promo input {
          max-width: 164px; }
      .cart-page #tab1 .total .certificate {
        float: left;
        margin-left: 32px; }
      .cart-page #tab1 .total input {
        outline: none;
        border-radius: 20px;
        border: 3px solid #dddddd;
        text-indent: 20px;
        font-size: 13px;
        margin-bottom: 18px;
        line-height: 22px;
        width: 100%; }
      .cart-page #tab1 .total label {
        display: block;
        text-align: left;
        font: 14px "Roboto Slab",serif; }
        .cart-page #tab1 .total label i {
          color: #3BB18F;
          padding-left: 8px;
          vertical-align: middle;
          font-size: 20px; }
      .cart-page #tab1 .total .price {
        font: 24px "Roboto Slab",serif;
        text-align: right;
        margin-top: 10px;
        float: right;
        margin-right: 110px; }
    .cart-page #tab1 section.goods-row {
      margin: 30px 0; }
    .cart-page #tab1 .place {
      margin: 46px 0 0; }
      .cart-page #tab1 .place h2 {
        font: 24px "Roboto Slab", serif;
        margin-bottom: 21px; }
      .cart-page #tab1 .place a {
        text-decoration: none;
        margin-right: 10px;
        border: 1px dashed #dddddd;
        border-radius: 25px;
        padding: 5px 15px;
        color: #4f4340;
        font: 13px "Open Sans",serif; }
        .cart-page #tab1 .place a.active {
          background: #3BB18F;
          border-color: #3BB18F;
          color: white; }
  .cart-page #tab2 {
    padding: 25px 0;
    padding-bottom: 38px; }
    .cart-page #tab2 .info-delivery {
      margin-bottom: 25px; }
      .cart-page #tab2 .info-delivery h2 {
        font: 24px "Roboto Slab",serif;
        margin-bottom: 25px; }
      .cart-page #tab2 .info-delivery .password h2 {
        margin-top: 10px; }
      .cart-page #tab2 .info-delivery .data {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 10px; }
      .cart-page #tab2 .info-delivery .data .email, .cart-page #tab2 .info-delivery .password .email {
        float: left; }
      .cart-page #tab2 .info-delivery .data label, .cart-page #tab2 .info-delivery .password label {
        margin-bottom: 8px; }
      .cart-page #tab2 .info-delivery .data input, .cart-page #tab2 .info-delivery .data textarea, .cart-page #tab2 .info-delivery .password input, .cart-page #tab2 .info-delivery .password textarea {
        outline: none;
        border-radius: 20px;
        border: 3px solid #dddddd;
        text-indent: 20px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 14px;
        line-height: 22px; }
      .cart-page #tab2 .info-delivery .data .red-button, .cart-page #tab2 .info-delivery .password .red-button {
        text-align: center; }
        .cart-page #tab2 .info-delivery .data .red-button button, .cart-page #tab2 .info-delivery .password .red-button button {
          color: #cd343a;
          border: 2px solid;
          border-radius: 25px;
          padding: 0 18px;
          line-height: 28px;
          display: inline-block;
          background: white;
          text-decoration: none;
          font-weight: 700; }
          .cart-page #tab2 .info-delivery .data .red-button button:hover, .cart-page #tab2 .info-delivery .password .red-button button:hover {
            background: #cd343a;
            color: white; }
      .cart-page #tab2 .info-delivery .data label, .cart-page #tab2 .info-delivery .password label {
        display: block;
        text-align: left;
        font: 14px "Roboto Slab",serif; }
      .cart-page #tab2 .info-delivery .subscription {
        margin-top: 23px; }
        .cart-page #tab2 .info-delivery .subscription .title {
          margin-bottom: 11px; }
        .cart-page #tab2 .info-delivery .subscription div {
          position: relative; }
          .cart-page #tab2 .info-delivery .subscription div label {
            margin-left: 28px;
            line-height: 26px;
            margin-bottom: 2px;
            font-weight: 400; }
          .cart-page #tab2 .info-delivery .subscription div input {
            -webkit-appearance: none; }
          .cart-page #tab2 .info-delivery .subscription div .check {
            position: absolute;
            top: 0;
            outline: none;
            width: 0;
            height: 0; }
            .cart-page #tab2 .info-delivery .subscription div .check:before {
              content: "";
              border: 2px solid #dddddd;
              width: 20px;
              border-radius: 50%;
              height: 20px;
              display: inline-block; }
            .cart-page #tab2 .info-delivery .subscription div .check:checked:after {
              text-align: center;
              outline: none;
              position: absolute;
              width: 21px;
              height: 20px;
              line-height: 20px;
              top: 0;
              font-size: 12px;
              content: "\f111";
              font-family: "FontAwesome";
              color: #3BB18F;
              display: inline-block; }
  .cart-page #tab3 {
    margin: 40px 0;
    padding-bottom: 16px; }
    .cart-page #tab3 .col {
      margin-top: 22px;
      border: 3px solid #dddddd;
      margin-bottom: 25px; }
      .cart-page #tab3 .col .col-body {
        padding: 0 20px; }
        .cart-page #tab3 .col .col-body table {
          width: 100%; }
        .cart-page #tab3 .col .col-body tr {
          border-bottom: 1px dashed #dddddd; }
          .cart-page #tab3 .col .col-body tr:last-child {
            border-bottom: none; }
          .cart-page #tab3 .col .col-body tr td {
            padding: 17px 8px;
            margin: 0 20px; }
            .cart-page #tab3 .col .col-body tr td:first-child {
              font: 16px "Roboto Slab",serif; }
            .cart-page #tab3 .col .col-body tr td:last-child {
              text-align: right;
              font: 20px "Roboto Slab",serif; }
            .cart-page #tab3 .col .col-body tr td .old-price {
              font: 16px "Roboto Slab",serif;
              text-decoration: line-through;
              color: #BCBCBC;
              margin-right: 10px; }
      .cart-page #tab3 .col .col-footer {
        border-top: 3px solid #dddddd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 18px 27px; }
        .cart-page #tab3 .col .col-footer span {
          font: 16px "Roboto Slab",serif; }
          .cart-page #tab3 .col .col-footer span:last-child {
            font: 20px "Roboto Slab",serif; }
    .cart-page #tab3 .price-block {
      text-align: right;
      margin: 10px 30px 25px 0; }
      .cart-page #tab3 .price-block .sale {
        font: 18px "Roboto Slab",serif; }
      .cart-page #tab3 .price-block .price {
        font: 24px "Roboto Slab",serif; }