.catalog-page {
  margin-bottom: 100px;
  position: relative;
  overflow: hidden; }
  .catalog-page .main-header {
    margin: 55px 0 55px 0; }
  .catalog-page .categories {
    padding: 66px 44px;
    background-color: whitesmoke; }
    .catalog-page .categories h3 {
      margin-top: 0;
      color: #4f4340;
      border-bottom: 1px solid #3BB18F;
      font-size: 26px;
      font-family: "Roboto Slab", serif;
      display: inline-block;
      width: 510px;
      margin-bottom: 20px; }
    .catalog-page .categories .list {
      -webkit-columns: 250px 3;
              columns: 250px 3; }
      .catalog-page .categories .list a {
        color: black;
        margin-bottom: 10px;
        white-space: nowrap;
        display: block;
        font-size: 16px;
        font-family: 'Open Sans',serif;
        text-decoration: none; }
        .catalog-page .categories .list a span {
          border-bottom: 1px solid #3BB18F; }
        .catalog-page .categories .list a i {
          color: #3BB18F;
          padding-right: 10px;
          text-align: center; }
  .catalog-page section.goods-row {
    margin: 25px 0; }
    .catalog-page section.goods-row h2 {
      margin: 50px 0 55px 0; }
    .catalog-page section.goods-row .goods-list {
      padding-bottom: 30px; }
  .catalog-page section.about-row .about-content h3 {
    white-space: nowrap; }
  .catalog-page .sales h2.main-header {
    margin: 30px 0 45px 0; }
  .catalog-page .good-row h2.main-header {
    color: #4f4340; }
  .catalog-page .red-link {
    margin-bottom: 20px; }