.company-page {
  padding: 0 30px;
  padding-bottom: 88px; }
  .company-page .more {
    border: 1px solid #e4e4e4;
    padding: 22px 20px 8px;
    margin-bottom: 5px;
    overflow: hidden; }
    .company-page .more span {
      font: 16px "Roboto Slab", serif;
      margin-bottom: 13px;
      margin-right: 14px;
      float: left; }
    .company-page .more #tabs {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0; }
      .company-page .more #tabs #current a {
        background: #3BB18F;
        border-color: #3BB18F;
        color: white; }
        .company-page .more #tabs #current a i {
          color: #3BB18F; }
      .company-page .more #tabs li {
        margin: 0;
        padding: 0;
        float: left; }
        .company-page .more #tabs li a {
          text-decoration: none;
          margin-right: 10px;
          border: 1px dashed #dddddd;
          border-radius: 25px;
          padding: 4px 15px;
          color: #4f4340;
          font: 13px "Open Sans",serif; }
          .company-page .more #tabs li a span {
            border-bottom: 1px dotted; }
          .company-page .more #tabs li a i {
            font-size: 16px;
            padding-right: 7px;
            color: #BCBCBC;
            vertical-align: text-top; }
  .company-page h2.main-header {
    margin: 50px 0 50px 0; }
  .company-page .grid-item {
    position: relative; }
    .company-page .grid-item span {
      font: 18px "Roboto Slab",serif;
      color: white;
      position: absolute;
      bottom: 21px;
      left: 21px; }
  .company-page h3 {
    font: 24px "Roboto Slab", serif;
    margin-bottom: 20px; }
  .company-page article {
    font: 18px "Roboto Slab", serif;
    background: #f8f8f8;
    padding: 32px 96px;
    margin: 25px 0;
    margin-right: 10px;
    position: relative; }
    .company-page article i {
      font-size: 40px; }
    .company-page article .left i {
      color: #3BB18F;
      top: 30px;
      left: 30px;
      position: absolute; }
    .company-page article .right i {
      color: #e9e9e9;
      right: 26px;
      bottom: 30px;
      position: absolute; }
  .company-page .description p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px; }
    .company-page .description p a {
      color: #3BB18F;
      border-bottom: 1px solid #3BB18F; }
      .company-page .description p a:hover {
        text-decoration: none; }
  .company-page .description .image {
    position: relative;
    float: left;
    margin-right: 30px; }
    .company-page .description .image img {
      width: 278px;
      height: 185px;
      border: 5px solid #dddddd; }
    .company-page .description .image span {
      font: 18px "Roboto Slab",serif;
      color: white;
      position: absolute;
      bottom: 21px;
      left: 21px; }
  .company-page .page-plan {
    overflow: hidden; }
  .company-page h3 {
    margin-left: 110px;
    margin-bottom: 23px; }
  .company-page .icon-i {
    float: left;
    margin-right: 22px;
    margin-bottom: 8px; }
    .company-page .icon-i span {
      line-height: 29px;
      margin-left: 11px; }
    .company-page .icon-i .icon {
      border: 1px solid #dddddd;
      border-radius: 50%;
      color: #3BB18F;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 28px;
      height: 28px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 16px;
      float: left; }
      .company-page .icon-i .icon i {
        font-size: 16px; }
  .company-page .icon-row {
    overflow: hidden;
    margin-left: 110px; }
  .company-page #tabs2 {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 21px; }
    .company-page #tabs2 #current a {
      background: #3BB18F;
      color: white; }
      .company-page #tabs2 #current a i {
        color: #3BB18F; }
    .company-page #tabs2 li {
      margin: 0;
      padding: 0;
      margin-bottom: 27px; }
      .company-page #tabs2 li a {
        text-decoration: none;
        margin-right: 10px;
        background: whitesmoke;
        border-radius: 25px;
        padding: 4px 13px;
        color: #4f4340;
        font: 16px "Roboto Slab",serif;
        position: relative; }
        .company-page #tabs2 li a:after {
          content: "";
          width: 30px;
          height: 1px;
          position: absolute;
          top: 15px;
          left: 84px;
          border-bottom: 1px dashed #dddddd; }
        .company-page #tabs2 li a span {
          border-bottom: 1px dotted; }
        .company-page #tabs2 li a i {
          font-size: 16px;
          padding-right: 7px;
          color: #BCBCBC;
          vertical-align: text-top; }
  .company-page #content2 {
    float: right;
    margin-top: 18px; }
    .company-page #content2 img {
      border: 1px solid #dddddd; }
  .company-page .gray-yellow {
    background: #f4f0ed; }
  .company-page section.about-row:nth-child(2) {
    margin: 40px 0; }
  .company-page .services-page {
    margin-top: 30px; }