.contacts-page {
  padding: 22px 30px 103px;
  color: #4f4340; }
  .contacts-page h1 {
    margin-bottom: 27px;
    font: 30px "Roboto Slab",serif; }
  .contacts-page h2 {
    font: 24px "Roboto Slab",serif;
    margin-bottom: 30px; }
  .contacts-page .map {
    border: 5px solid #dddddd;
    margin-top: 17px;
    margin-bottom: 40px; }
  .contacts-page .callback {
    width: 395px;
    margin: 0 auto; }
    .contacts-page .callback .email {
      float: left; }
    .contacts-page .callback textarea {
      height: 115px; }
    .contacts-page .callback input, .contacts-page .callback textarea {
      outline: none;
      border-radius: 20px;
      border: 3px solid #dddddd;
      text-indent: 20px;
      width: 100%;
      margin-bottom: 18px;
      line-height: 20px; }
    .contacts-page .callback .red-button {
      text-align: center; }
      .contacts-page .callback .red-button button {
        color: #cd343a;
        border: 2px solid;
        border-radius: 25px;
        padding: 0 18px;
        line-height: 28px;
        display: inline-block;
        background: white;
        text-decoration: none;
        font-weight: 700; }
        .contacts-page .callback .red-button button:hover {
          background: #cd343a;
          color: white; }
    .contacts-page .callback label {
      display: block;
      text-align: left;
      font: 14px "Roboto Slab",serif; }
  .contacts-page .col-2 li {
    margin-bottom: 12px; }
  .contacts-page ul {
    margin-bottom: 28px;
    padding: 0; }
    .contacts-page ul li {
      margin-bottom: 5px;
      font-size: 14px;
      list-style-type: none; }
      .contacts-page ul li.title {
        font: 16px "Roboto Slab",serif; }
      .contacts-page ul li span {
        text-decoration: underline; }
      .contacts-page ul li i {
        width: 30px;
        text-align: center;
        font-size: 16px;
        color: #3BB18F;
        padding-right: 10px; }