.events-page {
  padding: 0 30px 111px; }
  .events-page h2 {
    margin: 50px 0 50px 0; }
  .events-page .calendar {
    padding: 15px 0;
    background: rgba(248, 248, 248, 0.75);
    border: 1px solid #e4e4e4;
    height: 170px;
    margin: 0 20px;
    margin-bottom: 25px;
    position: relative; }
    .events-page .calendar .more {
      display: none;
      position: absolute;
      width: 220px;
      background: white;
      height: 90px;
      border: 1px solid #dddddd;
      padding-left: 20px;
      padding-top: 12px;
      z-index: 1; }
      .events-page .calendar .more .name {
        text-align: left;
        margin-bottom: 9px; }
        .events-page .calendar .more .name span {
          border-bottom: 1px solid #3BB18F;
          font: 12px "Roboto Slab",serif; }
      .events-page .calendar .more .time {
        margin-bottom: 4px; }
      .events-page .calendar .more div {
        color: #4f4340;
        font: 12px "Open Sans",serif; }
      .events-page .calendar .more i {
        color: #3BB18F;
        padding-right: 5px; }
    .events-page .calendar .prev, .events-page .calendar .next {
      position: absolute;
      background: white;
      border-radius: 50%;
      border: 2px solid #3BB18F;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px; }
      .events-page .calendar .prev i, .events-page .calendar .next i {
        color: #3BB18F;
        font-size: 16px; }
    .events-page .calendar .prev {
      top: 65px;
      left: -21px; }
    .events-page .calendar .next {
      top: 65px;
      right: -21px; }
    .events-page .calendar .name {
      font: 16px "Roboto Slab", serif;
      color: #4f4340;
      text-align: center;
      margin-bottom: 4px; }
    .events-page .calendar .dates {
      padding: 0px 136px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .events-page .calendar .dates a {
        margin: 7px 6px;
        width: 25px;
        height: 25px;
        text-align: center;
        font: 14px "Open Sans", serif;
        display: block;
        text-decoration: none;
        border: 2px solid #f4e3d6;
        border-radius: 50%;
        color: #4f4340;
        line-height: 21px; }
        .events-page .calendar .dates a:hover {
          background: #3BB18F;
          border-color: #3BB18F;
          color: white;
          font-weight: bold; }
        .events-page .calendar .dates a.active {
          border: 2px solid #3BB18F; }
        .events-page .calendar .dates a:hover {
          border: 2px solid #3BB18F; }
  .events-page .event-row {
    overflow: hidden;
    clear: both; }
    .events-page .event-row .event-item {
      overflow: hidden;
      border: 5px solid #e4e4e4;
      margin-bottom: 25px; }
      .events-page .event-row .event-item img {
        float: left;
        max-width: 100%; }
      .events-page .event-row .event-item .info-block {
        padding-right: 30px;
        max-width: 650px;
        float: left; }
        .events-page .event-row .event-item .info-block .info {
          padding: 25px 0 0px 30px; }
          .events-page .event-row .event-item .info-block .info p {
            font: 14px "Open Sans",serif;
            line-height: 18px;
            margin: 16px 0; }
          .events-page .event-row .event-item .info-block .info div {
            display: inline-block; }
          .events-page .event-row .event-item .info-block .info .name {
            display: block;
            margin-bottom: 18px; }
            .events-page .event-row .event-item .info-block .info .name span {
              color: #4f4340;
              font: 18px "Roboto Slab"; }
              .events-page .event-row .event-item .info-block .info .name span:hover {
                border-bottom: 1px solid #3BB18F; }
          .events-page .event-row .event-item .info-block .info .date, .events-page .event-row .event-item .info-block .info .time {
            position: relative; }
            .events-page .event-row .event-item .info-block .info .date:after, .events-page .event-row .event-item .info-block .info .time:after {
              content: "";
              width: 1px;
              background: #dddddd;
              height: 22px;
              display: block;
              position: absolute;
              right: 0;
              top: -1px; }
          .events-page .event-row .event-item .info-block .info .date {
            padding-right: 16px; }
          .events-page .event-row .event-item .info-block .info .time {
            padding: 0 14px;
            margin-right: 13px; }
          .events-page .event-row .event-item .info-block .info i {
            color: #3BB18F;
            padding-right: 10px;
            font-size: 16px; }
          .events-page .event-row .event-item .info-block .info .author i {
            color: #ef5228;
            padding-right: 10px; }
          .events-page .event-row .event-item .info-block .info .author span {
            border-bottom: 1px dotted; }
            .events-page .event-row .event-item .info-block .info .author span:hover {
              border-bottom: 1px solid; }
      .events-page .event-row .event-item .footer {
        margin-top: 23px;
        border-top: 1px solid #dddddd;
        padding-top: 27px;
        padding-left: 30px; }
        .events-page .event-row .event-item .footer i {
          margin-right: 3px;
          color: #3bb18f;
          font-size: 16px; }
        .events-page .event-row .event-item .footer div {
          display: inline-block;
          margin-right: 12px; }
        .events-page .event-row .event-item .footer a {
          border-bottom: 1px dotted;
          color: #4f4340;
          text-decoration: none; }
          .events-page .event-row .event-item .footer a:hover {
            border-bottom: 1px solid; }