.form-enter {
  position: relative;
  overflow: hidden;
  margin-top: -57px; }
  .form-enter .page-categories {
    margin-top: 57px; }
  .form-enter .accept-filters {
    z-index: 99 !important; }
  .form-enter .enter-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.9);
    z-index: 100;
    padding: 0 30px; }
    .form-enter .enter-overlay .enter-profile {
      padding-bottom: 18px;
      width: 230px;
      background: white;
      margin: 0 auto;
      border: 1px solid #dddddd; }
      .form-enter .enter-overlay .enter-profile .title {
        padding: 18px 0;
        margin-left: 25px; }
      .form-enter .enter-overlay .enter-profile form {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding: 17px 24px 5px; }
        .form-enter .enter-overlay .enter-profile form label {
          display: block;
          text-align: left;
          font: 14px "Roboto Slab",serif;
          margin-bottom: 8px; }
        .form-enter .enter-overlay .enter-profile form input {
          outline: none;
          border-radius: 20px;
          border: 3px solid #dddddd;
          text-indent: 20px;
          width: 100%;
          font-size: 13px;
          margin-bottom: 13px;
          line-height: 22px; }
      .form-enter .enter-overlay .enter-profile .red-link {
        padding: 20px 0 0;
        border-top: 1px solid #dddddd; }
        .form-enter .enter-overlay .enter-profile .red-link a {
          line-height: 27px; }
      .form-enter .enter-overlay .enter-profile .forgot, .form-enter .enter-overlay .enter-profile .register {
        color: #6b6b6b;
        font-size: 12px;
        margin-top: 4px;
        text-align: center; }
        .form-enter .enter-overlay .enter-profile .forgot a, .form-enter .enter-overlay .enter-profile .register a {
          color: #6b6b6b;
          text-decoration: underline; }