.form-cart {
  position: relative;
  overflow: hidden;
  margin-top: -57px; }
  .form-cart .page-categories {
    margin-top: 57px; }
  .form-cart .accept-filters {
    z-index: 99 !important; }
  .form-cart .cart-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.9);
    z-index: 100;
    padding: 0 0 0 30px; }
    .form-cart .cart-overlay .count-cart {
      width: 328px;
      background: white;
      float: right;
      border: 1px solid #dddddd; }
      .form-cart .cart-overlay .count-cart .count {
        overflow: hidden;
        padding: 7px 36px 7px 26px; }
        .form-cart .cart-overlay .count-cart .count span {
          margin-right: 15px;
          float: left;
          margin-top: 7px; }
        .form-cart .cart-overlay .count-cart .count .cart {
          display: inline-block;
          float: right; }
          .form-cart .cart-overlay .count-cart .count .cart span {
            font-size: 14px;
            color: #7F7775;
            border-bottom: 1px dotted; }
        .form-cart .cart-overlay .count-cart .count .cart-badge {
          border: 2px solid #dddddd;
          border-radius: 50%;
          color: #3BB18F;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 36px;
          height: 36px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 16px;
          float: right; }
          .form-cart .cart-overlay .count-cart .count .cart-badge i {
            color: #3BB18F; }
          .form-cart .cart-overlay .count-cart .count .cart-badge:after {
            position: absolute;
            width: 19px;
            height: 19px;
            content: attr(data-count);
            color: white;
            font-size: 10px;
            text-align: center;
            top: 7px;
            right: -10px;
            border: 2px solid white;
            background: #ef5228;
            border-radius: 50%;
            line-height: 15px; }
      .form-cart .cart-overlay .count-cart .time {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding: 17px 26px;
        font: 14px "Roboto Slab",serif; }
        .form-cart .cart-overlay .count-cart .time .line {
          width: 100%;
          border: 1px solid #dddddd;
          margin-top: 10px;
          border-radius: 10px;
          height: 18px;
          position: relative; }
          .form-cart .cart-overlay .count-cart .time .line:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 187px;
            background: #3BB18F;
            border-radius: 10px;
            height: 18px; }
        .form-cart .cart-overlay .count-cart .time .price {
          font-size: 12px;
          text-align: center; }
      .form-cart .cart-overlay .count-cart table {
        margin: 10px 20px; }
        .form-cart .cart-overlay .count-cart table tr:last-child td {
          border-bottom: none;
          padding-top: 7px !important; }
        .form-cart .cart-overlay .count-cart table tr td {
          padding: 8px 7px;
          border-bottom: 1px dashed #dddddd; }
          .form-cart .cart-overlay .count-cart table tr td:first-child span {
            font: 14px "Roboto Slab",serif;
            display: block; }
          .form-cart .cart-overlay .count-cart table tr td:nth-child(2) {
            text-align: right;
            padding-top: 22px; }
            .form-cart .cart-overlay .count-cart table tr td:nth-child(2) span {
              font-weight: bold;
              font-size: 12px;
              white-space: nowrap; }
      .form-cart .cart-overlay .count-cart .red-link {
        padding: 20px 0;
        border-top: 1px solid #dddddd; }
        .form-cart .cart-overlay .count-cart .red-link a {
          padding: 0 13px;
          line-height: 27px; }