@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic");
aside.sidebar {
  width: 260px;
  background-color: whitesmoke;
  position: fixed;
  height: 100vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2; }
  aside.sidebar .logo {
    padding: 20px 30px;
    text-align: center;
    display: block; }
    aside.sidebar .logo img {
      max-width: 100%; }
  aside.sidebar .menu-list {
    padding-left: 20px; }
    aside.sidebar .menu-list.white {
      background: white;
      margin-top: 34px; }
    aside.sidebar .menu-list a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #c9c9c9;
      height: 34px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      font: 14px "Open Sans", sans-serif;
      color: rgba(79, 67, 64, 0.8);
      position: relative; }
      aside.sidebar .menu-list a:last-of-type {
        border-bottom: none; }
      aside.sidebar .menu-list a:before {
        font: 16px FontAwesome;
        content: attr(data-icon);
        color: #3BB18F;
        margin-right: 19px;
        width: 18px;
        text-align: center; }
      aside.sidebar .menu-list a[data-badge]:after {
        border: 1px solid #DDDDDD;
        background: #ffffff;
        line-height: 18px;
        content: attr(data-badge);
        border-radius: 15px;
        position: absolute;
        right: 15px;
        color: rgba(79, 67, 64, 0.6);
        padding: 0 8px;
        font-size: 11px;
        font-weight: bold; }

nav.topbar {
  height: 57px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1; }
  nav.topbar > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    width: 25%;
    height: 57px;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box; }
    nav.topbar > *:last-of-type {
      border-right: none; }
  nav.topbar .search {
    width: 280px; }
    nav.topbar .search form {
      position: relative;
      width: 230px; }
      nav.topbar .search form input {
        display: block;
        width: 100%;
        text-indent: 20px;
        height: 26px;
        border-radius: 25px;
        border: 2px solid #dddddd;
        font: 13px "Open Sans"; }
        nav.topbar .search form input::-webkit-input-placeholder {
          color: #999999; }
      nav.topbar .search form:after {
        position: absolute;
        content: "\f002";
        font: 16px FontAwesome;
        color: #3BB18F;
        right: 10px;
        top: 5px; }
  nav.topbar .login * {
    margin: 0 5px;
    display: block; }
  nav.topbar .login .icon {
    color: #3BB18F; }
  nav.topbar .login a {
    border-bottom: 1px dotted;
    text-decoration: none;
    color: #7F7775;
    font-size: 14px; }
  nav.topbar .city {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180px; }
    nav.topbar .city * {
      font-size: 14px; }
    nav.topbar .city .city-name {
      color: #7f7775;
      margin-bottom: 0px; }
    nav.topbar .city .phone {
      text-decoration: none;
      color: #7F7775;
      border-bottom: 1px dotted; }
  nav.topbar .cart > * {
    margin: 0 8px; }
  nav.topbar .cart span {
    font-size: 14px;
    color: #7F7775;
    border-bottom: 1px dotted; }
  nav.topbar .cart .cart-badge {
    border: 2px solid #dddddd;
    border-radius: 50%;
    color: #3BB18F;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    nav.topbar .cart .cart-badge[data-count]::after {
      position: absolute;
      width: 19px;
      height: 19px;
      content: attr(data-count);
      color: white;
      font-size: 10px;
      text-align: center;
      top: 7px;
      right: -10px;
      border: 2px solid white;
      background: #ef5228;
      border-radius: 50%;
      line-height: 15px; }
  nav.topbar.search .search {
    width: 100%;
    padding: 0 30px; }
    nav.topbar.search .search form {
      width: 100%; }

section.goods-row {
  margin: 50px 0;
  padding: 0 20px; }
  section.goods-row h2 {
    font-family: "Roboto Slab", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px 0;
    font-size: 36px; }
    section.goods-row h2:before, section.goods-row h2:after {
      width: 80px;
      height: 2px;
      background: #dddddd;
      content: "";
      display: inline-block;
      margin: 0 20px; }
  section.goods-row .goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.goods-row .goods-list .arrow-left, section.goods-row .goods-list .arrow-right {
      width: 40px;
      height: 80px;
      border-radius: 25px;
      color: #3bb18f;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid;
      background: white;
      z-index: 2;
      position: relative;
      cursor: pointer; }
    section.goods-row .goods-list .goods-carousel {
      width: calc(100% - 40px);
      margin: 0 -20px; }
      section.goods-row .goods-list .goods-carousel .good {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 360px;
        position: relative;
        z-index: 1; }
        section.goods-row .goods-list .goods-carousel .good:before {
          z-index: -1;
          content: "";
          width: 110px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 3px solid #dddddd; }
        section.goods-row .goods-list .goods-carousel .good .cover {
          box-shadow: -5px 4px 0 #e5e5e5;
          margin-bottom: 4px;
          position: relative; }
          section.goods-row .goods-list .goods-carousel .good .cover:hover .info {
            opacity: 1; }
          section.goods-row .goods-list .goods-carousel .good .cover img {
            max-width: 131px; }
          section.goods-row .goods-list .goods-carousel .good .cover .info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(242, 242, 242, 0.976);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            opacity: 0;
            transition: 0.2s; }
            section.goods-row .goods-list .goods-carousel .good .cover .info .author {
              font: 12px "Roboto Slab"; }
              section.goods-row .goods-list .goods-carousel .good .cover .info .author:after {
                display: block;
                width: 40px;
                height: 1px;
                background: #4f4340;
                content: "";
                margin: 10px auto; }
            section.goods-row .goods-list .goods-carousel .good .cover .info .rate {
              color: #cd343a;
              text-align: center;
              font: 16px "FontAwesome";
              letter-spacing: 3px;
              margin-bottom: 35px; }
            section.goods-row .goods-list .goods-carousel .good .cover .info a {
              color: #4f4340;
              font-size: 14px;
              border-bottom: 1px dotted;
              line-height: 16px;
              text-decoration: none; }
              section.goods-row .goods-list .goods-carousel .good .cover .info a:hover {
                border-bottom-style: solid; }
        section.goods-row .goods-list .goods-carousel .good .title, section.goods-row .goods-list .goods-carousel .good .price {
          font-family: "Roboto Slab", serif;
          font-size: 16px;
          text-align: center;
          line-height: 1;
          background: white;
          padding-bottom: 13px; }
          section.goods-row .goods-list .goods-carousel .good .title.title, section.goods-row .goods-list .goods-carousel .good .price.title {
            padding-top: 16px; }
          section.goods-row .goods-list .goods-carousel .good .title .old-price, section.goods-row .goods-list .goods-carousel .good .price .old-price {
            color: #cd343a;
            font-size: 12px;
            display: inline-block;
            margin-right: 10px;
            text-decoration: line-through; }
        section.goods-row .goods-list .goods-carousel .good .red-link a {
          background: white;
          margin-bottom: 25px; }
          section.goods-row .goods-list .goods-carousel .good .red-link a:hover {
            background: #cd343a; }

section.about-row {
  height: 300px;
  position: relative;
  padding: 50px; }
  section.about-row img {
    position: absolute;
    bottom: 0; }
  section.about-row.left-image {
    padding-left: 335px;
    padding-right: 90px; }
    section.about-row.left-image img {
      left: 0; }
  section.about-row.right-image {
    padding-right: 335px; }
    section.about-row.right-image img {
      right: 0; }
  section.about-row.green {
    background: #e6f1ee; }
  section.about-row.gray {
    background: #f1f0ef; }
  section.about-row .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.about-row .about-content h3 {
      color: #4f4340;
      font-family: "Roboto Slab", serif;
      font-size: 26px;
      border-bottom: 1px solid #3bb18f;
      line-height: 30px;
      margin-bottom: 20px; }
    section.about-row .about-content .description {
      font: 16px "Open Sans";
      color: #4f4340;
      line-height: 18px;
      width: 515px; }
    section.about-row .about-content .options {
      border: 1px solid #dddddd;
      border-left: none;
      border-right: none;
      width: 100%;
      margin-bottom: 25px; }
      section.about-row .about-content .options .option {
        padding: 9px 0;
        float: left;
        margin-right: 15px; }
        section.about-row .about-content .options .option i {
          color: #3bb18f; }
        section.about-row .about-content .options .option span, section.about-row .about-content .options .option a {
          color: initial;
          display: inline-block;
          margin-left: 7px;
          line-height: 16px; }
        section.about-row .about-content .options .option a {
          border-bottom: 1px dotted;
          text-decoration: none;
          color: black; }
    section.about-row .about-content .red-link a {
      margin-bottom: 10px; }

.grid-row .grid-item {
  width: 288px;
  border: 5px solid #dddddd;
  margin-bottom: 18px;
  box-sizing: border-box;
  background: white; }
  .grid-row .grid-item > img {
    max-width: 100%; }
  .grid-row .grid-item .name {
    color: #3bb18f;
    /*text-decoration: underline;*/
    padding: 20px;
    border-bottom: 1px solid #dddddd; }
    .grid-row .grid-item .name span {
      color: #4f4340;
      font: 18px "Roboto Slab"; }
  .grid-row .grid-item .info {
    padding: 20px;
    color: #4f4340;
    font-size: 14px; }
    .grid-row .grid-item .info .type-name {
      margin-bottom: 5px; }
    .grid-row .grid-item .info .type {
      margin-bottom: 10px; }
    .grid-row .grid-item .info i {
      color: #3bb18f;
      margin-right: 5px; }
    .grid-row .grid-item .info a {
      border-bottom: 1px dotted;
      color: #4f4340;
      text-decoration: none; }
      .grid-row .grid-item .info a:hover {
        border-bottom-style: solid; }
    .grid-row .grid-item .info p {
      font-size: 14px;
      color: #4f4340;
      line-height: 18px; }
  .grid-row .grid-item .footer {
    border-top: 1px solid #dddddd;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .grid-row .grid-item .footer a {
      border-bottom: 1px dotted;
      color: #4f4340;
      text-decoration: none; }
      .grid-row .grid-item .footer a:hover {
        border-bottom-style: solid; }
    .grid-row .grid-item .footer i {
      margin-right: 3px;
      color: #3bb18f; }

* {
  font-family: "Open Sans", sans-serif;
  color: #333333; }

*:focus {
  outline: none !important; }

body {
  margin: 0; }

.footer {
  padding-left: 260px; }
  .footer .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f8f8f8;
    padding: 35px 40px; }
    .footer .columns .column {
      margin-right: 30px; }
      .footer .columns .column:last-of-type {
        margin-right: 0; }
      .footer .columns .column a {
        display: block;
        color: #4f4340;
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 8px;
        text-decoration: none; }
        .footer .columns .column a span {
          border-bottom: 1px dotted; }
        .footer .columns .column a.icon {
          display: inline-block;
          font-size: 20px;
          color: #3bb18f;
          width: 32px;
          text-align: center;
          margin-bottom: 10px; }
        .footer .columns .column a:hover span {
          border-bottom-style: solid; }
      .footer .columns .column hr {
        margin: 10px 0; }
      .footer .columns .column .contact-row {
        color: #4f4340;
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 5px; }
        .footer .columns .column .contact-row i {
          width: 16px;
          text-align: center;
          margin-right: 5px;
          color: #aca399; }
  .footer .form {
    background: #f2f2f2;
    padding: 11px 35px; }
    .footer .form label {
      color: #4f4340;
      font: normal 14px "Roboto Slab";
      margin-right: 5px; }
    .footer .form input[type=email], .footer .form input[type=text] {
      border-radius: 15px;
      border: 2px solid #dddddd;
      text-align: center;
      width: 164px;
      font-size: 13px;
      margin-right: 4px; }
    .footer .form input[type=text] {
      width: 135px; }
    .footer .form input[type=submit] {
      font-family: "FontAwesome";
      border: none;
      background: none;
      font-size: 16px;
      color: #3bb18f; }
  .footer .basement {
    height: 125px;
    background: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .basement a {
      border-bottom: 1px dotted;
      color: #4F4340;
      font-size: 14px;
      text-decoration: none; }
      .footer .basement a:hover {
        border-bottom-style: solid; }
    .footer .basement .copyright {
      margin-top: 10px;
      color: #AEAEAE;
      font-size: 13px; }

.boxed-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  min-height: 100vh; }

.content {
  padding-left: 260px; }

.gray-wrapper {
  padding: 20px;
  background: #f8f8f8; }

.white-wrapper {
  padding: 20px; }

h2.main-header {
  font-family: "Roboto Slab", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
  font-size: 36px; }
  h2.main-header:before, h2.main-header:after {
    width: 80px;
    height: 2px;
    background: #dddddd;
    content: "";
    display: inline-block;
    margin: 0 20px; }

.red-link {
  text-align: center; }
  .red-link a:not(.regular) {
    color: #cd343a;
    border: 2px solid;
    border-radius: 25px;
    padding: 0 23px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700; }
    .red-link a:not(.regular):hover {
      background: #cd343a;
      color: white; }
  .red-link .regular {
    color: #4f4340;
    border-bottom: 1px dotted;
    margin: 0 20px;
    text-decoration: none; }
    .red-link .regular:hover {
      border-bottom-style: solid; }

.breadcrumbs {
  border-bottom: 1px solid #e4e4e4;
  padding: 14px 30px;
  overflow: hidden; }
  .breadcrumbs a {
    display: block;
    float: left;
    line-height: 26px;
    padding: 0 11px;
    border: 1px solid #dddddd;
    border-right: none;
    color: #333333;
    position: relative;
    font-size: 13px;
    cursor: pointer; }
    .breadcrumbs a:after {
      width: 26px;
      height: 26px;
      border: 2px solid #dddddd;
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: -12px;
      -webkit-transform: scale(0.5, 0.8) rotate(45deg);
              transform: scale(0.5, 0.8) rotate(45deg);
      border-bottom: none;
      border-left: none;
      background: white;
      z-index: 2; }
    .breadcrumbs a:last-of-type {
      border-style: dashed;
      border-right: none; }
      .breadcrumbs a:last-of-type:after {
        border-style: dashed;
        border-bottom: none;
        border-left: none; }
    .breadcrumbs a + a {
      padding-left: 15px; }
    .breadcrumbs a i {
      color: #3bb18f;
      margin-right: 10px; }

.table-str {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse; }
  .table-str td {
    border: 1px solid #dddddd;
    font-size: 14px;
    line-height: 31px;
    padding-left: 15px; }

.select2-container b[role=presentation] {
  border: none !important;
  position: static !important; }
  .select2-container b[role=presentation]:before {
    font: 16px "FontAwesome";
    content: "\f107";
    top: 3px;
    position: relative;
    color: #3bb18f; }

.noUi-target {
  box-shadow: none; }

.noUi-horizontal {
  height: 2px; }

.noUi-base .noUi-connect {
  height: 2px;
  border: none; }
.noUi-base .noUi-handle {
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #3bb18f;
  left: -6px;
  top: -6x; }
  .noUi-base .noUi-handle:before, .noUi-base .noUi-handle:after {
    display: none; }
  .noUi-base .noUi-handle .noUi-tooltip {
    bottom: initial;
    top: 15px;
    border: none;
    font-size: 12px; }