.sale-page {
  padding: 46px 22px 100px; }
  .sale-page h3 {
    font: 24px "Roboto Slab",serif;
    margin-top: 0;
    margin-bottom: 15px; }
  .sale-page .image {
    margin-left: 10px; }
  .sale-page .sale {
    margin-left: 10px; }
    .sale-page .sale .period {
      padding: 15px 0;
      padding-left: 50px;
      position: relative;
      border: 1px solid #dddddd; }
      .sale-page .sale .period:after {
        height: 47px;
        width: 36px;
        background: #3bb18f;
        color: white;
        content: "\f295";
        position: absolute;
        top: 0;
        left: 0;
        -webkit-clip-path: url(#mark-mask);
        clip-path: url(#mark-mask);
        font-size: 20px;
        line-height: 38px;
        font-family: "FontAwesome";
        text-align: center; }
      .sale-page .sale .period span {
        display: block;
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px; }
      .sale-page .sale .period i {
        padding: 0 5px 0 15px;
        color: #3bb18f;
        font-size: 16px; }
    .sale-page .sale .text {
      margin: 25px 0; }
      .sale-page .sale .text span {
        font: 18px "Roboto Slab",serif;
        margin-bottom: 10px;
        display: block; }
    .sale-page .sale .col {
      margin-top: 20px;
      border: 1px solid #dddddd;
      overflow: hidden; }
      .sale-page .sale .col.col-hidden {
        height: 49px; }
      .sale-page .sale .col .col-header {
        background: #f8f8f8;
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 25px;
        border-bottom: 1px solid #dddddd;
        font: 16px "Roboto Slab";
        cursor: pointer; }
        .sale-page .sale .col .col-header .name {
          font: 16px "Roboto Slab",serif; }
        .sale-page .sale .col .col-header i {
          color: #3bb18f;
          font-size: 18px;
          margin-right: 5px; }
        .sale-page .sale .col .col-header .toggle {
          font-size: 12px; }
          .sale-page .sale .col .col-header .toggle i {
            margin-right: 0;
            margin-left: 5px; }
        .sale-page .sale .col .col-header > * {
          white-space: nowrap; }
      .sale-page .sale .col .col-body {
        padding: 15px 22px; }
    .sale-page .sale ul {
      margin-top: 10px;
      padding: 0; }
      .sale-page .sale ul ul {
        margin-bottom: 10px;
        padding-left: 20px; }
      .sale-page .sale ul li {
        list-style-type: none;
        margin-bottom: 7px; }
        .sale-page .sale ul li.dropdown {
          height: 20px;
          overflow: hidden;
          cursor: pointer; }
          .sale-page .sale ul li.dropdown i:before {
            display: block;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
            transition: 0.2s all; }
          .sale-page .sale ul li.dropdown.open {
            height: auto; }
            .sale-page .sale ul li.dropdown.open i::before {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
              display: block; }
        .sale-page .sale ul li i {
          color: #3bb18f;
          padding-left: 10px;
          font-size: 12px; }
          .sale-page .sale ul li i.title {
            padding-right: 10px;
            padding-left: 0 !important; }