.page-categories {
  padding: 0 30px;
  overflow: hidden; }
  .page-categories .select2-selection__arrow b {
    margin-left: -15px !important; }
  .page-categories h2 {
    font: 30px "Roboto Slab",serif;
    margin: 50px 0; }
  .page-categories .col-1 {
    float: left;
    width: 662px;
    margin-top: 10px; }
  .page-categories .col-2 {
    float: left; }
  .page-categories .dropdown-list {
    border: 1px solid #dddddd;
    padding-left: 22px;
    overflow: hidden; }
    .page-categories .dropdown-list h3 {
      font: 16px "Roboto Slab", serif;
      margin-bottom: 13px; }
    .page-categories .dropdown-list ul {
      padding: 0;
      margin-right: 50px;
      float: left; }
      .page-categories .dropdown-list ul ul {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        float: none; }
      .page-categories .dropdown-list ul li {
        list-style-type: none;
        margin-bottom: 7px; }
        .page-categories .dropdown-list ul li.dropdown {
          height: 20px;
          overflow: hidden; }
          .page-categories .dropdown-list ul li.dropdown i:before {
            display: block;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
            transition: 0.2s all; }
          .page-categories .dropdown-list ul li.dropdown.open {
            height: auto; }
            .page-categories .dropdown-list ul li.dropdown.open i::before {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
              display: block; }
        .page-categories .dropdown-list ul li i {
          color: #3bb18f;
          padding-left: 10px; }
          .page-categories .dropdown-list ul li i.title {
            padding-right: 10px;
            padding-left: 0 !important; }
        .page-categories .dropdown-list ul li span {
          font-size: 14px;
          color: #4f4340;
          text-decoration: none;
          border-bottom: 1px solid #3bb18f; }
  .page-categories .list-row {
    overflow: hidden;
    margin: 20px 0; }
    .page-categories .list-row .sorting, .page-categories .list-row .show, .page-categories .list-row .count {
      padding: 13px 20px;
      float: left;
      border: 1px solid #dddddd;
      height: 95px; }
    .page-categories .list-row .sorting label {
      line-height: 28px;
      margin-bottom: 10px;
      font-weight: 400;
      display: block;
      font: 16px "Roboto Slab",serif; }
    .page-categories .list-row .sorting select {
      width: 130px !important;
      position: relative;
      padding-left: 10px; }
    .page-categories .list-row .sorting .select2-container {
      position: relative;
      text-indent: 17px; }
      .page-categories .list-row .sorting .select2-container:before {
        content: "\f063";
        position: absolute;
        font: 12px FontAwesome;
        color: #cccccc;
        left: -10px;
        top: 9px; }
    .page-categories .list-row .show div {
      font: 16px "Roboto Slab",serif;
      display: block;
      margin-bottom: 14px; }
    .page-categories .list-row .show a {
      text-decoration: none;
      margin-right: 10px;
      border: 1px dashed #dddddd;
      border-radius: 25px;
      padding: 4px 20px;
      color: #4f4340;
      font: 13px "Open Sans",serif; }
      .page-categories .list-row .show a.active {
        background: #3BB18F;
        border-color: #3BB18F;
        color: white; }
    .page-categories .list-row .count {
      padding-right: 37px; }
      .page-categories .list-row .count div {
        font: 16px "Roboto Slab",serif;
        display: block;
        margin-bottom: 13px; }
      .page-categories .list-row .count a {
        text-decoration: none;
        color: black;
        margin-right: 7px;
        border-bottom: 1px dotted #3BB18F; }
        .page-categories .list-row .count a.active {
          border-color: #dddddd;
          font-weight: bold;
          color: #3BB18F; }
  .page-categories .pags {
    margin: 8px 0 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .page-categories .pags a {
      width: 28px;
      margin: 0 5px;
      height: 28px;
      text-align: center;
      font: 14px "Roboto Slab",serif;
      display: block;
      text-decoration: none;
      border: 2px solid #f4e3d6;
      border-radius: 50%;
      font-weight: bold;
      color: #3BB18F;
      line-height: 24px; }
      .page-categories .pags a.active {
        border: 2px solid #3BB18F; }
      .page-categories .pags a:hover {
        border: 2px solid #3BB18F; }
    .page-categories .pags i {
      cursor: pointer;
      font-size: 16px;
      color: #f4e3d6; }
      .page-categories .pags i:hover {
        color: #3BB18F; }
    .page-categories .pags .prev {
      margin-right: 20px; }
    .page-categories .pags .next {
      margin-left: 20px; }
  .page-categories .good-row {
    margin: 28px 0 15px;
    padding: 0 20px;
    overflow: hidden; }
    .page-categories .good-row .goods-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      float: left; }
      .page-categories .good-row .goods-list .goods-wrapper {
        margin: 0 -20px; }
        .page-categories .good-row .goods-list .goods-wrapper .good {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          height: 364px;
          position: relative;
          width: 215px;
          float: left;
          margin-bottom: 30px; }
          .page-categories .good-row .goods-list .goods-wrapper .good.percent:after {
            height: 47px;
            width: 36px;
            background: #3bb18f;
            color: white;
            content: "\f295";
            position: absolute;
            top: -1px;
            left: 0;
            -webkit-clip-path: url(#mark-mask);
            clip-path: url(#mark-mask);
            font-size: 20px;
            line-height: 46px;
            font-family: "FontAwesome";
            text-align: center; }
          .page-categories .good-row .goods-list .goods-wrapper .good.gift:after {
            height: 47px;
            width: 36px;
            background: #ef5228;
            color: white;
            content: "\f06b";
            position: absolute;
            top: -1px;
            left: 0;
            -webkit-clip-path: url(#mark-mask);
            clip-path: url(#mark-mask);
            font-size: 20px;
            line-height: 46px;
            font-family: "FontAwesome";
            text-align: center; }
          .page-categories .good-row .goods-list .goods-wrapper .good.clone:after {
            height: 47px;
            width: 36px;
            background: #79429a;
            color: white;
            content: "\f24d";
            position: absolute;
            top: 0;
            left: 0;
            -webkit-clip-path: url(#mark-mask);
            clip-path: url(#mark-mask);
            font-size: 20px;
            line-height: 42px;
            font-family: "FontAwesome";
            text-align: center; }
          .page-categories .good-row .goods-list .goods-wrapper .good:before {
            z-index: -1;
            content: "";
            width: 110px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 3px solid #dddddd; }
          .page-categories .good-row .goods-list .goods-wrapper .good .cover {
            box-shadow: -5px 4px 0 #e5e5e5;
            margin-bottom: 4px;
            position: relative; }
            .page-categories .good-row .goods-list .goods-wrapper .good .cover:hover .info {
              opacity: 1; }
            .page-categories .good-row .goods-list .goods-wrapper .good .cover img {
              max-width: 131px; }
            .page-categories .good-row .goods-list .goods-wrapper .good .cover .info {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(242, 242, 242, 0.976);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              opacity: 0;
              transition: 0.2s; }
              .page-categories .good-row .goods-list .goods-wrapper .good .cover .info .author {
                font: 12px "Roboto Slab"; }
                .page-categories .good-row .goods-list .goods-wrapper .good .cover .info .author:after {
                  display: block;
                  width: 40px;
                  height: 1px;
                  background: #4f4340;
                  content: "";
                  margin: 10px auto; }
              .page-categories .good-row .goods-list .goods-wrapper .good .cover .info .rate {
                color: #cd343a;
                text-align: center;
                font: 16px "FontAwesome";
                letter-spacing: 3px;
                margin-bottom: 35px; }
              .page-categories .good-row .goods-list .goods-wrapper .good .cover .info a {
                color: #4f4340;
                font-size: 14px;
                border-bottom: 1px dotted;
                line-height: 16px;
                text-decoration: none; }
                .page-categories .good-row .goods-list .goods-wrapper .good .cover .info a:hover {
                  border-bottom-style: solid; }
          .page-categories .good-row .goods-list .goods-wrapper .good .title, .page-categories .good-row .goods-list .goods-wrapper .good .price {
            font-family: "Roboto Slab", serif;
            font-size: 16px;
            text-align: center;
            line-height: 1;
            background: white;
            padding-bottom: 13px; }
            .page-categories .good-row .goods-list .goods-wrapper .good .title.title, .page-categories .good-row .goods-list .goods-wrapper .good .price.title {
              padding-top: 16px; }
            .page-categories .good-row .goods-list .goods-wrapper .good .title .old-price, .page-categories .good-row .goods-list .goods-wrapper .good .price .old-price {
              color: #cd343a;
              font-size: 12px;
              display: inline-block;
              margin-right: 10px;
              text-decoration: line-through; }
          .page-categories .good-row .goods-list .goods-wrapper .good .red-link a {
            background: white;
            margin-bottom: 25px; }
            .page-categories .good-row .goods-list .goods-wrapper .good .red-link a:hover {
              background: #cd343a; }
  .page-categories .filters {
    margin-top: 30px; }
    .page-categories .filters .filters-wrapper {
      width: 218px;
      background: white;
      border: 1px solid #dddddd;
      border-bottom: none;
      position: relative; }
      .page-categories .filters .filters-wrapper.fixed {
        position: fixed;
        top: 30px;
        z-index: 1; }
    .page-categories .filters .filter {
      border-bottom: 1px solid #dddddd;
      max-height: 52px;
      overflow: hidden;
      position: relative; }
      .page-categories .filters .filter h4 {
        padding: 15px 20px;
        margin: 0;
        cursor: pointer;
        font: 16px "Roboto Slab"; }
        .page-categories .filters .filter h4:after {
          content: "\f107";
          font: 16px "FontAwesome";
          color: #3bb18f;
          margin-left: 10px;
          transition: 0.2s all;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          display: inline-block; }
      .page-categories .filters .filter .refresh {
        position: absolute;
        right: 20px;
        top: 15px; }
        .page-categories .filters .filter .refresh i {
          color: #cccccc; }
      .page-categories .filters .filter .filter-content {
        padding: 0 20px 15px; }
        .page-categories .filters .filter .filter-content .tags .tag {
          display: inline-block;
          margin-bottom: 5px;
          font-size: 12px; }
          .page-categories .filters .filter .filter-content .tags .tag span {
            border-bottom: 1px dotted #3bb18f; }
          .page-categories .filters .filter .filter-content .tags .tag:after {
            content: attr(data-count);
            color: #949494;
            font-size: 9px;
            margin-left: 5px;
            position: relative;
            top: -5px; }
        .page-categories .filters .filter .filter-content select {
          width: 100%; }
        .page-categories .filters .filter .filter-content .values {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 10px; }
          .page-categories .filters .filter .filter-content .values .delimiter {
            width: 30px;
            height: 1px;
            border: 1px solid #dddddd; }
          .page-categories .filters .filter .filter-content .values .value {
            width: 75px;
            border-radius: 25px;
            border: 2px solid #dddddd;
            overflow: hidden; }
            .page-categories .filters .filter .filter-content .values .value input {
              padding: 0;
              border: none;
              line-height: 24px;
              width: 100%;
              text-align: center; }
        .page-categories .filters .filter .filter-content #input-range {
          margin: 20px 10px 30px; }
      .page-categories .filters .filter.open {
        max-height: none; }
        .page-categories .filters .filter.open h4:after {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
    .page-categories .filters .accept-filters {
      position: absolute;
      width: 170px;
      top: calc(50% - 14px);
      left: -185px;
      color: white;
      line-height: 28px;
      font-size: 13px;
      z-index: 100; }
      .page-categories .filters .accept-filters svg {
        display: block;
        cursor: pointer; }
        .page-categories .filters .accept-filters svg polygon {
          fill: #36A68A; }
        .page-categories .filters .accept-filters svg text {
          fill: white;
          font-size: 13px; }