.page-enter {
  position: relative;
  overflow: hidden; }
  .page-enter .enter-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.95);
    z-index: 100;
    padding: 0 30px; }
    .page-enter .enter-overlay .enter-profile {
      width: 230px;
      background: white;
      text-align: center;
      margin: 0 auto; }
      .page-enter .enter-overlay .enter-profile .title {
        padding: 20px 0; }
      .page-enter .enter-overlay .enter-profile form {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding: 20px; }
        .page-enter .enter-overlay .enter-profile form label {
          display: block;
          text-align: left;
          font: 14px "Roboto Slab",serif;
          margin-bottom: 8px; }
        .page-enter .enter-overlay .enter-profile form input {
          outline: none;
          border-radius: 20px;
          border: 3px solid #dddddd;
          text-indent: 20px;
          width: 100%;
          font-size: 13px;
          margin-bottom: 13px;
          line-height: 22px; }
      .page-enter .enter-overlay .enter-profile .red-link {
        padding: 20px 0; }
      .page-enter .enter-overlay .enter-profile .forgot, .page-enter .enter-overlay .enter-profile .register {
        color: #6b6b6b;
        font-size: 12px; }
        .page-enter .enter-overlay .enter-profile .forgot a, .page-enter .enter-overlay .enter-profile .register a {
          color: #6b6b6b;
          text-decoration: underline; }