.product-page {
  padding: 55px 30px; }
  .product-page .main-info {
    margin-bottom: 45px;
    overflow: hidden; }
    .product-page .main-info .images {
      width: 182px;
      float: left;
      margin-right: 30px; }
      .product-page .main-info .images .main-photo {
        border: 3px solid #dddddd;
        padding: 20px; }
        .product-page .main-info .images .main-photo img {
          width: 100%; }
      .product-page .main-info .images .photos-slider {
        margin-top: 15px;
        position: relative;
        padding: 0 20px 20px;
        border-bottom: 3px solid #dddddd; }
        .product-page .main-info .images .photos-slider .owl-nav {
          position: absolute;
          top: 0;
          width: calc(100%);
          left: 0; }
          .product-page .main-info .images .photos-slider .owl-nav .owl-prev, .product-page .main-info .images .photos-slider .owl-nav .owl-next {
            position: absolute;
            top: 20px;
            left: 0; }
            .product-page .main-info .images .photos-slider .owl-nav .owl-prev i, .product-page .main-info .images .photos-slider .owl-nav .owl-next i {
              font-size: 18px;
              color: #3BB18F; }
            .product-page .main-info .images .photos-slider .owl-nav .owl-prev.owl-next, .product-page .main-info .images .photos-slider .owl-nav .owl-next.owl-next {
              right: 0;
              left: auto; }
    .product-page .main-info .about {
      width: 480px;
      float: left;
      margin-right: 25px; }
      .product-page .main-info .about h1 {
        color: #333333;
        font-size: 24px;
        margin: 0;
        font-family: "Roboto Slab", serif; }
      .product-page .main-info .about .rate {
        margin-top: 5px; }
        .product-page .main-info .about .rate i {
          color: #FFD633;
          font-size: 16px;
          margin-right: 5px; }
      .product-page .main-info .about .tags {
        margin-top: 15px; }
        .product-page .main-info .about .tags a:not(.show-all) {
          background: #f5f5f5;
          border-radius: 10px;
          display: inline-block;
          margin-right: 5px;
          font-size: 12px;
          color: #333333;
          padding: 0 10px;
          line-height: 20px; }
        .product-page .main-info .about .tags .show-all {
          border-bottom: 1px dotted #3bb18f;
          text-decoration: none;
          color: #333333;
          font-size: 12px; }
      .product-page .main-info .about table {
        margin-top: 20px; }
    .product-page .main-info .options {
      width: 160px;
      float: left;
      position: relative; }
      .product-page .main-info .options:after {
        height: 47px;
        width: 36px;
        background: #3bb18f;
        color: white;
        content: "\f295";
        position: absolute;
        top: 0;
        right: 0;
        -webkit-clip-path: url("#mark-mask");
                clip-path: url("#mark-mask");
        font-size: 20px;
        line-height: 38px;
        font-family: "FontAwesome";
        text-align: center; }
      .product-page .main-info .options .price {
        padding: 15px;
        overflow: hidden;
        border: 2px solid #e4e4e4;
        border-bottom: none; }
        .product-page .main-info .options .price .old-price {
          font-size: 18px;
          color: #BCBCBC;
          line-height: 1;
          font-family: "Roboto Slab", serif;
          float: left;
          position: relative; }
          .product-page .main-info .options .price .old-price span {
            font-size: 12px;
            color: #BCBCBC; }
          .product-page .main-info .options .price .old-price:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #BCBCBC;
            left: 0;
            top: 50%;
            clear: both; }
        .product-page .main-info .options .price .current-price {
          clear: both;
          width: 70px;
          text-align: center;
          color: #333333;
          font-size: 24px;
          font-family: "Roboto Slab", serif;
          line-height: 12px;
          margin-top: 28px; }
          .product-page .main-info .options .price .current-price span {
            font-size: 14px;
            line-height: 1; }
      .product-page .main-info .options .count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px 15px;
        border: 2px solid #e4e4e4;
        border-bottom: none; }
        .product-page .main-info .options .count i {
          color: #3BB18F;
          font-size: 18px; }
        .product-page .main-info .options .count .number {
          width: 36px;
          text-align: center;
          border: 2px solid #dddddd;
          border-radius: 20px;
          line-height: 24px; }
      .product-page .main-info .options .to-cart {
        padding: 20px 15px;
        text-align: center;
        border: 2px solid #e4e4e4; }
      .product-page .main-info .options .to-favorite {
        text-align: center;
        padding-top: 15px; }
        .product-page .main-info .options .to-favorite span {
          border-bottom: 1px dotted #3bb18f; }
        .product-page .main-info .options .to-favorite i {
          color: #EF5228;
          margin-right: 5px; }
  .product-page .col {
    margin-top: 20px;
    border: 1px solid #dddddd;
    overflow: hidden; }
    .product-page .col i {
      margin-right: 5px;
      color: #3BB18F; }
    .product-page .col.col-hidden {
      height: 49px; }
    .product-page .col .col-header {
      background: #f8f8f8;
      height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 25px;
      border-bottom: 1px solid #dddddd;
      font: 16px "Roboto Slab";
      cursor: pointer; }
      .product-page .col .col-header i {
        color: #3bb18f;
        font-size: 18px;
        margin-right: 5px; }
      .product-page .col .col-header .toggle {
        font-size: 12px; }
        .product-page .col .col-header .toggle i {
          margin-right: 0;
          margin-left: 5px; }
      .product-page .col .col-header > * {
        white-space: nowrap; }
    .product-page .col .col-body {
      padding: 25px 22px; }
  .product-page .links {
    text-align: right;
    margin-top: 30px; }
    .product-page .links a {
      display: inline-block;
      margin: 0 8px;
      color: #0f0f0f;
      line-height: 1.2;
      text-decoration: none;
      border-bottom: 1px dotted #3bb18f; }
    .product-page .links i {
      color: #3bb18f; }
  .product-page h2 {
    margin: 55px 0px 20px;
    color: #333333;
    font: 24px "Roboto Slab"; }
  .product-page .toggles {
    margin-bottom: 25px; }
    .product-page .toggles a {
      display: inline-block;
      background: white;
      line-height: 28px;
      padding: 0 18px;
      border-radius: 15px;
      text-decoration: none;
      border: 1px dashed #c8c8c8;
      color: #333333;
      margin-right: 15px; }
      .product-page .toggles a.current {
        background: #3bb18f;
        color: white;
        border: 1px solid #3bb18f; }
  .product-page .goods-row {
    margin-top: 20px; }