.profile-page {
  padding: 30px;
  padding-bottom: 107px; }
  .profile-page * > :focus {
    outline: none; }
  .profile-page h2.main {
    font: 30px "Roboto Slab",serif;
    margin-bottom: 43px;
    margin-top: 13px; }
    .profile-page h2.main span {
      font: 30px "Roboto Slab",serif; }
  .profile-page .tab4 a {
    padding-right: 28px; }
  .profile-page #tabs {
    border: 1px solid #dddddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
    .profile-page #tabs #current a {
      border-bottom: 3px solid #3BB18F; }
      .profile-page #tabs #current a i {
        color: #3BB18F; }
    .profile-page #tabs li {
      margin: 0;
      padding: 0;
      float: left; }
      .profile-page #tabs li:last-child {
        margin-left: auto; }
        .profile-page #tabs li:last-child a {
          border-right: 0;
          padding-top: 16px;
          padding-right: 31px; }
      .profile-page #tabs li:nth-child(4) a {
        padding-right: 28px; }
      .profile-page #tabs li a {
        position: relative;
        line-height: 20px;
        border-right: 1px solid #dddddd;
        border-collapse: collapse;
        color: #434343;
        float: left;
        font-size: 13px;
        height: 57px;
        padding: 8px 15px;
        text-decoration: none; }
        .profile-page #tabs li a span {
          width: 75px;
          display: block;
          float: right; }
          .profile-page #tabs li a span.border {
            border-bottom: 1px dotted;
            width: 40px;
            float: none; }
        .profile-page #tabs li a i {
          font-size: 16px;
          padding-right: 18px;
          margin-top: 11px; }
  .profile-page #content {
    background-color: #fff;
    border: 1px solid #dddddd; }
  .profile-page #tab1 h2 {
    font: 24px "Roboto Slab",serif;
    padding: 0px 29px; }
  .profile-page #tab1 form {
    margin-top: 25px;
    padding: 0px 29px; }
  .profile-page #tab1 input, .profile-page #tab1 textarea, .profile-page #tab1 select, .profile-page #tab1 option {
    outline: none;
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-indent: 20px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 13px;
    line-height: 22px; }
  .profile-page #tab1 .legal {
    margin-bottom: 18px; }
    .profile-page #tab1 .legal select {
      width: 187px;
      text-indent: 15px;
      outline: none;
      border-radius: 20px;
      border: 3px solid #dddddd;
      font-size: 13px;
      line-height: 22px; }
  .profile-page #tab1 label {
    display: block;
    text-align: left;
    font: 14px "Roboto Slab",serif;
    margin-bottom: 8px; }
  .profile-page #tab1 .col-header {
    padding-bottom: 12px; }
  .profile-page #tab1 .col-footer {
    border-top: 1px solid #dddddd; }
    .profile-page #tab1 .col-footer .data {
      padding: 16px 29px;
      margin-top: 3px; }
  .profile-page #tab1 .red-link {
    padding: 20px 0;
    border-top: 1px solid #dddddd; }
  .profile-page #tab2 {
    padding: 0px 29px; }
    .profile-page #tab2 h2 {
      font: 24px "Roboto Slab",serif;
      margin-bottom: 27px; }
    .profile-page #tab2 ul {
      margin-bottom: 28px;
      padding: 0; }
      .profile-page #tab2 ul.word span {
        border-bottom: 1px dotted #3BB18F;
        text-decoration: none; }
      .profile-page #tab2 ul li {
        margin-bottom: 5px;
        font-size: 14px;
        list-style-type: none; }
        .profile-page #tab2 ul li.title {
          font: 14px "Roboto Slab",serif;
          margin-bottom: 10px; }
        .profile-page #tab2 ul li span {
          text-decoration: underline; }
        .profile-page #tab2 ul li i {
          width: 30px;
          text-align: center;
          font-size: 16px;
          color: #3BB18F;
          padding-right: 10px; }
    .profile-page #tab2 .col-2 li {
      margin-bottom: 12px; }
  .profile-page #tab3 .col-header {
    padding: 0px 29px; }
  .profile-page #tab3 .col-footer {
    margin-top: 11px; }
  .profile-page #tab3 h2 {
    font: 24px "Roboto Slab",serif;
    margin-bottom: 27px; }
  .profile-page #tab3 .search {
    margin-bottom: 10px; }
    .profile-page #tab3 .search label {
      display: block;
      text-align: left;
      font: 14px "Roboto Slab",serif;
      margin-bottom: 8px; }
    .profile-page #tab3 .search form {
      position: relative; }
      .profile-page #tab3 .search form:after {
        position: absolute;
        content: "\f002";
        font: 16px FontAwesome;
        color: #3BB18F;
        right: 13px;
        top: 32px; }
  .profile-page #tab3 input {
    outline: none;
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-indent: 20px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 13px;
    line-height: 22px; }
  .profile-page #tab3 select {
    outline: none;
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-indent: 20px;
    font-size: 13px;
    margin-bottom: 13px;
    line-height: 22px;
    width: 150px; }
  .profile-page #tab3 .error {
    font-size: 12px;
    color: #EF5228;
    border: 1px dashed #EF5228;
    border-radius: 10px;
    display: inline-block;
    padding: 1px 9px; }
  .profile-page #tab3 .success {
    font-size: 12px;
    color: #3BB18F;
    border: 1px dashed #3BB18F;
    border-radius: 10px;
    display: inline-block;
    padding: 1px 9px; }
  .profile-page #tab3 .show, .profile-page #tab3 .date {
    margin-bottom: 14px;
    float: left; }
    .profile-page #tab3 .show label, .profile-page #tab3 .date label {
      font: 14px "Roboto Slab",serif;
      margin-right: 15px; }
  .profile-page #tab3 .date {
    margin-left: 25px; }
  .profile-page #tab3 .red-link {
    padding: 20px 0;
    border-top: 1px solid #dddddd; }
    .profile-page #tab3 .red-link a i {
      padding-right: 8px;
      font-size: 16px;
      color: #cd343a; }
    .profile-page #tab3 .red-link a:hover i {
      color: white; }
  .profile-page #tab3 .delimiter {
    border-bottom: 1px dashed #dddddd; }
  .profile-page #tab3 table {
    width: 100%; }
    .profile-page #tab3 table i {
      color: #3BB18F;
      padding-right: 10px;
      font-size: 16px; }
    .profile-page #tab3 table thead tr {
      border-bottom: 1px solid #dddddd; }
      .profile-page #tab3 table thead tr td {
        padding: 12px 0;
        font: 14px "Roboto Slab",serif; }
        .profile-page #tab3 table thead tr td:first-child {
          width: 145px; }
        .profile-page #tab3 table thead tr td:nth-child(2) {
          width: 322px; }
        .profile-page #tab3 table thead tr td:nth-child(3) {
          width: 180px; }
    .profile-page #tab3 table table {
      margin: 8px 0; }
      .profile-page #tab3 table table tr:first-child td:nth-child(2) {
        padding-left: 0; }
      .profile-page #tab3 table table tr td {
        padding: 5px 0; }
        .profile-page #tab3 table table tr td:first-child {
          width: 145px; }
        .profile-page #tab3 table table tr td:nth-child(2) {
          width: 322px; }
        .profile-page #tab3 table table tr td:nth-child(3) {
          width: 180px; }
        .profile-page #tab3 table table tr td span {
          border-bottom: 1px dotted #3BB18F; }
        .profile-page #tab3 table table tr td:nth-child(2) {
          padding-left: 28px; }
  .profile-page #tab4 .col-head {
    padding: 2px 29px; }
  .profile-page #tab4 .col-footer {
    margin-top: 20px; }
  .profile-page #tab4 h2 {
    font: 24px "Roboto Slab",serif;
    margin-bottom: 22px; }
  .profile-page #tab4 .subscription .title {
    margin-bottom: 11px; }
  .profile-page #tab4 .subscription div {
    position: relative; }
    .profile-page #tab4 .subscription div label {
      margin-left: 28px;
      line-height: 28px;
      margin-bottom: 2px;
      font-weight: 400; }
    .profile-page #tab4 .subscription div input {
      -webkit-appearance: none; }
    .profile-page #tab4 .subscription div .check {
      position: absolute;
      top: 0;
      outline: none;
      width: 0;
      height: 0; }
      .profile-page #tab4 .subscription div .check:before {
        content: "";
        border: 2px solid #dddddd;
        width: 20px;
        height: 20px;
        display: inline-block; }
      .profile-page #tab4 .subscription div .check:checked:after {
        text-align: center;
        outline: none;
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: 0;
        font-size: 16px;
        content: "\f00c";
        font-family: "FontAwesome";
        color: #3BB18F;
        display: inline-block; }
  .profile-page #tab4 .email, .profile-page #tab4 .phone {
    margin-top: 20px; }
    .profile-page #tab4 .email input, .profile-page #tab4 .email textarea, .profile-page #tab4 .phone input, .profile-page #tab4 .phone textarea {
      outline: none;
      border-radius: 20px;
      border: 3px solid #dddddd;
      text-indent: 20px;
      width: 100%;
      font-size: 13px;
      margin-bottom: 18px;
      line-height: 22px; }
    .profile-page #tab4 .email label, .profile-page #tab4 .phone label {
      display: block;
      text-align: left;
      font: 14px "Roboto Slab",serif;
      margin-bottom: 9px; }
  .profile-page #tab4 .red-link {
    padding: 20px 0;
    border-top: 1px solid #dddddd; }