.profile-page {
  padding: 30px; }
  .profile-page * > :focus {
    outline: none; }
  .profile-page h2 {
    font: 30px "Roboto Slab",serif;
    margin-bottom: 43px;
    margin-top: 13px; }
    .profile-page h2 span {
      font: 30px "Roboto Slab",serif; }
  .profile-page #tabs {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
    .profile-page #tabs #current a {
      border-bottom: 3px solid #3BB18F; }
      .profile-page #tabs #current a i {
        color: #3BB18F; }
    .profile-page #tabs li {
      margin: 0;
      padding: 0;
      float: left; }
      .profile-page #tabs li a {
        position: relative;
        line-height: 40px;
        border: 1px solid #dddddd;
        border-collapse: collapse;
        color: #434343;
        float: left;
        font-size: 13px;
        height: 40px;
        padding: 0 21px;
        text-decoration: none; }
        .profile-page #tabs li a.tab1:after {
          position: absolute;
          width: 19px;
          height: 19px;
          content: "8";
          color: white;
          font-size: 10px;
          text-align: center;
          top: -9px;
          z-index: 99;
          right: -10px;
          border: 2px solid white;
          background: #ef5228;
          border-radius: 50%;
          line-height: 15px; }
        .profile-page #tabs li a span {
          border-bottom: 1px dotted; }
        .profile-page #tabs li a i {
          font-size: 16px;
          padding-right: 7px;
          color: #BCBCBC;
          vertical-align: text-top; }
  .profile-page #content {
    background-color: #fff;
    border: 1px solid #dddddd; }
  .profile-page #tab1 {
    padding: 30px;
    padding-top: 65px; }
    .profile-page #tab1 .grid-item {
      width: 250px; }
    .profile-page #tab1 .place {
      padding: 5px 0px 0px;
      margin-bottom: 30px;
      margin-right: 20px; }
      .profile-page #tab1 .place span {
        display: block;
        font: 16px "Roboto Slab", serif;
        margin-bottom: 13px; }
      .profile-page #tab1 .place a {
        text-decoration: none;
        margin-right: 10px;
        border: 1px dashed #dddddd;
        border-radius: 25px;
        padding: 5px 15px;
        color: #4f4340;
        font: 13px "Open Sans",serif; }
        .profile-page #tab1 .place a.active {
          background: #3BB18F;
          border-color: #3BB18F;
          color: white; }
  .profile-page #tab2 {
    padding: 30px;
    overflow: hidden; }
    .profile-page #tab2 .card .sum {
      font: 16px "Roboto Slab",serif;
      width: 240px;
      float: left;
      border: 3px solid #dddddd;
      border-radius: 5px;
      text-align: center;
      padding: 15px 0; }
      .profile-page #tab2 .card .sum div {
        font: 16px "Roboto Slab",serif;
        border-top: 1px solid #dddddd;
        padding-top: 15px;
        margin-top: 15px; }
        .profile-page #tab2 .card .sum div span {
          display: block;
          font: 24px "Roboto Slab"; }
          .profile-page #tab2 .card .sum div span span {
            font: 22px "Roboto Slab";
            display: inline; }
    .profile-page #tab2 .card .sales {
      float: left;
      margin-left: 20px; }
      .profile-page #tab2 .card .sales .sale {
        font: 16px "Roboto Slab",serif;
        text-align: right;
        float: left;
        margin: 20px 0;
        padding-right: 20px; }
      .profile-page #tab2 .card .sales .delimiter {
        border-right: 1px dotted #dddddd;
        width: 1px;
        height: 40px;
        float: left;
        margin-top: 22px; }
        .profile-page #tab2 .card .sales .delimiter:after {
          content: "5%";
          font: 24px "Roboto Slab";
          color: #3BB18F;
          margin-left: 15px; }
      .profile-page #tab2 .card .sales a {
        color: #333333;
        text-decoration: none;
        margin-bottom: 5px;
        display: block; }
        .profile-page #tab2 .card .sales a span {
          border-bottom: 1px dotted; }
  .profile-page #tab3 {
    padding: 30px;
    padding-top: 48px; }
    .profile-page #tab3 table {
      border: 0; }
      .profile-page #tab3 table tr:last-child td {
        border-bottom: 0; }
      .profile-page #tab3 table tr td {
        border: 0;
        border-right: 1px solid #dddddd;
        border-bottom: 1px dotted #dddddd;
        padding: 0 15px; }
        .profile-page #tab3 table tr td:last-child {
          border-right: 0; }
        .profile-page #tab3 table tr td i {
          color: #3BB18F;
          margin-right: 5px; }
    .profile-page #tab3 .col {
      margin-top: 20px;
      border: 1px solid #dddddd;
      overflow: hidden; }
      .profile-page #tab3 .col.col-hidden {
        height: 49px; }
      .profile-page #tab3 .col .col-header {
        background: #f8f8f8;
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 25px;
        border-bottom: 1px solid #dddddd;
        font: 16px "Roboto Slab";
        cursor: pointer; }
        .profile-page #tab3 .col .col-header .name {
          font: 16px "Roboto Slab",serif; }
        .profile-page #tab3 .col .col-header i {
          color: #3bb18f;
          font-size: 18px;
          margin-right: 5px; }
        .profile-page #tab3 .col .col-header .toggle {
          font-size: 12px; }
          .profile-page #tab3 .col .col-header .toggle i {
            margin-right: 0;
            margin-left: 5px; }
        .profile-page #tab3 .col .col-header > * {
          white-space: nowrap; }
      .profile-page #tab3 .col .col-body {
        padding: 22px 20px; }
  .profile-page #tab4 {
    padding: 25px;
    padding-top: 65px; }
    .profile-page #tab4 .items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .profile-page #tab4 .items .item {
        position: relative;
        border: 3px solid #dddddd;
        margin-bottom: 20px; }
        .profile-page #tab4 .items .item .delete {
          position: absolute;
          right: 30px;
          top: 90px; }
          .profile-page #tab4 .items .item .delete i {
            font-size: 26px;
            color: #BCBCBC;
            padding-left: 10px; }
        .profile-page #tab4 .items .item .image {
          border-right: 3px solid #dddddd;
          float: left;
          padding: 13px; }
        .profile-page #tab4 .items .item .description {
          float: left;
          margin-left: 31px;
          width: 350px;
          padding: 25px 0; }
          .profile-page #tab4 .items .item .description .name {
            margin-bottom: 10px; }
            .profile-page #tab4 .items .item .description .name span {
              font: 16px "Roboto Slab",serif; }
              .profile-page #tab4 .items .item .description .name span:hover {
                border-bottom: 1px solid #3BB18F; }
          .profile-page #tab4 .items .item .description .point {
            float: left; }
            .profile-page #tab4 .items .item .description .point span {
              font: 20px "Roboto Slab"; }
          .profile-page #tab4 .items .item .description .gift {
            float: left;
            background-color: #ef5228;
            color: white;
            border-radius: 25px;
            padding: 0 9px;
            font-size: 14px;
            line-height: 25px;
            display: inline-block;
            text-decoration: none;
            font-weight: 700;
            margin-right: 20px; }
        .profile-page #tab4 .items .item .col {
          float: left;
          margin-top: 88px;
          margin-left: 35px; }
          .profile-page #tab4 .items .item .col .min, .profile-page #tab4 .items .item .col .max, .profile-page #tab4 .items .item .col .number {
            float: left; }
          .profile-page #tab4 .items .item .col i {
            font-size: 18px;
            color: #3BB18F;
            vertical-align: -webkit-baseline-middle; }
          .profile-page #tab4 .items .item .col .number {
            border: 2px solid #dddddd;
            border-radius: 13px;
            padding: 2px 11px;
            margin: 0 7px; }
        .profile-page #tab4 .items .item .price-block {
          margin-top: 89px;
          margin-left: 35px;
          float: left;
          font: 24px "Roboto Slab",serif; }
          .profile-page #tab4 .items .item .price-block.old {
            margin-top: 75px; }
            .profile-page #tab4 .items .item .price-block.old a {
              margin-top: 15px; }
          .profile-page #tab4 .items .item .price-block .old-price {
            color: #BCBCBC;
            display: block;
            font-size: 18px;
            text-decoration: line-through; }
            .profile-page #tab4 .items .item .price-block .old-price span {
              font-size: 12px;
              color: #BCBCBC; }
          .profile-page #tab4 .items .item .price-block span {
            font: 16px "Roboto Slab",serif; }
          .profile-page #tab4 .items .item .price-block a {
            margin-top: 25px;
            color: #cd343a;
            border: 2px solid;
            border-radius: 25px;
            padding: 0 30px;
            font-size: 14px;
            line-height: 29px;
            display: block;
            text-decoration: none;
            font-weight: 700; }
            .profile-page #tab4 .items .item .price-block a:hover {
              background: #cd343a;
              color: white; }
  .profile-page #tab5 {
    padding-top: 40px; }
    .profile-page #tab5 .red-link {
      border-top: 1px solid #dddddd;
      margin-bottom: 13px;
      margin-top: 3px;
      padding: 11px 0; }
      .profile-page #tab5 .red-link a {
        margin-top: 15px;
        color: #cd343a;
        border: 2px solid;
        border-radius: 25px;
        padding: 0 23px;
        font-size: 14px;
        line-height: 25px;
        display: inline-block;
        text-decoration: none;
        font-weight: 700; }
        .profile-page #tab5 .red-link a:hover {
          background: #cd343a;
          color: white; }
    .profile-page #tab5 .settings {
      padding: 4px 28px; }
      .profile-page #tab5 .settings h2 {
        font: 24px "Roboto Slab",serif;
        margin-bottom: 25px; }
      .profile-page #tab5 .settings .password h2 {
        margin-top: 10px; }
      .profile-page #tab5 .settings .data, .profile-page #tab5 .settings .password {
        width: 395px; }
        .profile-page #tab5 .settings .data .email, .profile-page #tab5 .settings .password .email {
          float: left; }
        .profile-page #tab5 .settings .data textarea, .profile-page #tab5 .settings .password textarea {
          height: 115px; }
        .profile-page #tab5 .settings .data label, .profile-page #tab5 .settings .password label {
          margin-bottom: 3px; }
        .profile-page #tab5 .settings .data input, .profile-page #tab5 .settings .data textarea, .profile-page #tab5 .settings .password input, .profile-page #tab5 .settings .password textarea {
          outline: none;
          border-radius: 20px;
          border: 3px solid #dddddd;
          text-indent: 20px;
          width: 100%;
          font-size: 13px;
          margin-bottom: 18px;
          line-height: 22px; }
        .profile-page #tab5 .settings .data .red-button, .profile-page #tab5 .settings .password .red-button {
          text-align: center; }
          .profile-page #tab5 .settings .data .red-button button, .profile-page #tab5 .settings .password .red-button button {
            color: #cd343a;
            border: 2px solid;
            border-radius: 25px;
            padding: 0 18px;
            line-height: 28px;
            display: inline-block;
            background: white;
            text-decoration: none;
            font-weight: 700; }
            .profile-page #tab5 .settings .data .red-button button:hover, .profile-page #tab5 .settings .password .red-button button:hover {
              background: #cd343a;
              color: white; }
        .profile-page #tab5 .settings .data label, .profile-page #tab5 .settings .password label {
          display: block;
          text-align: left;
          font: 14px "Roboto Slab",serif; }
      .profile-page #tab5 .settings .subscription .title {
        margin-bottom: 11px; }
      .profile-page #tab5 .settings .subscription div {
        position: relative; }
        .profile-page #tab5 .settings .subscription div label {
          margin-left: 28px;
          line-height: 28px;
          margin-bottom: 2px;
          font-weight: 400; }
        .profile-page #tab5 .settings .subscription div input {
          -webkit-appearance: none; }
        .profile-page #tab5 .settings .subscription div .check {
          position: absolute;
          top: 0;
          outline: none;
          width: 0;
          height: 0; }
          .profile-page #tab5 .settings .subscription div .check:before {
            content: "";
            border: 2px solid #dddddd;
            width: 20px;
            height: 20px;
            display: inline-block; }
          .profile-page #tab5 .settings .subscription div .check:checked:after {
            text-align: center;
            outline: none;
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            top: 0;
            font-size: 16px;
            content: "\f00c";
            font-family: "FontAwesome";
            color: #3BB18F;
            display: inline-block; }