.sales-page .grid-item {
  width: 280px !important;
  margin-bottom: 31px; }
  .sales-page .grid-item .info {
    padding: 25px 20px; }
.sales-page .gray-wrapper {
  background: white;
  padding-left: 28px;
  padding-right: 0px; }
  .sales-page .gray-wrapper h3 {
    font: 30px "Roboto Slab", serif;
    margin: 23px 0 45px; }
  .sales-page .gray-wrapper .name span {
    cursor: pointer; }
    .sales-page .gray-wrapper .name span:hover {
      border-bottom: 1px solid #3BB18F; }
  .sales-page .gray-wrapper .place {
    border: 1px solid #e4e4e4;
    padding: 15px 16px 22px;
    margin-bottom: 30px;
    margin-right: 20px; }
    .sales-page .gray-wrapper .place span {
      display: block;
      font: 16px "Roboto Slab", serif;
      margin-bottom: 13px; }
    .sales-page .gray-wrapper .place a {
      text-decoration: none;
      margin-right: 10px;
      border: 1px dashed #dddddd;
      border-radius: 25px;
      padding: 5px 15px;
      color: #4f4340;
      font: 13px "Open Sans",serif; }
      .sales-page .gray-wrapper .place a.active {
        background: #3BB18F;
        border-color: #3BB18F;
        color: white; }
.sales-page .pags {
  margin: 8px 0 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sales-page .pags a {
    width: 28px;
    margin: 0 5px;
    height: 28px;
    text-align: center;
    font: 14px "Roboto Slab",serif;
    display: block;
    text-decoration: none;
    border: 2px solid #f4e3d6;
    border-radius: 50%;
    font-weight: bold;
    color: #3BB18F;
    line-height: 24px; }
    .sales-page .pags a.active {
      border: 2px solid #3BB18F; }
    .sales-page .pags a:hover {
      border: 2px solid #3BB18F; }
  .sales-page .pags i {
    cursor: pointer;
    font-size: 16px;
    color: #f4e3d6; }
    .sales-page .pags i:hover {
      color: #3BB18F; }
  .sales-page .pags .prev {
    margin-right: 20px; }
  .sales-page .pags .next {
    margin-left: 20px; }