.search-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(248, 248, 248, 0.95);
  z-index: 100;
  padding: 45px 30px; }
  .search-overlay .search-content .results {
    width: 630px;
    margin-right: 30px;
    float: left; }
    .search-overlay .search-content .results h2 {
      color: #4f4340;
      margin: 0 0 15px;
      font: 400 20px "Roboto Slab"; }
    .search-overlay .search-content .results .list .item {
      border: 1px solid #dddddd;
      margin-bottom: 15px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .search-overlay .search-content .results .list .item .image {
        width: 117px;
        padding: 15px;
        border-right: 1px solid #dddddd;
        text-align: center;
        min-width: 110px; }
        .search-overlay .search-content .results .list .item .image img {
          max-width: 100%; }
      .search-overlay .search-content .results .list .item .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 20px; }
        .search-overlay .search-content .results .list .item .info .name {
          border-bottom: 1px solid #3bb18f;
          font: 16px "Roboto Slab";
          margin-bottom: 15px; }
        .search-overlay .search-content .results .list .item .info .options {
          overflow: hidden; }
          .search-overlay .search-content .results .list .item .info .options .price {
            float: left;
            font: 24px "Roboto Slab"; }
            .search-overlay .search-content .results .list .item .info .options .price sub {
              bottom: 0;
              font-size: 16px; }
          .search-overlay .search-content .results .list .item .info .options .red-link {
            margin-bottom: 0;
            float: left;
            margin-left: 20px; }
  .search-overlay .search-content .filters {
    float: left; }
    .search-overlay .search-content .filters .filters-wrapper {
      width: 218px;
      background: white;
      border: 1px solid #dddddd;
      border-bottom: none;
      position: relative; }
      .search-overlay .search-content .filters .filters-wrapper.fixed {
        position: fixed;
        top: 30px;
        z-index: 1; }
    .search-overlay .search-content .filters .filter {
      border-bottom: 1px solid #dddddd;
      max-height: 52px;
      overflow: hidden;
      position: relative; }
      .search-overlay .search-content .filters .filter h4 {
        padding: 15px 20px;
        margin: 0;
        cursor: pointer;
        font: 16px "Roboto Slab"; }
        .search-overlay .search-content .filters .filter h4:after {
          content: "\f107";
          font: 16px "FontAwesome";
          color: #3bb18f;
          margin-left: 10px;
          transition: 0.2s all;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          display: inline-block; }
      .search-overlay .search-content .filters .filter .refresh {
        position: absolute;
        right: 20px;
        top: 15px; }
        .search-overlay .search-content .filters .filter .refresh i {
          color: #cccccc; }
      .search-overlay .search-content .filters .filter .filter-content {
        padding: 0 20px 15px; }
        .search-overlay .search-content .filters .filter .filter-content .tags .tag {
          display: inline-block;
          margin-bottom: 5px;
          font-size: 12px; }
          .search-overlay .search-content .filters .filter .filter-content .tags .tag span {
            border-bottom: 1px dotted #3bb18f; }
          .search-overlay .search-content .filters .filter .filter-content .tags .tag:after {
            content: attr(data-count);
            color: #949494;
            font-size: 9px;
            margin-left: 5px;
            position: relative;
            top: -5px; }
        .search-overlay .search-content .filters .filter .filter-content select {
          width: 100%; }
        .search-overlay .search-content .filters .filter .filter-content .values {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 10px; }
          .search-overlay .search-content .filters .filter .filter-content .values .delimiter {
            width: 30px;
            height: 1px;
            border: 1px solid #dddddd; }
          .search-overlay .search-content .filters .filter .filter-content .values .value {
            width: 75px;
            border-radius: 25px;
            border: 2px solid #dddddd;
            overflow: hidden; }
            .search-overlay .search-content .filters .filter .filter-content .values .value input {
              padding: 0;
              border: none;
              line-height: 24px;
              width: 100%;
              text-align: center; }
        .search-overlay .search-content .filters .filter .filter-content #input-range {
          margin: 20px 10px 30px; }
      .search-overlay .search-content .filters .filter.open {
        max-height: none; }
        .search-overlay .search-content .filters .filter.open h4:after {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
    .search-overlay .search-content .filters .accept-filters {
      position: absolute;
      width: 170px;
      top: calc(50% - 14px);
      left: -185px;
      color: white;
      line-height: 28px;
      font-size: 13px; }
      .search-overlay .search-content .filters .accept-filters svg {
        display: block;
        cursor: pointer; }
        .search-overlay .search-content .filters .accept-filters svg polygon {
          fill: #36A68A; }
        .search-overlay .search-content .filters .accept-filters svg text {
          fill: white;
          font-size: 13px; }