section.about-row {
    height: 300px;
    position: relative;
    padding: 50px;
    
    img {
        position: absolute;
        bottom: 0;
    }
    
    &.left-image {
        padding-left: 335px;
        padding-right: 90px;
        img {left: 0;}
    }
    
    &.right-image {
        padding-right: 335px;
        
        img {right: 0};
    }
    
    
    &.green {
        background: #e6f1ee;
    }
    
    &.gray {
        background: #f1f0ef;
    }
    
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        h3 {
            color: #4f4340;
            font-family: "Roboto Slab", serif;
            font-size: 26px;
            border-bottom: 1px solid #3bb18f;
            line-height: 30px;
            margin-bottom: 20px;
        }
        
        .description {
            font: 16px "Open Sans";
            color: rgb(79, 67, 64);
            line-height: 18px;
	        width: 515px;
        }
        
        .options {
            border: 1px solid #dddddd;
            border-left: none;
            border-right: none;
            width: 100%;
            margin-bottom: 25px;
            
            .option {
                padding: 9px 0;
                float: left;
                margin-right: 15px;
                
                i {color: #3bb18f;}
                
                span, a {
                    color: initial;
                    display: inline-block;
                    margin-left: 7px;
                    line-height: 16px;
                }
                
                a {
                    border-bottom: 1px dotted;
                    text-decoration: none;
                    color: black;
                    
                }
            }
        }
        
        .red-link a {
            margin-bottom: 10px;
        }
    }
    
}