section.goods-row {
    margin: 50px 0;
    padding: 0 20px;
    
    h2 {
        font-family: "Roboto Slab", serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0;
        font-size: 36px;
        
        &:before, &:after {
            width: 80px;
            height: 2px;
            background: #dddddd;
            content: "";
            display: inline-block;
            margin: 0 20px;
        }
    }
    
    .goods-list {
        display: flex;
        align-items: center;
        
        .arrow-left, .arrow-right {
            width: 40px;
            height: 80px;
            border-radius: 25px;
            color:  #3bb18f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid;
            background: white;
            z-index: 2;
            position: relative;
            cursor: pointer;
        }
        
        .goods-carousel {
            width: calc(100% - 40px);
            margin: 0 -20px;
            .good {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
                height: 360px;
                position: relative;
                z-index: 1;
            
                &:before {
                    z-index: -1;
                    content: "";
                    width: 110px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 3px solid rgba(221, 221, 221, 1);
                }
            
                .cover {
                    box-shadow: -5px 4px 0 #e5e5e5;
                    margin-bottom: 4px;
                    position: relative;
                
                    &:hover .info {opacity: 1;}
                
                    img {
                        max-width: 131px;
                    }
                
                    .info {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(242, 242, 242, 0.976);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        opacity: 0;
                        transition: 0.2s;
                    
                        .author {
                            font: 12px "Roboto Slab";
                        
                            &:after {
                                display: block;
                                width: 40px;
                                height: 1px;
                                background: #4f4340;
                                content: "";
                                margin: 10px auto;
                            }
                        }
                    
                        .rate {
                            color: rgb(205, 52, 58);
                            text-align: center;
                            font: 16px "FontAwesome";
                            letter-spacing: 3px;
                            margin-bottom: 35px;
                        }
                    
                        a {
                            color: rgb(79, 67, 64);
                            font-size: 14px;
                            border-bottom: 1px dotted;
                            line-height: 16px;
                            text-decoration: none;
                        
                            &:hover {border-bottom-style: solid;}
                        }
                    }
                }
            
                .title, .price {
                    font-family: "Roboto Slab", serif;
                    font-size: 16px;
                    text-align: center;
                    line-height: 1;
                    background: white;
                    padding-bottom: 13px;
                    &.title {padding-top: 16px;}
                
                    .old-price {
                        color: #cd343a;
                        font-size: 12px;
                        display: inline-block;
                        margin-right: 10px;
                        text-decoration: line-through;
                    }
                }
            
                .red-link a {
                    background: white;
                    margin-bottom: 25px;
                    
                    &:hover {
                        background: #cd343a;
                    }
                }
            
            }
        }
    }
    
   
}