.grid-row {
    
    .grid-item {
        width: 288px;
        border: 5px solid rgba(221, 221, 221, 1);
        margin-bottom: 18px;
        box-sizing: border-box;
        background: white;
        
        > img {
            max-width: 100%;
        }
        
        .name {
            color: rgb(59, 177, 143);
            /*text-decoration: underline;*/
            padding: 20px;
            border-bottom: 1px solid #dddddd;
            
            span {
                color: rgb(79, 67, 64);
                font: 18px "Roboto Slab";
            }
        }
        
        .info {
            padding: 20px;
            color: rgb(79, 67, 64);
            font-size: 14px;
            
            .type-name {
                margin-bottom: 5px;
            }
            
            .type {
                margin-bottom: 10px;
            }
            
            i {
                color:rgb(59, 177, 143);
                margin-right: 5px;
            }
            
            a {
                border-bottom: 1px dotted;
                color: rgb(79, 67, 64);
                text-decoration: none;
                
                &:hover {
                    border-bottom-style: solid;
                }
            }
            
            p {
                font-size: 14px;
                color: rgb(79, 67,64);
                line-height: 18px;
            }
        }
        
        .footer {
            border-top: 1px solid #dddddd;
            padding: 20px;
            display:flex;
            justify-content: space-between;
            
            a {
                border-bottom: 1px dotted;
                color: rgb(79, 67, 64);
                text-decoration: none;
                &:hover {
                    border-bottom-style: solid;
                }
            }
            
            i {
                margin-right: 3px;
                color: rgb(59, 177, 143);
            }
        }
    }
    
}