<footer class="footer">

    <div class="columns">
        <div class="column">
            <a href=""><span>Мероприятия</span></a>
            <a href=""><span>Блог</span></a>
            <a href=""><span>Юридическим лицам</span></a>
            <a href=""><span>О компании</span></a>
            <a href=""><span>Реклама на сайте</span></a>
        </div>
        <div class="column">
            <a href=""><span>Акции и скидки</span></a>
            <a href=""><span>Книга по требованию</span></a>
            <a href=""><span>Антиквариат</span></a>
            <a href=""><span>Подарочные</span><br><span>сертификаты</span></a>
            <a href=""><span>Карта постоянного</span><br><span>покупателя</span></a>
        </div>
        <div class="column">
            <a href=""><span>Контакты</span></a>
            <a href=""><span>Обратная связь</span></a>
            <a href=""><span>Помощь</span></a>
            <a href=""><span>Вакансии</span></a>
            <a href=""><span>Вопрос-ответ</span></a>
        </div>
        <div class="column">
            <a href="" class="icon"><i class="fa fa-vk"></i></a>
            <a href="" class="icon"><i class="fa fa-instagram"></i></a> <br>
            <a href="" class="icon"><i class="fa fa-youtube"></i></a>
            <a href="" class="icon"><i class="fa fa-twitter"></i></a> <br>
            <a href="" class="icon"><i class="fa fa-facebook"></i></a>
            <a href="" class="icon"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="column">
            <a href=""><span>Санкт-Петербургский Дом Книги</span></a>

            <div class="contact-row"><i class="fa fa-map-o"></i> г. Санкт-Петербург, Невский пр-т, 28</div>
            <div class="contact-row"><i class="fa fa-info"></i> Справочная служба: +7 (812) 448-23-55</div>
            <div class="contact-row"><i class="fa fa-shopping-bag"></i> Интернет-магазин: +7 (812) 448-78-88</div>
            <div class="contact-row"><i class="fa fa-envelope-o"></i>zinger@spbdk.ru</div>

            <hr>

            <div class="contact-row"><i class="fa fa-clock-o"></i> Открыт с 09:00 до 01:00</div>
            <div class="contact-row"><i class="fa fa-exchange"></i> Выдача интернет заказов с 09:00 до 23:00</div>
        </div>
    </div>

    <div class="form">
        <div class="row">
            <div class="col-md-6">
                <form action="" id="subscribe">
                    <label for="subscribe-email">Подпишитесь на рассылку: </label>
                    <input type="email" name="email" id="subscribe-email" placeholder="say-hello@gmail.com">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="col-md-6">
                <form action="" id="check-balance">
                    <label for="subscribe-email">Проверьте накопления на карте: </label>
                    <input type="text" name="card-number" id="balance-card-number" placeholder= "000-000-00-00">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
    </div>

    <div class="basement">
        <a href="#">Карта сайта</a>
        <span class="copyright">Санкт-Петербургский Дом Книги, 1919 - 2017. Все права защищены.</span>
    </div>

</footer>

<script type="text/javascript" src="js/libs.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>