<aside class="sidebar">
    <a href="/" class="logo">
        <img src="/img/sidebar/logo_Dk.png" alt="">
    </a>

    <div class="menu-list">
        <a href="" data-icon="" data-badge="> 2 млн.">Каталог товаров</a>
        <a href="" data-icon="">Книга по требованию</a>
        <a href="" data-icon="">Антиквариат и букинистика</a>
        <a href="" data-icon="">Акции и скидки</a>
        <a href="" data-icon="">Мероприятия</a>
        <a href="" data-icon="">Блог</a>
        <a href="" data-icon="">О компании</a>
    </div>

    <div class="menu-list white">
        <a href="" data-icon="">Дисконтная карта</a>
        <a href="" data-icon=""> Оплата и доставка</a>
        <a href="" data-icon=""> Юридическим лицам</a>
    </div>
</aside>