<nav class="topbar">

    <div class="search">
        <form action="">
            <input type="text" placeholder="Поиск по сайту...">
        </form>
    </div>

    <div class="login">
        <i class="fa fa-user-plus icon"></i>
        <a href="/">Войти</a>
        <span class="delimiter">/</span>
        <a href="/">Регистрация</a>
    </div>

    <div class="city">
        <b class="city-name">Санкт-Петербург</b>
        <a href="tel:+78124482355" class="phone">+7 (812) 448-23-55</a>
    </div>
    <div class="cart">
        <span>Корзина </span>
        <div class="cart-badge" data-count="7"><i class="fa fa-shopping-bag"></i></div>

    </div>
</nav>
