section.about-row {
  height: 300px;
  position: relative;
  padding: 50px; }
  section.about-row img {
    position: absolute;
    bottom: 0; }
  section.about-row.left-image {
    padding-left: 335px;
    padding-right: 90px; }
    section.about-row.left-image img {
      left: 0; }
  section.about-row.right-image {
    padding-right: 335px; }
    section.about-row.right-image img {
      right: 0; }
  section.about-row.green {
    background: #e6f1ee; }
  section.about-row.gray {
    background: #f1f0ef; }
  section.about-row .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.about-row .about-content h3 {
      color: #4f4340;
      font-family: "Roboto Slab", serif;
      font-size: 26px;
      border-bottom: 1px solid #3bb18f;
      line-height: 30px;
      margin-bottom: 20px; }
    section.about-row .about-content .description {
      font: 16px "Open Sans";
      color: #4f4340;
      line-height: 18px;
      width: 515px; }
    section.about-row .about-content .options {
      border: 1px solid #dddddd;
      border-left: none;
      border-right: none;
      width: 100%;
      margin-bottom: 25px; }
      section.about-row .about-content .options .option {
        padding: 9px 0;
        float: left;
        margin-right: 15px; }
        section.about-row .about-content .options .option i {
          color: #3bb18f; }
        section.about-row .about-content .options .option span, section.about-row .about-content .options .option a {
          color: initial;
          display: inline-block;
          margin-left: 7px;
          line-height: 16px; }
        section.about-row .about-content .options .option a {
          border-bottom: 1px dotted;
          text-decoration: none;
          color: black; }
    section.about-row .about-content .red-link a {
      margin-bottom: 10px; }