section.goods-row {
  margin: 50px 0;
  padding: 0 20px; }
  section.goods-row h2 {
    font-family: "Roboto Slab", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px 0;
    font-size: 36px; }
    section.goods-row h2:before, section.goods-row h2:after {
      width: 80px;
      height: 2px;
      background: #dddddd;
      content: "";
      display: inline-block;
      margin: 0 20px; }
  section.goods-row .goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.goods-row .goods-list .arrow-left, section.goods-row .goods-list .arrow-right {
      width: 40px;
      height: 80px;
      border-radius: 25px;
      color: #3bb18f;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid;
      background: white;
      z-index: 2;
      position: relative;
      cursor: pointer; }
    section.goods-row .goods-list .goods-carousel {
      width: calc(100% - 40px);
      margin: 0 -20px; }
      section.goods-row .goods-list .goods-carousel .good {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 360px;
        position: relative;
        z-index: 1; }
        section.goods-row .goods-list .goods-carousel .good:before {
          z-index: -1;
          content: "";
          width: 110px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 3px solid #dddddd; }
        section.goods-row .goods-list .goods-carousel .good .cover {
          box-shadow: -5px 4px 0 #e5e5e5;
          margin-bottom: 4px;
          position: relative; }
          section.goods-row .goods-list .goods-carousel .good .cover:hover .info {
            opacity: 1; }
          section.goods-row .goods-list .goods-carousel .good .cover img {
            max-width: 131px; }
          section.goods-row .goods-list .goods-carousel .good .cover .info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(242, 242, 242, 0.976);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            opacity: 0;
            transition: 0.2s; }
            section.goods-row .goods-list .goods-carousel .good .cover .info .author {
              font: 12px "Roboto Slab"; }
              section.goods-row .goods-list .goods-carousel .good .cover .info .author:after {
                display: block;
                width: 40px;
                height: 1px;
                background: #4f4340;
                content: "";
                margin: 10px auto; }
            section.goods-row .goods-list .goods-carousel .good .cover .info .rate {
              color: #cd343a;
              text-align: center;
              font: 16px "FontAwesome";
              letter-spacing: 3px;
              margin-bottom: 35px; }
            section.goods-row .goods-list .goods-carousel .good .cover .info a {
              color: #4f4340;
              font-size: 14px;
              border-bottom: 1px dotted;
              line-height: 16px;
              text-decoration: none; }
              section.goods-row .goods-list .goods-carousel .good .cover .info a:hover {
                border-bottom-style: solid; }
        section.goods-row .goods-list .goods-carousel .good .title, section.goods-row .goods-list .goods-carousel .good .price {
          font-family: "Roboto Slab", serif;
          font-size: 16px;
          text-align: center;
          line-height: 1;
          background: white;
          padding-bottom: 13px; }
          section.goods-row .goods-list .goods-carousel .good .title.title, section.goods-row .goods-list .goods-carousel .good .price.title {
            padding-top: 16px; }
          section.goods-row .goods-list .goods-carousel .good .title .old-price, section.goods-row .goods-list .goods-carousel .good .price .old-price {
            color: #cd343a;
            font-size: 12px;
            display: inline-block;
            margin-right: 10px;
            text-decoration: line-through; }
        section.goods-row .goods-list .goods-carousel .good .red-link a {
          background: white;
          margin-bottom: 25px; }
          section.goods-row .goods-list .goods-carousel .good .red-link a:hover {
            background: #cd343a; }