.grid-row .grid-item {
  width: 288px;
  border: 5px solid #dddddd;
  margin-bottom: 18px;
  box-sizing: border-box;
  background: white; }
  .grid-row .grid-item > img {
    max-width: 100%; }
  .grid-row .grid-item .name {
    color: #3bb18f;
    /*text-decoration: underline;*/
    padding: 20px;
    border-bottom: 1px solid #dddddd; }
    .grid-row .grid-item .name span {
      color: #4f4340;
      font: 18px "Roboto Slab"; }
  .grid-row .grid-item .info {
    padding: 20px;
    color: #4f4340;
    font-size: 14px; }
    .grid-row .grid-item .info .type-name {
      margin-bottom: 5px; }
    .grid-row .grid-item .info .type {
      margin-bottom: 10px; }
    .grid-row .grid-item .info i {
      color: #3bb18f;
      margin-right: 5px; }
    .grid-row .grid-item .info a {
      border-bottom: 1px dotted;
      color: #4f4340;
      text-decoration: none; }
      .grid-row .grid-item .info a:hover {
        border-bottom-style: solid; }
    .grid-row .grid-item .info p {
      font-size: 14px;
      color: #4f4340;
      line-height: 18px; }
  .grid-row .grid-item .footer {
    border-top: 1px solid #dddddd;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .grid-row .grid-item .footer a {
      border-bottom: 1px dotted;
      color: #4f4340;
      text-decoration: none; }
      .grid-row .grid-item .footer a:hover {
        border-bottom-style: solid; }
    .grid-row .grid-item .footer i {
      margin-right: 3px;
      color: #3bb18f; }