#tab1 {
  padding: 25px 0; }
  #tab1 .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px; }
    #tab1 .items .item {
      position: relative;
      border: 3px solid #dddddd;
      margin-bottom: 20px; }
      #tab1 .items .item:first-of-type:after {
        height: 47px;
        width: 36px;
        background: #3bb18f;
        color: white;
        content: "\f295";
        position: absolute;
        top: -3px;
        left: -3px;
        -webkit-clip-path: url(#mark-mask);
        clip-path: url(#mark-mask);
        font-size: 20px;
        line-height: 38px;
        font-family: "FontAwesome";
        text-align: center; }
      #tab1 .items .item:last-of-type:after {
        height: 47px;
        width: 36px;
        background: #ef5228;
        color: white;
        content: "\f06b";
        position: absolute;
        top: -3px;
        left: -3px;
        -webkit-clip-path: url(#mark-mask);
        clip-path: url(#mark-mask);
        font-size: 20px;
        line-height: 40px;
        font-family: "FontAwesome";
        text-align: center; }
      #tab1 .items .item .delete {
        position: absolute;
        right: 30px;
        top: 90px; }
        #tab1 .items .item .delete i {
          font-size: 26px;
          color: #BCBCBC;
          padding-left: 10px; }
      #tab1 .items .item .image {
        border-right: 3px solid #dddddd;
        float: left;
        padding: 13px; }
        #tab1 .items .item .image img {
          padding-bottom: 3px; }
      #tab1 .items .item .description {
        float: left;
        margin-left: 31px;
        width: 350px;
        padding: 29px 0; }
        #tab1 .items .item .description .name {
          margin-bottom: 10px; }
          #tab1 .items .item .description .name span {
            font: 16px "Roboto Slab",serif; }
            #tab1 .items .item .description .name span:hover {
              border-bottom: 1px solid #3BB18F; }
        #tab1 .items .item .description .point {
          float: left; }
          #tab1 .items .item .description .point span {
            font: 20px "Roboto Slab"; }
        #tab1 .items .item .description .gift {
          float: left;
          background-color: #ef5228;
          color: white;
          border-radius: 25px;
          padding: 0 15px;
          font-size: 13px;
          line-height: 25px;
          display: inline-block;
          text-decoration: none;
          font-weight: 700;
          margin-right: 20px; }
      #tab1 .items .item .col {
        float: left;
        margin-top: 93px;
        margin-left: 35px; }
        #tab1 .items .item .col .min, #tab1 .items .item .col .max, #tab1 .items .item .col .number {
          float: left; }
        #tab1 .items .item .col i {
          font-size: 18px;
          color: #3BB18F;
          vertical-align: -webkit-baseline-middle; }
        #tab1 .items .item .col .number {
          border: 2px solid #dddddd;
          border-radius: 13px;
          padding: 2px 11px;
          margin: 0 7px; }
      #tab1 .items .item .price-block {
        margin-top: 89px;
        margin-left: 35px;
        float: left;
        font: 24px "Roboto Slab",serif; }
        #tab1 .items .item .price-block.old {
          margin-top: 75px; }
          #tab1 .items .item .price-block.old a {
            margin-top: 15px; }
        #tab1 .items .item .price-block .old-price {
          color: #BCBCBC;
          display: block;
          font-size: 18px;
          text-decoration: line-through; }
          #tab1 .items .item .price-block .old-price span {
            font-size: 12px;
            color: #BCBCBC; }
        #tab1 .items .item .price-block span {
          font: 16px "Roboto Slab",serif; }
        #tab1 .items .item .price-block a {
          margin-top: 25px;
          color: #cd343a;
          border: 2px solid;
          border-radius: 25px;
          padding: 0 30px;
          font-size: 14px;
          line-height: 29px;
          display: block;
          text-decoration: none;
          font-weight: 700; }
          #tab1 .items .item .price-block a:hover {
            background: #cd343a;
            color: white; }
  #tab1 .total {
    overflow: hidden;
    padding-bottom: 5px; }
    #tab1 .total .promo {
      float: left; }
      #tab1 .total .promo input {
        max-width: 164px; }
    #tab1 .total .certificate {
      float: left;
      margin-left: 32px; }
    #tab1 .total input {
      outline: none;
      border-radius: 20px;
      border: 3px solid #dddddd;
      text-indent: 20px;
      font-size: 13px;
      margin-bottom: 18px;
      line-height: 22px;
      width: 100%; }
    #tab1 .total label {
      display: block;
      text-align: left;
      font: 14px "Roboto Slab",serif; }
      #tab1 .total label i {
        color: #3BB18F;
        padding-left: 8px;
        vertical-align: middle;
        font-size: 20px; }
    #tab1 .total .price {
      font: 24px "Roboto Slab",serif;
      text-align: right;
      margin-top: 10px;
      float: right;
      margin-right: 110px; }
  #tab1 section.goods-row {
    margin: 30px 0; }
  #tab1 .place {
    margin: 46px 0 0; }
    #tab1 .place h2 {
      font: 24px "Roboto Slab", serif;
      margin-bottom: 21px; }
    #tab1 .place a {
      text-decoration: none;
      margin-right: 10px;
      border: 1px dashed #dddddd;
      border-radius: 25px;
      padding: 5px 15px;
      color: #4f4340;
      font: 13px "Open Sans",serif; }
      #tab1 .place a.active {
        background: #3BB18F;
        border-color: #3BB18F;
        color: white; }