#tab2 {
  padding: 25px 0;
  padding-bottom: 38px; }
  #tab2 .info-delivery {
    margin-bottom: 25px; }
    #tab2 .info-delivery h2 {
      font: 24px "Roboto Slab",serif;
      margin-bottom: 25px; }
    #tab2 .info-delivery .password h2 {
      margin-top: 10px; }
    #tab2 .info-delivery .data {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 10px; }
    #tab2 .info-delivery .data .email, #tab2 .info-delivery .password .email {
      float: left; }
    #tab2 .info-delivery .data label, #tab2 .info-delivery .password label {
      margin-bottom: 8px; }
    #tab2 .info-delivery .data input, #tab2 .info-delivery .data textarea, #tab2 .info-delivery .password input, #tab2 .info-delivery .password textarea {
      outline: none;
      border-radius: 20px;
      border: 3px solid #dddddd;
      text-indent: 20px;
      width: 100%;
      font-size: 13px;
      margin-bottom: 14px;
      line-height: 22px; }
    #tab2 .info-delivery .data .red-button, #tab2 .info-delivery .password .red-button {
      text-align: center; }
      #tab2 .info-delivery .data .red-button button, #tab2 .info-delivery .password .red-button button {
        color: #cd343a;
        border: 2px solid;
        border-radius: 25px;
        padding: 0 18px;
        line-height: 28px;
        display: inline-block;
        background: white;
        text-decoration: none;
        font-weight: 700; }
        #tab2 .info-delivery .data .red-button button:hover, #tab2 .info-delivery .password .red-button button:hover {
          background: #cd343a;
          color: white; }
    #tab2 .info-delivery .data label, #tab2 .info-delivery .password label {
      display: block;
      text-align: left;
      font: 14px "Roboto Slab",serif; }
    #tab2 .info-delivery .subscription {
      margin-top: 23px; }
      #tab2 .info-delivery .subscription .title {
        margin-bottom: 11px; }
      #tab2 .info-delivery .subscription div {
        position: relative; }
        #tab2 .info-delivery .subscription div label {
          margin-left: 28px;
          line-height: 26px;
          margin-bottom: 2px;
          font-weight: 400; }
        #tab2 .info-delivery .subscription div input {
          -webkit-appearance: none; }
        #tab2 .info-delivery .subscription div .check {
          position: absolute;
          top: 0;
          outline: none;
          width: 0;
          height: 0; }
          #tab2 .info-delivery .subscription div .check:before {
            content: "";
            border: 2px solid #dddddd;
            width: 20px;
            border-radius: 50%;
            height: 20px;
            display: inline-block; }
          #tab2 .info-delivery .subscription div .check:checked:after {
            text-align: center;
            outline: none;
            position: absolute;
            width: 21px;
            height: 20px;
            line-height: 20px;
            top: 0;
            font-size: 12px;
            content: "\f111";
            font-family: "FontAwesome";
            color: #3BB18F;
            display: inline-block; }