#tab3 {
  margin: 40px 0;
  padding-bottom: 16px; }
  #tab3 .col {
    margin-top: 22px;
    border: 3px solid #dddddd;
    margin-bottom: 25px; }
    #tab3 .col .col-body {
      padding: 0 20px; }
      #tab3 .col .col-body table {
        width: 100%; }
      #tab3 .col .col-body tr {
        border-bottom: 1px dashed #dddddd; }
        #tab3 .col .col-body tr:last-child {
          border-bottom: none; }
        #tab3 .col .col-body tr td {
          padding: 17px 8px;
          margin: 0 20px; }
          #tab3 .col .col-body tr td:first-child {
            font: 16px "Roboto Slab",serif; }
          #tab3 .col .col-body tr td:last-child {
            text-align: right;
            font: 20px "Roboto Slab",serif; }
          #tab3 .col .col-body tr td .old-price {
            font: 16px "Roboto Slab",serif;
            text-decoration: line-through;
            color: #BCBCBC;
            margin-right: 10px; }
    #tab3 .col .col-footer {
      border-top: 3px solid #dddddd;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 18px 27px; }
      #tab3 .col .col-footer span {
        font: 16px "Roboto Slab",serif; }
        #tab3 .col .col-footer span:last-child {
          font: 20px "Roboto Slab",serif; }
  #tab3 .price-block {
    text-align: right;
    margin: 10px 30px 25px 0; }
    #tab3 .price-block .sale {
      font: 18px "Roboto Slab",serif; }
    #tab3 .price-block .price {
      font: 24px "Roboto Slab",serif; }