#tab1{
	padding: 30px;
	padding-top: 65px;
	
	.grid-item{
		width: 250px;
	}
	
	.place{
		padding: 5px 0px 0px;
		margin-bottom: 30px;
		margin-right: 20px;
		span{
			display: block;
			font: 16px "Roboto Slab", serif;
			margin-bottom: 13px;
		}
		a{
			text-decoration: none;
			margin-right: 10px;
			border: 1px dashed #dddddd;
			border-radius: 25px;
			padding: 5px 15px;
			color: rgb(79, 67, 64);
			font: 13px "Open Sans",serif;
			&.active{
				background: #3BB18F;
				border-color: #3BB18F;
				color: white;
			}
		}
	}
}