#tab2{
	padding: 30px;
	overflow: hidden;
	.card{
		.sum{
			font: 16px "Roboto Slab",serif;
			width: 240px;
			float: left;
			border: 3px solid #dddddd;
			border-radius: 5px;
			text-align: center;
			padding: 15px 0;
			
			div{
				font: 16px "Roboto Slab",serif;
				border-top:1px solid #dddddd;
				padding-top: 15px;
				margin-top: 15px;
				span{
					display: block;
					font: 24px "Roboto Slab";
					span{
						font: 22px "Roboto Slab";
						display: inline;
					}
				}
			}
		}
		
		.sales{
			float: left;
			margin-left:20px;
			.sale{
				font: 16px "Roboto Slab",serif;
				text-align: right;
				float: left;
				margin:20px 0;
				padding-right: 20px;
			}
			.delimiter{
				border-right: 1px dotted #dddddd;
				width: 1px;
				height: 40px;
				float: left;
				margin-top: 22px;
				&:after{
					content: "5%";
					font: 24px "Roboto Slab";
					color: #3BB18F;
					margin-left: 15px;
				}
			}
			a{
				color: rgb(51, 51, 51);
				text-decoration: none;
				margin-bottom: 5px;
				display: block;
				span{
					border-bottom: 1px dotted;
				}
			}
		}
		
	}
}