#tab3{
	padding: 30px;
	padding-top: 48px;
	
	
	table{
		border: 0;
		
		tr{
			&:last-child{
				td{
					border-bottom: 0;
				}
			}
			td{
				border: 0;
				border-right: 1px solid #dddddd;
				border-bottom: 1px dotted #dddddd;
				padding: 0 15px;
				
				&:last-child{
					border-right: 0;
				}
				
				i{
					color: #3BB18F;
					margin-right: 5px;
				}
			}
		}
		
	}
	.col {
		margin-top: 20px;
		border: 1px solid #dddddd;
		overflow: hidden;
		
		&.col-hidden {
			height: 49px;
		}
		.col-header {
			background: #f8f8f8;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 25px;
			border-bottom: 1px solid #dddddd;
			font: 16px "Roboto Slab";
			cursor: pointer;
			
			.name{
				font: 16px "Roboto Slab",serif;
			}
			
			i {
				color: #3bb18f;
				font-size: 18px;
				margin-right: 5px;
			}
			
			.toggle {
				font-size: 12px;
				
				i {
					margin-right: 0;
					margin-left: 5px;
				}
			}
			
			
			> *{
				white-space: nowrap;
			}
		}
		
		.col-body {
			padding: 22px 20px;
		}
	}
}
