#tab4{
	padding: 25px;
	padding-top: 65px;
	
	
	.items{
		display: flex;
		flex-direction: column;
		.item{
			position: relative;
			border:3px solid #dddddd;
			margin-bottom: 20px;
			
			.delete{
				position: absolute;
				right: 30px;
				top: 90px;
				i{
					font-size: 26px;
					color: #BCBCBC;
					padding-left: 10px;
				}
			}
			
			.image{
				border-right: 3px solid #dddddd;
				float: left;
				padding: 13px;
				
			}
			.description{
				float: left;
				margin-left: 31px;
				width: 350px;
				padding: 25px 0;
				.name{
					margin-bottom: 10px;
					span{
						font:16px "Roboto Slab",serif;
						&:hover{
							border-bottom: 1px solid #3BB18F;
						}
					}
				}
				.point{
					float: left;
					span{
						font:20px "Roboto Slab";
					}
				}
				.gift{
					float: left;
					background-color: #ef5228;
					color: white;
					border-radius: 25px;
					padding: 0 9px;
					font-size: 14px;
					line-height: 25px;
					display: inline-block;
					text-decoration: none;
					font-weight: 700;
					margin-right: 20px;
				}
			}
			.col{
				float: left;
				margin-top: 88px;
				margin-left: 35px;
				.min,.max,.number{
					float: left;
				}
				i{
					font-size: 18px;
					color:#3BB18F;
					vertical-align: -webkit-baseline-middle;
				}
				.number{
					border: 2px solid #dddddd;
					border-radius: 13px;
					padding: 2px 11px;
					margin: 0 7px;
				}
			}
			.price-block{
				margin-top: 89px;
				margin-left: 35px;
				float: left;
				font: 24px "Roboto Slab",serif;
				
				&.old{
					margin-top: 75px;
					a{
						margin-top: 15px;
					}
				}
				
				.old-price{
					color: #BCBCBC;
					display: block;
					font-size: 18px;
					text-decoration: line-through;
					span{
						font-size: 12px;
						color: #BCBCBC;
					}
					
				}
				span{
					font: 16px "Roboto Slab",serif;
				}
				
				a{
					margin-top: 25px;
					color: #cd343a;
					border: 2px solid;
					border-radius: 25px;
					padding: 0 30px;
					font-size: 14px;
					line-height: 29px;
					display: block;
					text-decoration: none;
					font-weight: 700;
					&:hover{
						background: #cd343a;
						color: white;
					}
				}
			}
			
		}
	}
}