#tab5{
	padding-top: 40px;
	
	.red-link{
		border-top: 1px solid #dddddd;
		margin-bottom: 13px;
		margin-top: 3px;
		padding: 11px 0;
		a{
			margin-top: 15px;
			color: #cd343a;
			border: 2px solid;
			border-radius: 25px;
			padding: 0 23px;
			font-size: 14px;
			line-height: 25px;
			display: inline-block;
			text-decoration: none;
			font-weight: 700;
			&:hover{
				background: #cd343a;
				color: white;
			}
		}
	}
	
	.settings{
		padding: 4px 28px;
		
		h2{
			font: 24px "Roboto Slab",serif;
			margin-bottom: 25px;
		}
		
		.password{
			h2{
				margin-top: 10px;
			}
		}
		
		.data,.password{
			width: 395px;
			
			.email{
				float: left;
			}
			
			textarea{
				height: 115px;
			}
			
			label{
				margin-bottom: 3px;
			}
			
			input, textarea{
				outline: none;
				border-radius: 20px;
				border: 3px solid #dddddd;
				text-indent: 20px;
				width:100%;
				font-size: 13px;
				margin-bottom: 18px;
				line-height: 22px;
			}
			
			.red-button{
				text-align: center;
				button{
					color: #cd343a;
					border: 2px solid;
					border-radius: 25px;
					padding: 0 18px;
					line-height: 28px;
					display: inline-block;
					background: white;
					text-decoration: none;
					font-weight: 700;
					&:hover{
						background: #cd343a;
						color: white;
					}
				}
			}
			
			label{
				display: block;
				text-align: left;
				font: 14px "Roboto Slab",serif;
			}
		}
		
		.subscription{
			
			.title{
				margin-bottom: 11px;
			}
			
			div{
				position: relative;
				
				label{
					margin-left: 28px;
					line-height: 28px;
					margin-bottom: 2px;
					font-weight: 400;
				}
				input{
					-webkit-appearance: none;
				}
				.check{
					position: absolute;
					top:0;
					outline: none;
					width: 0;
					height: 0;
					&:before{
						content: "";
						border: 2px solid #dddddd;
						width: 20px;
						height: 20px;
						display: inline-block;
					}
					&:checked{
						&:after{
							text-align: center;
							outline: none;
							position: absolute;
							width: 20px;
							height: 20px;
							line-height: 20px;
							top:0;
							font-size: 16px;
							content: "\f00c";
							font-family: "FontAwesome";
							color: #3BB18F;
							display: inline-block;
						}
					}
				}
			}
			
		}
		
	}
}