#tab1{
	h2{
		font: 24px "Roboto Slab",serif;
		padding: 0px 29px;
	}
	
	form{
		margin-top: 25px;
		padding: 0px 29px;
	}
	
	
	input, textarea,select,option{
		outline: none;
		border-radius: 20px;
		border: 3px solid #dddddd;
		text-indent: 20px;
		width: 100%;
		font-size: 13px;
		margin-bottom: 13px;
		line-height: 22px;
	}
	
	.legal{
		margin-bottom: 18px;
		
		select{
			width: 187px;
			text-indent: 15px;
			outline: none;
			border-radius: 20px;
			border: 3px solid #dddddd;
			font-size: 13px;
			line-height: 22px;
		}
	}
	
	label{
		display: block;
		text-align: left;
		font: 14px "Roboto Slab",serif;
		margin-bottom: 8px;
	}
	
	.col-header{
		padding-bottom: 12px;
	}
	
	.col-footer{
		border-top: 1px solid #dddddd;
		
		
		.data{
			padding: 16px 29px;
			margin-top: 3px;
		}
	}
	
	.red-link{
		padding: 20px 0;
		border-top: 1px solid #dddddd;
	}
	
}