#tab2{
	padding: 0px 29px;
	
	h2{
		font: 24px "Roboto Slab",serif;
		margin-bottom: 27px;
	}
	ul{
		margin-bottom: 28px;
		padding: 0;
		
		&.word{
			span{
				border-bottom: 1px dotted #3BB18F;
				text-decoration: none;
			}
		}
		
		li{
			margin-bottom: 5px;
			font-size: 14px;
			list-style-type: none;
			
			&.title{
				font: 14px "Roboto Slab",serif;
				margin-bottom: 10px;
			}
			
			span{
				text-decoration: underline;
			}
			
			i{
				width: 30px;
				text-align: center;
				font-size: 16px;
				color: #3BB18F;
				padding-right: 10px;
			}
		}
		
	}
	
	.col-2{
		li{
			margin-bottom: 12px;
		}
	}
}