#tab3{
	
	
	.col-header{
		padding: 0px 29px;
	}
	
	.col-footer{
		margin-top: 11px;
	}
	
	h2{
		font: 24px "Roboto Slab",serif;
		margin-bottom: 27px;
	}
	
	.search{
		margin-bottom: 10px;
		label{
			display: block;
			text-align: left;
			font: 14px "Roboto Slab",serif;
			margin-bottom: 8px;
		}
		
		form{
			position: relative;
			&:after{
				position: absolute;
				content: "\f002";
				font: 16px FontAwesome;
				color: #3BB18F;
				right: 13px;
				top: 32px;
			}
		}
		
	}
	
	input{
		outline: none;
		border-radius: 20px;
		border: 3px solid #dddddd;
		text-indent: 20px;
		width: 100%;
		font-size: 13px;
		margin-bottom: 13px;
		line-height: 22px;
	}
	
	select{
		outline: none;
		border-radius: 20px;
		border: 3px solid #dddddd;
		text-indent: 20px;
		font-size: 13px;
		margin-bottom: 13px;
		line-height: 22px;
		width: 150px;
	}
	
	.error{
		font-size: 12px;
		color: #EF5228;
		border: 1px dashed #EF5228;
		border-radius: 10px;
		display: inline-block;
		padding: 1px 9px;
	}
	
	.success{
		font-size: 12px;
		color: #3BB18F;
		border: 1px dashed #3BB18F;
		border-radius: 10px;
		display: inline-block;
		padding: 1px 9px;
	}
	
	.show,.date{
		margin-bottom: 14px;
		float: left;
		label{
			font: 14px "Roboto Slab",serif;
			margin-right: 15px;
		}
	}
	
	.date{
		margin-left: 25px;
	}
	
	.red-link{
		padding: 20px 0;
		border-top: 1px solid #dddddd;
		a{
			i{
				padding-right: 8px;
				font-size: 16px;
				color: #cd343a;
			}
			
			&:hover{
				i{
					color: white;
				}
			}
		}
	}
	
	.delimiter{
		border-bottom: 1px dashed #dddddd;
	}
	
	table{
		width: 100%;
		
		
		i{
			color: #3BB18F;
			padding-right: 10px;
			font-size: 16px;
		}
		
		thead{
			tr{
				border-bottom: 1px solid #dddddd;
				td{
					padding: 12px 0;
					font: 14px "Roboto Slab",serif;
					
					&:first-child{
						width: 145px;
					}
					&:nth-child(2){
						width: 322px;
					}
					&:nth-child(3){
						width: 180px;
					}
					
				}
			}
		}
		
		table{
			margin: 8px 0;
			
			tr{
				&:first-child{
					td:nth-child(2){
						padding-left: 0;
					}
				}
				
				td{
					padding: 5px 0;
					
					&:first-child{
						width: 145px;
					}
					&:nth-child(2){
						width: 322px;
					}
					&:nth-child(3){
						width: 180px;
					}
					
					
					span{
						border-bottom: 1px dotted #3BB18F;
					}
					
					&:nth-child(2){
						padding-left: 28px;
					}
					
				}
			}
		}
		
	}
	
}