#tab4{
	
	.col-head{
		padding: 2px 29px;
	}
	
	.col-footer{
		margin-top: 20px;
	}
	
	h2{
		font: 24px "Roboto Slab",serif;
		margin-bottom: 22px;
	}
	
	.subscription{
		
		.title{
			margin-bottom: 11px;
		}
		
		div{
			position: relative;
			
			label{
				margin-left: 28px;
				line-height: 28px;
				margin-bottom: 2px;
				font-weight: 400;
			}
			input{
				-webkit-appearance: none;
			}
			.check{
				position: absolute;
				top:0;
				outline: none;
				width: 0;
				height: 0;
				&:before{
					content: "";
					border: 2px solid #dddddd;
					width: 20px;
					height: 20px;
					display: inline-block;
				}
				&:checked{
					&:after{
						text-align: center;
						outline: none;
						position: absolute;
						width: 20px;
						height: 20px;
						line-height: 20px;
						top:0;
						font-size: 16px;
						content: "\f00c";
						font-family: "FontAwesome";
						color: #3BB18F;
						display: inline-block;
					}
				}
			}
		}
		
	}
	
	.email,.phone{
		margin-top: 20px;
		input, textarea{
			outline: none;
			border-radius: 20px;
			border: 3px solid #dddddd;
			text-indent: 20px;
			width:100%;
			font-size: 13px;
			margin-bottom: 18px;
			line-height: 22px;
		}
		
		
		label{
			display: block;
			text-align: left;
			font: 14px "Roboto Slab",serif;
			margin-bottom: 9px;
		}
	}
	
	.red-link{
		padding: 20px 0;
		border-top: 1px solid #dddddd;
	}
	
	
}